/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .tableScrollMAT {
        height: 900px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */


/*--Copied from account plans----*/
.THIS {
    /*background-color: white;*/
    /*position: fixed;*/
}
.THIS .slds-icon-custom-custom63{
    background-color:#7f8de1;
}
.THIS .bold {
font-weight:bold;
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .tableScrollMAT {
        height: 900px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
    .THIS .headerTitle{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
        margin-top:7px;
    }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .tableScrollMAT {
        height: 568px;
        overflow-y: scroll;
        padding-bottom:17rem;
    }
    .THIS .headerTitle{
        font-size: 1.25rem;
        margin: 0 0 .5rem 0;
        font-weight:300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
    }
	.THIS .centerEverywhere{
        text-align:right;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
    .THIS .tableScrollMAT {
        height: 667px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
    .THIS .headerTitle{
        font-size: 1.25rem;
        margin: 0 0 .5rem 0;
        font-weight:300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
    }
	.THIS .centerEverywhere{
        text-align:right;
    }
}
.THIS .slds-max-medium-table_stacked-horizontal th:before{
    text-transform:none;
}
.THIS .slds-max-medium-table_stacked-horizontal td:before{
    text-transform:none;
}


@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) 
    and (orientation : landscape){
    .THIS .CenterAlign {
        text-align:center;
    }
    .THIS .RightAlign {
        text-align:right !important;
    }
    .THIS .LeftAlign {
        text-align:left;
    }
       
}
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) 
    and (orientation : portrait){
    .THIS .centerEverywhere{
        text-align:right;
    }    
}
/* ----------- ipad 10.5 ------*/
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 834px) 
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2) {
	.THIS .headerFont{
        font-size: 10px;
    }
    .THIS .BodyFont{
        font-size: 14px;
    }
    .THIS .slds-gutters_small{
        margin-right:0px;
    }
    .THIS .sectionLabel{
        font-size: .75rem;
    }
    .THIS .sectionText{
        font-size: .875rem;
    }
    .THIS .sectionHeader{
        font-size: .750rem;
    }
    .THIS .TABMOBILEBG{
        /*background-color:rgb(243, 242, 242);*/
        background-color:#FFFFFF;
    }
    .THIS .headerTitle{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .THIS .headerSubTitle{
       font-size: .875rem;
        font-weight: 400;
        margin-top:7px;
    }
    .THIS .slds-page-header{
        box-shadow:none;
        border:none;
    }
    .THIS .tabLabel{
        font-size: .860rem;
    }
    .THIS .slds-tabs_default__nav{
        padding : 0 1rem;
        background-color:rgb(243, 242, 242);
        border: none;
    }
}
@media only screen
    and (min-device-width: 834px) 
    and (max-device-width: 834px) 
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .tableScrollMAT {
        height: 1112px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
}

@media only screen
    and (min-device-width: 1112px)
    and (max-device-width: 1112px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .tableScrollMAT {
        height: 834px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
}
/* ----------- ipad 10.5 ------*/

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait */
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
	.THIS .tableScrollMAT {
        height: 900px;
        /*max-height: 1024px;*/
        overflow-y: scroll;
        padding-bottom:9rem;
    }
    .THIS .headerFont{
        font-size:.73rem;
    }
    .THIS .BodyFont{
        font-size:.73rem;
    }
}

/* Landscape */
@media only screen 
and (min-device-width: 1366px) 
and (max-device-width: 1366px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) {
	.THIS .tableScrollMAT {
        height: 600px;
        /*max-height: 768px;*/
        overflow-y: scroll;
        padding-bottom:9rem;
    }
    .THIS .headerFont{
        font-size:.73rem;
    }
    .THIS .BodyFont{
        font-size:.73rem;
    }
}