/**
 * Created by rchen180 on 17/4/12.
 */
.THIS .padding-for-form{
    padding: 6px;
}

.THIS .no-padding {
    padding: 0;
}

.THIS .padding-for-search {
    padding: 16px;
}

.THIS .slds-has-dividers--around-space .slds-item {
    cursor: pointer;
}

.THIS .user-name {
    color: rgb(0, 95, 178);
}

.THIS .user-name:hover, .THIS .user-name:focus {
    color: rgb(0, 95, 178);
}