.THIS 
{
    background-color: white;
}
.THIS .card-con3 {
    padding: 0px 15px 0px 15px;
}
.THIS .card-con3 {
    border: 1px solid rgb(216, 221, 230);
    border-radius: .25rem;
    background: #FFF;
    height: 100%;
    padding-bottom: 20px;
}

/* Added by MB - 10/18/17 */
.THIS .padding-for-search {
    padding: 16px;
    font-size: 16px;
}/* End of Code by MB - 10/18/17 */

.THIS .v-all-btn {
    position: relative;
    bottom: -28px;
    left: 15px;
}

.THIS tr, .THIS td {
    font-size: 12px;
}

.THIS .btn-wrapper {
    height: 80px;
    text-align: center;
    padding-top: 20px;
}

.THIS .title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
}


.THIS .table-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0;
}

.THIS .viewPrice-title {
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
}

.THIS .hide {
    display: none;
}

.THIS .show {
    display: block;
}

.THIS .fixed {
    position: fixed;
}

.THIS .err-msg {
    color: red;
    position: absolute;
    right: 0;
}

.THIS .relative {
    position: relative;
}

.THIS .back-btn {
    position: absolute;
    left: 0;
    top: 6px;
}

.THIS .scroll-part {
    display: block;
    max-height: 100%;
    overflow-y: auto; /*scroll;
    z-index: 10; /*Added by MB 06/21/17 */
}
.THIS .scroll-table {
    display: block;
    max-height: 60px;
    overflow-y: hidden; /*scroll;
    z-index: 10; /*Added by MB 06/21/17 */
}
.THIS .first-td:first-child{
    border: none;
}

.THIS .border-top-none {
    border-top: none;
}

.THIS .border-bottom-none {
    border-bottom: none;
}

.THIS .product-name {
    cursor: pointer;
}

.THIS .product-name:hover {
    color: #005fb2;
}

.THIS .slds-hint-parent .slds-truncate {
    padding: 0 .5rem;
}
.THIS tr.inactive-record, .THIS tr.inactive-record:hover {
    color: rgba(0, 0, 0, 0.7);
    background: none rgba(0, 0, 0, 0.2);
}

.THIS .componentHeader {
    position: fixed;
    width: 95%;
    left: 1.25%;
    /*top: 7.3rem;*/
    z-index: 10;
    background-color: rgb(255, 255, 255);
}

.THIS .componentHeader {
    margin: 0rem 0;
}
@media screen and (max-width: 1024px) {
    .THIS .componentHeader {
        position: fixed;
        /*width: 98%;*/
        left: 1%;
        /*top: 0;*/
        padding: 0px 2px;
        background-color: rgb(255, 255, 255);
    }
    /* Added by MB - 09/13/17 */
    .THIS .iframe {
        width: 98%;
        max-height: 100%;
        
    } 
    .THIS .iframeTag {
        width: 98%;
        max-height: 100%;
    }/* end of code */
    
    .THIS .title {
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        padding: 10px 0;
    }
}
/* Added by MB - 10/18/17 */
@media screen and (max-width: 1024px){ 
    .THIS .padding-for-search{
        font-size: 16px;
    }
} /* End of Code by MB - 10/18/17 */

.THIS .slds-card {
    background-color: rgb(255, 255, 255);
}