.THIS {}
.THIS .slds-item a, .THIS .slds-item a:hover,
.THIS.slds-item a, .THIS.slds-item a:hover { 
	color: #16325c; text-decoration: none; 
}
.THIS .slds-text-heading--small.groupTitle, .THIS.slds-text-heading--small.groupTitle { 
	text-transform: uppercase; font-weight: bold; 
}
.THIS .slds-icon-standard-trans { background-color: transparent; }