/* Ipad - Pro - 12.5 Inch 
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1366px) 
    and (orientation : landscape) { 
    .THIS#responsiveTab {
        height: 785px; 
/*        width: 1048px; 
        width: 1097px;
    }
    
    .THIS#responsiveAction {
        height: 785px; 
        width: 1048px; 
    }
    
}        

@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait) {
    .THIS#responsiveTab {
        height: 1024px; 
        width: 768px;
    }    
    .THIS#responsiveAction {
       height: 1024px; 
        width: 768px;
    }
} */

/* Ipad - Pro - 9.7 Inch Mohawk old */ 
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) 
    and (orientation : portrait){
    
    /* Your Styles... */ 
     .THIS#responsiveTab {
        height: 970px; 
        width: 768px;
    }    
    
    .THIS#responsiveAction {
       height: 1024px; 
       width: 768px;
       right: 0 !important;
       top: 0 !important;
       position: absolute !important;    
    }
    
}
/* Ipad - Pro - 9.7 Inch Mohawk old */ 
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) 
    and (orientation : landscape){
    
    /* Your Styles... */ 
     .THIS#responsiveTab {
        height: 700px; 
        width: 1004px;
    }    
    .THIS#responsiveAction {
       height: 750px; 
       width: 990px;
       right: 0 !important;
       top: 0 !important;
       position: absolute !important;    
    }
    
}

/* Ipad - Pro - 10.5 Inch Mohawk Standard */ 
@media only screen 
       and (min-device-width: 834px) 
       and (max-device-width: 1112px)
        and (orientation: portrait) { 
    /* Styles... */
    .THIS#responsiveTab {
        height: 1050px; 
        width: 818px;
    }    
    .THIS#responsiveAction {
       height: 1100px; 
        width: 810px;
        right: 0 !important;
        top: 0 !important;
        position: absolute !important;  
    }
}

@media only screen 
       and (min-device-width: 834px) 
       and (max-device-width: 1112px) 
       and (orientation: landscape) { 
    /* Styles... */
     .THIS#responsiveTab {
        height: 785px; 
   /*   width: 1048px; */
        width: 1097px;
    }    
    .THIS#responsiveAction {
        height: 830px; 
        width: 1090px; 
        right: 0 !important;
        top: 0 !important;
        position: absolute !important;  
    }
}

/* Iphone 6,7,8 Plus */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {

   .THIS#responsiveTab {
        height: 684px;
        width: 400px;
    }    
    .THIS#responsiveAction {
        height: 736px;
        width: 408px;
        right: 0 !important;
        top: 0 !important;
        position: absolute !important;
    }
}

/* Iphone 6,7,8 */
@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px)
    and (-webkit-max-device-pixel-ratio: 2) { 
    .THIS#responsiveTab {
        height: 620px;
        width: 361px;
    }    
    .THIS#responsiveAction {
	  height: 667px;
        width: 375px;
        right: 0 !important;
        top: 0 !important;
        position: absolute !important;
    }
}


.THIS.stickyHead {
  top: 0 !important;
  right: 0 !important;
  position: absolute !important;
  z-index: 10;
}