.THIS .LeftAlign {
        text-align:right;
    }
.THIS .componentHeader {
    position: absolute;
    width: 95%;
    left: 1.25%;
    /*top: 7.3rem;*/
    z-index: 10;
    background-color: rgb(255, 255, 255);
	margin: 0rem 0;
    /*top:50px;*/
}
.THIS .slds-icon-custom-custom64{
    background-color:#f28b00;
}
.THIS .bold {
font-weight:bold ;
}
.THIS.tableScroll {
    height: 400px;
    /*overflow-y: scroll;*/
    overflow-y: auto;
    padding-bottom:9rem;
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS.tableScroll {
        height: 900px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
    .THIS .TABMOBILEBG{
        background-color:rgb(243, 242, 242);
    }
    .THIS .headerTitle{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
        margin-top:7px;
    }
    .THIS.slds-page-header{
        box-shadow:none;
        border:none;
    }
    .THIS .slds-tabs_default__nav{
        padding:0 1rem;
    }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS.tableScroll {
        height: 500px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
    .THIS .TABMOBILEBG{
        background-color:rgb(243, 242, 242);
    }
    .THIS .headerTitle{
        font-size: 1.25rem;
        margin: 0 0 .5rem 0;
        font-weight:300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
    }
    .THIS.slds-page-header{
        border:none;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
    .THIS.tableScroll {
        height: 600px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
    .THIS .TABMOBILEBG{
        background-color:rgb(243, 242, 242);
    }
    .THIS .headerTitle{
        font-size: 1.25rem;
        margin: 0 0 .5rem 0;
        font-weight:300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
    }
    .THIS.slds-page-header{
        border:none;
    }
    
}
.THIS .tabLabel{
        font-size: .850rem;
    }