.THIS {
    background-color: white;
}
.THIS .hide, .THIS.hide {
	display: none;
}
.THIS .create-contact-btn{
	z-index:3000;
}
.THIS .slds-form-element .slds-checkbox, .THIS .slds-form-element .slds-radio {
	float: left;
	margin-right: 10px;
}

.THIS .break-line{
	height: 48px;
	width: 90%;
}
/*.THIS .checkout-header{
	position: absolute!important;
	z-index: 2000!important;
	margin-top: -2%!important;
	right:5%!important;
}*/
/*
.THIS .wrapper-for-button {
	position: relative;
}*/

.THIS .header-text{
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.25;
	margin-right: 10px;
	margin-left: 10px;
}
.THIS .header{
	position: absolute;
	margin: -16px auto;
	padding-bottom: 10px;
	border-bottom: 1px solid #d8dde6;
	background-color: white;
	z-index: 5000;
	width: 95%;
	padding-top: 10px;
	margin-top: -16px;
}

.THIS .title-and-select {
	text-align: center;
	font-weight: bold;
	padding: 10px 0;
	font-size: 18px;
	line-height: 40px;
}

.THIS .header-btn{
	margin-top:15px;
}

.THIS .componentHeader {
	position: absolute;
	width: 91.25%;
	/*left: 1.25%;*/
	/*top: 7.3rem;*/
	z-index: 5555;
    background-color: rgb(255, 255, 255);
}
.THIS .componentHeader {
	margin: -0 0;
}
.THIS .slds-page-header{
        background-color: white;
        padding-left: 0px;
        padding-right: 0px;
        border: 0px;
    	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    }
.THIS .slds-page-header__title {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.25;
}

.THIS .slds-modal__container {
    max-width: 70rem !important;
    width: 30% !important;
}
@media screen and (max-width: 1024px) {
	.THIS .componentHeader {
		position: fixed;
		/*width: 98%;*/
		left: 4.5%;
		top: 0;
        background-color: rgb(255, 255, 255);
	}
    .THIS .componentHeader {
        margin: -15px 0;
    }
    .THIS .slds-page-header{
        background-color: white;
        padding-left: 0px;
        padding-right: 0px;
        border: 0px;
    }
}