.THIS.hide-all{
	display: none;
}

.THIS .hide-all{
	display: none;
}

.THIS .bottom {
	height: 60px;
	position: relative;
}

.THIS .button-group {
	    position: absolute;
        top: 20px;
}
.THIS .componentHeader {
    position: absolute;
    width: 95%;
    left: 1.25%;
    /*top: 7.3rem;*/
    z-index: 10;
    background-color: rgb(255, 255, 255);
}