.THIS.borderTop{
    border-top:1px;
}
.THIS .bold {
font-weight:bold;
}


.THIS .slds-table thead th{
    background-color: rgb(250, 250, 249);
}
@media only screen and (orientation:landscape){
    .THIS .centerEverywhere{
    text-align:center;
}}
@media screen and (orientation:portrait) { 
    .THIS .centerEverywhere{
    text-align:right;
} }


@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) 
    and (orientation : landscape){
    .THIS .CenterAlign {
        text-align:center;
    }
    .THIS .RightAlign {
        text-align:right !important;
    }
    .THIS .LeftAlign {
        text-align:left;
    }
    .THIS .centerEverywhere{
        text-align:center;
    }    
}
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) 
    and (orientation : portrait){
    .THIS .centerEverywhere{
        text-align:right;
    }    
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .centerEverywhere{
        text-align:right;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
    .THIS .centerEverywhere{
        text-align:right;
    }
}
.THIS .slds-max-medium-table_stacked-horizontal th:before{
    text-transform:none;
}
.THIS .slds-max-medium-table_stacked-horizontal td:before{
    text-transform:none;
}