/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    
    .THIS.tableScroll {
        height: 900px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
    
    .THIS.tableScroll {
        height: 500px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
    
    .THIS.tableScroll {
        height: 600px;
        overflow-y: scroll;
        padding-bottom:9rem;
    }
    
}