<apex:component controller="MashupComponent_CC">

	<apex:attribute type="String" description="object name" name="reqObjectName" assignTo="{!objectName}" />
	<apex:attribute type="String" description="object id" name="reqObjectId" assignTo="{!objectId}" />
	<apex:attribute type="String" description="recordType either Hybris or Reports" name="reqRecordType" assignTo="{!recordType}" />
	<!-- <apex:attribute type="Object" description="object variable" name="reqObjectVar" assignTo="{!objectVar}" /> -->

	<apex:attribute type="Boolean" description="render for SF1 Mobile Card" name="reqIsMobileCard" default="false" />

	<apex:stylesheet value="{!$Resource.SLDS + '/assets/styles/salesforce-lightning-design-system.css'}"/>
	<apex:includeScript value="{!$Resource.jquerylib + '/jquery.js'}" />
	
	<apex:variable var="isDetailPage" value="{!IF(CONTAINS($CurrentPage.URL,'vfRetURLInSFX'),true,true)}" />

	<apex:variable var="renderObject" value="{!RenderObjectData}" />
	
	<style type="text/css">
		.wrapper { padding: 10px 10px; }
		html { background: transparent; }
		body { margin: {! if(and(isDevice, !isDetailPage), '-1.1rem 0 0 -0.9rem', '0')}; }
		#sections a, #sections a:hover, #sections a:visited { text-decoration: none; }
		.forceEntityIcon.small {
		    width: 2rem;
		    height: 2rem;
		}
		.slds-icon-standard-trans { background-color: transparent; }
		.slds-card {
		    background: transparent;
		    border: {! if(and(isDevice, isDetailPage), '1', '0')}px solid #d8dde6;
		}
		.slds-text-heading--medium { font-weight: 400; }
		#iframe {
			display: none;
			min-height: 400px;
		}
		.slds-item a, .slds-item a:hover { color: #16325c; text-decoration: none; }
		.slds-text-heading--medium.groupTitle { text-transform: uppercase; font-weight: bold; }
	</style>
	<apex:outputPanel rendered="{! isDevice }">
        <style>
            /*@media screen and (max-width: 1024px) {*/
                .slds-grid ul {
                    width: 100%;
                    background: none white;
                }           
            /*}*/
        </style>
    </apex:outputPanel>

	<apex:includeLightning />
	
	<!--<div style="display: none;">{!IF(userDeviceInfo == 'Theme4t','In Mobile','Desktop')}</div>-->

	<apex:outputPanel rendered="{! isDevice }">
		<!-- dummy call to get count -->
		<apex:repeat value="{!RecordsByGroup}" var="type"></apex:repeat>

		<apex:variable var="pageTitle" value="{!IF(recordType=='Reports', 'Related Reports', 'Mohawk Xchange')}" />

		<article class="slds-card forceBaseCard forceCard forceRelatedListCard slds-{!IF(userDeviceInfo == 'Theme4t','show','hide')}" aria-describedby="header" data-aura-class="forceBaseCard forceCard forceRelatedListCard">
			<div class="slds-card__header slds-grid">
				<header class="slds-media slds-media--center slds-has-flexi-truncate">
					<div class="slds-media__figure slds-icon-standard-trans">
						<div class="small forceEntityIcon" data-aura-class="forceEntityIcon">
							<span class="uiImage" data-aura-class="uiImage">
								<img src="{!$Resource.CustomIcons + '/'}{!IF(recordType=='Reports','tableau','mohawk-RL-logo')}.png" class="icon " alt="{! pageTitle }" title="{! pageTitle }" style="max-width: {! IF(and(isDevice, !isDetailPage), '95%', '100%')}" />
							</span>
						</div>
					</div>
					<div class="slds-media__body">
						<h2 class="header-title-container" id="header">
							<span class="slds-text-heading--medium slds-truncate" title="{! pageTitle }">
								{! pageTitle }
								<!-- {! IF(isDetailPage, '', ' ('+ TEXT(recordsCount) +')' ) } -->
							</span>
							<span class="sortLabel slds-{! IF(isDetailPage,'show','hide') }">{!recordsCount} item(s)</span>
						</h2>
					</div>
				</header>
				<div class="slds-no-flex"></div>
			</div>
		</article>
		<script>
			// console.log(parent);
			$(document).ready(function(){
				/*parent.$("iframe").each(function(iel, el) {
				  if(el.contentWindow === window) console.log("got it");
				});*/
				var iframeElem = $(this).parent('iframe');
				console.log(iframeElem);
			});
		</script>
	</apex:outputPanel>

	<apex:outputPanel rendered="{! (if( AND(displayList, OR( (isDevice && isDetailPage), isDesktop) ), true, false) ) }"> <!--&& (if(CONTAINS($CurrentPage.URL,'vfRetURLInSFX'), true, false))-->
		<div class="wrapper">
			<div id="sections">
				<apex:variable var="count" value="{!1}" />
				
				<div class="slds-grid slds-wrap slds-grid--pull-padded">
					<apex:repeat value="{!RecordsByGroup}" var="type"> 
						<!-- <h1>{!type}</h1> -->
						<apex:repeat value="{!RecordsByGroup[type]}" var="group"> 
							<!--  slds-medium-size___1-of-1 slds-small-size___1-of-1  -->
							<div class="slds-size--1-of-1 slds-p-around--small">
								<h3 class="slds-text-heading--medium groupTitle slds-m-bottom--small">{!groupCleanStr[group]}</h3>
								<!-- <h3 class="slds-section-title___divider">{!group}</h3> -->
								<ul class="slds-has-dividers--bottom slds-has-block-links--space">
								<apex:repeat value="{!RecordsByGroup[type][group]}" var="record">
									<li class="slds-item">
										<a href="javascript:;" onclick="goToIframe(event);" data-url="{!record.Target_URL__c}">
											<!-- {!record.Name} -->
											<apex:outputPanel rendered="{! IF(record.Icon__c!=null, true, false) }">
												<span class="slds-icon_container slds-icon-standard-environment-hub" title="{!record.Display_Name__c}" style="background-color: {! IF(record.Icon_BG_Color__c!=null, record.Icon_BG_Color__c, '#7F8DE1') }">
				                                  <img src="{!$Resource.SLDSIcons + '/' + record.Icon__c + '.png'}" class="slds-icon" alt="{!record.Display_Name__c}" />
				                                  <span class="slds-assistive-text">{!record.Display_Name__c}</span>
				                                </span>
			                                </apex:outputPanel>
											<span class="slds-m-left--small slds-text-heading--small">{!record.Display_Name__c}</span>
										</a>
									</li>
								</apex:repeat>
								</ul>
							</div>
						</apex:repeat>
					</apex:repeat>
									
				</div>
			</div>


			<div id="iframe-wrapper" class="iframe slds-hide">

				<button class="slds-button slds-button--brand" onclick="back()">Done</button>
				<div>&nbsp;</div>
				<div>
					<iframe id="iframe" src="" width="100%" height="100%" frameborder="0">Link</iframe>
				</div>
			</div>
		</div>
		<div id="rl-lightning" style="height: 400px; display: none;"></div>
		<script>

			var tabTitle = "{!IF(recordType=='Reports', 'Related Reports', 'Mohawk Xchange')}";
			var icon = "{!$Resource.SLDSIcons + '/standard/case_60.png'}";
			var tabHeader = '<header class="slds-media slds-media--center slds-has-flexi-truncate">'+
					'<div class="slds-media__figure">'+
						'<div class="small forceEntityIcon" style="background-color: #7F8DE1" data-aura-class="forceEntityIcon">'+
							'<span class="uiImage" data-aura-class="uiImage">'+
								'<img src="'+icon+'" class="icon " alt="" title="" />'+
							'</span>'+
						'</div>'+
					'</div>'+
					'<div class="slds-media__body">'+
						'<h2 class="header-title-container" id="header">'+
							'<span class="slds-text-heading--small slds-truncate" title="'+tabTitle+'">'+tabTitle+'</span>'+
						'</h2>'+
					'</div>'+
				'</header>';
			$(document).ready(function(){
				var iframeElem = $(this).parents('iframe');
				// console.log(window.parent.$('#'+iframeElem.attr('id')).attr('id'))
			});

			window.onload = function() {
				var metaTag=document.createElement('meta');
				metaTag.name = "viewport"
				metaTag.content = "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
				document.getElementsByTagName('head')[0].appendChild(metaTag);
			}

			var tabGroupCount = {!count};
			var visibleTabId = null;

			function toggleVisibility(e) {
				var tabId = e.currentTarget.id;
				// console.log(e.currentTarget.id, tabId);
				if(visibleTabId === tabId) {
				} else {
					visibleTabId = tabId;
				}
				hideNonVisibleTabs();
			}
			function hideNonVisibleTabs() {
				var i, tabId, tab, div;
				for(i = 1; i < tabGroupCount; i++) {
					tabId = 'tab-scoped-'+i+'__li';

					tabLink = document.getElementById('tab-scoped-'+i+'__item');
					tab = document.getElementById(tabId);
					div = document.getElementById(tab.dataset.controls);

					if(visibleTabId === tabId) {
						tab.className = "slds-tabs--default__item slds-active";
						div.className = 'slds-tabs--default__content slds-show';
						// tabLink.ariaset.selected = true;
					} else {
						tab.className = "slds-tabs--default__item";
						div.className = 'slds-tabs--default__content slds-hide';
						// tabLink.ariaset.selected = false;
					}
				}
			}
			
			function goToIframe(e) {
				//       debugger
				var url = e.currentTarget.dataset.url;
				// console.log(url)
				var iframe = document.getElementById('iframe');

				iframe.style.display = 'none';

				if(url.indexOf('http://')!=-1 || url.indexOf('https://')!=-1){
					iframe.src = url;
					iframe.style.display = 'block';

					var sections = document.getElementById('sections');
					sections.className='slds-hide';
					var iframeWrapper = document.getElementById('iframe-wrapper');
					iframeWrapper.className='iframe slds-show'

					/*$Lightning.use("c:vfLightningOutApp", function() {
						$Lightning.createComponent("c:triggerMashup",
		                    {},
		                    "rl-lightning",
		                    function(cmp) {
		                    	cmp.set('v.IframeUrl', url);
		                    });
					});*/
					
				}
				else{
					sforce.one.navigateToSObject(url);
					
				}
				/*var iframe = document.getElementById('iframe');
				iframe.src = url;*/
			}

			function back() {
				var sections = document.getElementById('sections');
				sections.className='slds-show';
				var iframeWrapper = document.getElementById('iframe-wrapper');
				iframeWrapper.className='iframe slds-hide';
			}
		</script>
	</apex:outputPanel>

	<apex:outputPanel rendered="{! (if( AND(displayList==false, OR( (isDevice && isDetailPage), isDesktop) ), true, false) ) }">
		<h3 class="slds-text-heading--small slds-text-color--error slds-align--absolute-center slds-p-vertical--medium">No Data</h3>
	</apex:outputPanel>

</apex:component>