.THIS{
    background-color: white;
}

.THIS .wrap-scroll {
    height: 100vh;
    max-height: 75%; 
    /*overflow-y: auto;
    padding-bottom: 50rem;
    width:100px;*/
}

.THIS .card{
    width: 100%;
}