.THIS {
    background-color: white;
}

.THIS.componentHeader {
    position: fixed;
    width: 98%;
    left: 1.25%;
    /*top: 7.3rem;*/
    z-index: 1;
    background-color: rgb(255, 255, 255);
    margin: 0rem 0;
}

.THIS .fontproperty{
    background-color: #f3f2f2;
    font-size: 13px;
}

.THIS .dropdatecolor{
    background-color: #FEF0D5;
    
}

.THIS .iconProperty{
    fill: darkred;
}

@media screen and (max-width: 1024px) {
    .THIS.componentHeader {
        position: fixed;
        /*width: 98%;*/
        left: 1%;
        /*top: 1rem;*/
        padding: 0px 2px;
        background-color: rgb(255, 255, 255);
    }
    .THIS .fontproperty{
        background-color: #f3f2f2;
        font-size: 10px;
    }
    
    /*.THIS .overflow{
        overflow: auto !important;
    }*/
}

@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 812px)
    and (-webkit-device-pixel-ratio : 3) { 
    .THIS#increaseHeight {
        height: 2048px;
    }
}

@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1366px) 
    and (orientation : landscape) { 
    .THIS#increaseHeight {
        height: 2048px; 
    }
}        

@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait) {
    .THIS#increaseHeight {
        height: 2048px; 
    }
}