.THIS {
}

.THIS .customRequired{
    font-weight: 400; 
} 

.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
} 

.THIS .none{
    display:none; 
}

.THIS .custom-height-desktop{
    height: 440px;
}

/* Smartphones (landscape) ———– */
@media only screen
    and (min-width : 321px)
    and (orientation : landscape) {
    .THIS .custom-height{
        height:200px;
    }
}

/* Smartphones (portrait) ———– */
@media only screen
    and (max-width : 414px)
    and (orientation : portrait){
    .THIS .custom-height{
        height:440px;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation : landscape) {
    .THIS .custom-height{
        height:650px;
    }
}

/* iPads (portrait) ----------- */
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px)  
    and (orientation : portrait) {
    .THIS .custom-height{
        height:890px;
    }
}

/* iPads PRO (landscape) ----------- */
@media only screen 
    and (min-device-width: 1366px) 
    and (max-device-width: 1366px) 
    and (orientation : landscape) {
    .THIS .custom-height{
        height:900px;
    }
}

/* iPads PRO (portrait) ----------- */
@media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1024px) 
    and (orientation : portrait) {
    .THIS .custom-height{
        height:1125px;
    }
}

.THIS .show {
    display: block;
}


.THIS .componentHeader {
    position: absolute;
    width: 95%;
    left: 1.25%;
    /*top: 7.3rem;*/
    z-index: 10;
    background-color: rgb(255, 255, 255);
	margin: 0rem 0;
    /*top:50px;*/
}

/*****
@media screen and (max-width: 1024px) {
    .THIS .componentHeader {
        position: fixed;
        //width: 98%;
        left: 1%;
        top: 0;
        background-color: rgb(255, 255, 255);
    }
    
}
*****/

.THIS .slds-card {
    background-color: rgb(255, 255, 255);
}