.THIS .subject {
	position: relative;
}

.THIS .CC-link {
	position: absolute;
	right: 5px;
	bottom: 3px;
}

.THIS .cc-hide{
	display: none!important;
}

.THIS .show {
	display: block;
}

.THIS .wrap-scroll {
	/*height: 120vh;*/
	/*margin-bottom: 20px;*/
	/*width:100px;*/
}

.THIS .blank-line {
	line-height: 3;
}

.THIS .slds-card.componentHeader {
	position: absolute;
	width: 90%;
	left: auto;
	top: auto;
	z-index: 10;
}
.THIS .slds-modal__container{
       max-height: 90rem !important;
       height:90% !important;

}
.THIS .slds-card.componentHeader .slds-button {
	margin: 0.5rem 0;
}
@media screen and (max-width: 1024px) {
	.THIS .slds-card.componentHeader {
		position: fixed;
		width: 98%;
		left: 1%;
		top: 0;
	}
}