.THIS  {
 
}
.THIS .bold {
font-weight:bold ;
}
.THIS .slds-icon-custom-custom11{
    background-color:#fcb95b;
}
.THIS.scrollerSize {
    height: 79%;
    width: 100%;
    overflow-x: hidden;
}
.THIS.scrollerSize2Filters {
    height: 65%;
    width: 100%;
    overflow-x: hidden;
}
.THIS.scrollerSize3Filters {
    height: 55%;
    width: 100%;
    overflow-x: hidden;
}
.THIS .innerDivWrapper {
    min-height: 101%;
    padding-bottom: 10px;
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .headerTitle{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
        margin-top:7px;
    }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .headerTitle{
        font-size: 1.25rem;
        margin: 0 0 .5rem 0;
        font-weight:300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
    }
    .THIS .slds-page-header{
        border:none;
        border-bottom:1px solid rgb(221, 219, 218);
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape  max-device-width: 667px*/
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
    .THIS .headerTitle{
        font-size: 1.25rem;
        margin: 0 0 .5rem 0;
        font-weight:300;
    }
    .THIS .headerSubTitle{
        font-size: .875rem;
        font-weight: 400;
    }
    .THIS .slds-page-header{
        border:none;
        border-bottom:1px solid rgb(221, 219, 218);
    }
    .THIS .refreshIconSize{
        width:30px;
        height:30px;
        fill:darkred;
    }
    .THIS .slds-button_icon-border{
        border: none;
        border-color:none;
        padding-top:4px;
    }
}
.THIS .indicator-item{
    margin-top: 5px;
    font-weight: normal;
}
.THIS .indicator-item .icon{
    border: 1px solid #DDD;
    border-radius: 5px;
    background-color: #FFF;
    text-align: center;
    margin-right: 5px;
    font-size: 14px;
    width: 22px;
    color: #000;
    display: inline-block;
}

.THIS .indicator-body{
    display: none;
}
.THIS .indicator-icon:hover+.indicator-body{
    display: block;
}