.THIS .card-con3 {
    padding: 0px 15px 0px 15px;
}
.THIS .card-con3 {
    border: 1px solid rgb(216, 221, 230);
    border-radius: .25rem;
    background: #FFF;
    /*height: 365px;*/
    padding-bottom: 20px;
}

.THIS .v-all-btn {
    position: relative;
    bottom: -28px;
    left: 15px;
}

.THIS tr, .THIS td {
    font-size: 12px;
}
.THIS td {
    padding: 1rem 0.5rem;
}

.THIS .btn-wrapper {
    height: 80px;
   	text-align: center;
    padding-top: 20px;
}

.THIS .table-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0;
}

.THIS .text-center {
    text-align: center;
}