<!-- to display records from Custom_Related_List_Management__c -->
<apex:page docType="html-5.0" standardController="Account" >
    
    <apex:includeLightning />
    <apex:includeScript value="/lightning/lightning.out.js" />
    <div id="lightningTest" class="slds-text-align_left"/>
        
    
    <script>    
    var accId = '{!Account.Id}';
    var myUserContext = "{!$User.UITheme}";
    $Lightning.use("c:mohawkAdditionalInfoCLApp", function() {
        $Lightning.createComponent("c:mohawkAdditionalInfoCL_New",
                                   {"recordId" : accId,"isFromRecordPage":true},  //Modified by Susmitha n Oct 25
                                   "lightningTest",
                                   function(component) {
                                  <!-- component.set("v.recordId", accId); Commented by Susmitha on Oct 25--> 
                                   });
    });
    </script>
    
</apex:page>