<apex:page id="pg" controller="Mashups_CC" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
   <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
      <head>
         <meta charset="utf-8" />
         <meta http-equiv="x-ua-compatible" content="ie=edge" />
         <title> Tableau Reports</title>
         <meta name="viewport" content="width=device-width, initial-scale=1" />
         <!-- Import the Design System style sheet -->
         <apex:slds />
      </head>
      <body>
         <apex:form id="frm">
            <apex:actionFunction name="onChangeSelect" reRender="iframePanel" action="{!onChangeSelectVF}" />
            <!-- REQUIRED SLDS WRAPPER -->
            <div class="slds-scope">
           
               <div class="slds-grid slds-grid_vertical-align-start slds-theme_shade">
                  <div class="slds-col">
                    <div class="slds-text-align_center slds-p-top_x-small">Select Report</div>
                  </div>
                  <div class="slds-col">
                   <div class="slds-form">                        
                        <div class="slds-select_container" id="select-01">
                           <apex:selectList styleClass="slds-select" value="{!selectedValue}" multiselect="false" size="1" onchange="onChangeSelect();">
                              <apex:selectOptions value="{!MashupRecordDisplayNames_VF}"/>
                           </apex:selectList>
                        </div>                                     
                   </div>
                  </div>            
                </div>
               
               <div class="slds-p-bottom_xx-small" style="height:10px;"></div>  
              <apex:outputPanel id="iframePanel">
               <!--div class="slds-grid slds-box slds-m-top_medium">
                  <div class="slds-col"-->
               <apex:iframe scrolling="true" id="frame" src="{!iframeSRC}" height="800px"/>
               <!--/div>
                  </div-->
            </apex:outputPanel>
            </div>
           
         </apex:form>
      </body>     
   </html>
</apex:page>