<apex:page showHeader="false" standardStylesheets="false" sidebar="false">
    <apex:includeLightning />
    <apex:includeScript value="/lightning/lightning.out.js" />
    <div id="lightning" />
    <script>    
 
    	var params = function () {
              // This function is anonymous, is executed immediately and 
              // the return value is assigned to QueryString!
              var query_string = {};
              var query = window.location.search.substring(1);
              var vars = query.split("&");
              for (var i=0;i<vars.length;i++) {
                var pair = vars[i].split("=");
                    // If first entry with this name
                if (typeof query_string[pair[0]] === "undefined") {
                  query_string[pair[0]] = decodeURIComponent(pair[1]);
                    // If second entry with this name
                } else if (typeof query_string[pair[0]] === "string") {
                  var arr = [ query_string[pair[0]],decodeURIComponent(pair[1]) ];
                  query_string[pair[0]] = arr;
                    // If third or later entry with this name
                } else {
                  query_string[pair[0]].push(decodeURIComponent(pair[1]));
                }
              } 
              return query_string;
            }();
    
    
    	console.log(params.recordId);
        $Lightning.use("c:MACustomUpdateAppoinment", function() {
          $Lightning.createComponent("c:updateAppointment",
          {recordId : params.recordId,
           // added attr by LJ 11-13-2017 US:47117
          isNotMapAnything:false},
          "lightning",
          function(cmp) {
            console.log(cmp);
          });
        });
    </script>
</apex:page>