<apex:page docType="html-5.0" standardController="Mohawk_Account_Team__c">
    <c:mashupRecordInline reqObjectName="Mohawk_Account_Team__c" reqObjectId="{!Mohawk_Account_Team__c.Id}" reqMashup="Account Profile Report - MHK Team" />
</apex:page>