<apex:page controller="rdcc.InsightSystemIntegration" sidebar="false" id="page" >
    <div class="slds">
        <div class="slds-spinner_container" id="loading" style="display:none;">
            <div id="loading-content">
                <div role="status" class="slds-spinner slds-spinner--medium">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div>
    </div>
    <apex:includescript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/jquery-1.11.1.min.js')}" />
    <apex:includescript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/jquery.dataTables.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__ConstructConnect, 'css/jquery.dataTables.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/InsightProjectSearchLightning.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/SavedSearch.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />  
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__ConstructConnect, 'css/InsightProjectSearchLightning.css')}"/>
    <script type="text/javascript">
        var __sfdcSessionId = '{!GETSESSIONID()}';
    
    	document.getElementById("loading").style.display='block';
    	window.onload = function() {
            document.getElementById("loading").style.display='none';
        }
    </script>
    <script src="../../soap/ajax/36.0/connection.js" type="text/javascript"></script>   
    <style>
        .slds .slds-spinner:before, .slds .slds-spinner:after, 
        .slds .slds-spinner__dot-a:before, .slds .slds-spinner__dot-b:before, 
        .slds .slds-spinner__dot-a:after, .slds .slds-spinner__dot-b:after{
        	background:#0070d2 !important;
        }
        .slds .slds-table th, .slds .slds-table td {
            padding: 0.5rem;
            white-space: inherit;
            position: relative;
        }
        
        html body.sfdcBody {
            padding:0px !important;
        }
        
        .abc:hover{
            cursor:pointer;
        }
        .cButton:hover{
            cursor:pointer !important;
            box-shadow: 0px 4px 10px 1px grey !important;
            border-radius: 5px !important;        
        }
        
        .tableData{
            max-width: 120px !important;
            word-wrap: break-word;        
        }
        #loading{
            z-index: 10000;
        }
    </style>
    <script>
    var Ids = [];
    var projectTable;
    var isTableInitialised = false;
    var srchNameListView = "page:csLightForm:saveLV";
    var srchNameModalBox = "page:theForm2:srchName";
    var srchTextId = "page:csLightForm:searchText";
    var minProjectEstValueId= "page:csLightForm:minProjectValue";
    var maxProjectEstValueId= "page:csLightForm:maxProjectValue";
    var SLDS202 = '{!$Resource.SLDS202}';
    

     function setSelectedIndex(){
        var options = document.getElementById(srchNameListView);
        if(options != null){
            for(var i=0; i<options.length;i++){
                if(options[i].label == document.getElementById(srchNameModalBox).value){
                    document.getElementById(srchNameListView).options.selectedIndex = i;                   
                }
            }
        }
         document.getElementById('searchNameModel').style.display='none'; 
        
    }
    
    function clearListedDate(){
        clearValue("date_fromListed");
        clearValue("date_toListed");
        return false;
    }
    
    
    
    function createPillsForSelectedMaterialCodes(SLDS202){
        var ulRecord = document.getElementById("selectedMaterialCodeDiv");
        while (ulRecord.hasChildNodes()) {
            ulRecord.removeChild(ulRecord.lastChild);
        }
        var inputs = document.querySelectorAll("#btnMaterialCodeTScontent input");
        var fInputIdsArray = filterInputs(inputs);
        pills = createRecordLi(fInputIdsArray,'selectedMaterialCodeDiv',' toggleSelectedDiv(\'selectedMaterialCodeDiv\',\'selectedMaterialCodeContainer\')',SLDS202);
        ulRecord.innerHTML = pills;
        pills = createRecordLiDisplayHide(inputs,'selectedMaterialCodeDiv',' toggleSelectedDiv(\'selectedMaterialCodeDiv\',\'selectedMaterialCodeContainer\')',SLDS202);
        ulRecord.innerHTML +=pills;
    }
    
     function createPillsForListedDateValue(SLDS202){        
        var ulRecord = document.getElementById("selectedListDateDiv");
        while (ulRecord.hasChildNodes()) {
            ulRecord.removeChild(ulRecord.lastChild);
        }        
        var min = 'date_fromListed';
        var max = 'date_toListed';
        var onclick = 'onClick();clearListedDate();remove(\''+min+'_'+max+'\');toggleSelectedDiv(\'selectedListDateDiv\',\'selectedListDateContainer\');return customSearch();';
        pills = createRecordLiForTextFilters(min,max,onclick,'toggleSelectedDiv(\'selectedListDateDiv\',\'selectedListDateContainer\')',SLDS202);
        ulRecord.innerHTML = pills;
    }
    
    function clearTextFilters(){
        document.getElementById("page:csLightForm:searchText").value = '';
        if('{!searchType}'=='project'){
            clearProjectEstValue();
            clearLastUpdate();
            clearBiddingDate();
            clearListedDate();             
        }
    }
    
    
    
    function tooglePillsDiv(){
        toggleSelectedDiv("selectedLocationDiv","selectedLocationContainer");
        if('{!searchType}'=='project'){
            toggleSelectedDiv("selectedStageDiv","selectedStageContainer");            
            toggleSelectedDiv("selectedCategoryDiv","selectedCategoryContainer");
            toggleSelectedDiv("selectedCSICodeDiv","selectedCSICodeContainer");
            toggleSelectedDiv("selectedMaterialCodeDiv","selectedMaterialCodeContainer");           
            toggleSelectedDiv("selectedEstValueDiv","selectedEstValueContainer");
            toggleSelectedDiv("selectedLastUpdatedDateDiv","selectedLastUpdatedDateContainer");
            toggleSelectedDiv("selectedBidDateDiv","selectedBidDateContainer"); 
            toggleSelectedDiv("selectedListDateDiv","selectedListDateContainer");                       
        }else{
            toggleSelectedDiv("selectedTypeDiv","selectedTypeContainer");
        }
        
    }
    
    function clearProjectFilters(){            
        clearPillsDiv("selectedLocationDiv");
        if('{!searchType}'=='project'){ 
            clearPillsDiv("selectedStageDiv");
            clearPillsDiv("selectedCategoryDiv");
            clearPillsDiv("selectedCSICodeDiv");
            clearPillsDiv("selectedMaterialCodeDiv");
            if(document.getElementById("selectedEstValueDiv").hasChildNodes()){
                remove("page:csLightForm:minProjectValue_page:csLightForm:maxProjectValue");
            }
            if(document.getElementById("selectedLastUpdatedDateDiv").hasChildNodes()){      
                remove("date_fromLastUpdated_date_toLastUpdated");
            }
            if(document.getElementById("selectedBidDateDiv").hasChildNodes()){
                remove("date_fromBidding_date_toBidding");
            }
            if(document.getElementById("selectedListDateDiv").hasChildNodes()){
                remove("date_fromListed_date_toListed");
            }       
        }else{
             clearPillsDiv("selectedTypeDiv");    
        }   
    }
    
    function toogleSelectedTypeDiv() {
      
        var selectedTypeDiv = document.getElementById("selectedTypeDiv");
        
        if (selectedTypeDiv.hasChildNodes()) {
            document.getElementById("selectedTypeContainer").style.display = 'block';
        } else {
            document.getElementById("selectedTypeContainer").style.display = 'none';
        }
    }
    
    function createPillsForSelectedType(SLDS202){
        var ulRecord = document.getElementById("selectedTypeDiv");
        while (ulRecord.hasChildNodes()) {
            ulRecord.removeChild(ulRecord.lastChild);
        }
        var inputs = document.querySelectorAll("#btnCompanyTypeTScontent input");
        var fInputIdsArray = filterInputs(inputs);
        pills = createRecordLi(fInputIdsArray,'selectedTypeDiv','toggleSelectedDiv(\'selectedTypeDiv\',\'selectedTypeContainer\')',SLDS202);
        ulRecord.innerHTML = pills;
        pills = createRecordLiDisplayHide(inputs,'selectedTypeDiv','toggleSelectedDiv(\'selectedTypeDiv\',\'selectedTypeContainer\')',SLDS202);
        ulRecord.innerHTML +=pills;
        
    }
    
    function createRecordLi(inputs,parent,oncomplete,SLDS202){ 
        var pills='';
        for(var i=0;i<inputs.length;i++){
            var reqElement = document.getElementById(inputs[i]);
            //if(inputs[i].checked){                
            var dispName = reqElement.nextElementSibling.textContent;
            var checkId = reqElement.id;
            pills+= '<span class="slds-pill slds-text-body--small" id="'+checkId+'"><a href="javascript:void(0);" class="slds-pill__label" title="'+dispName+'">'+dispName+'</a><button type="button" onclick = "onClick();removeSelectedVal(\''+parent+'\',this.parentNode,\''+SLDS202+'\');hideDiv();'+oncomplete+';return customSearch();" oncomplete="onComplete();" class="slds-button slds-button--icon slds-pill__remove" title="Remove"><svg class="slds-button__icon" aria-hidden="true"><use xlink:href="'+SLDS202+'/assets/icons/utility-sprite/svg/symbols.svg#close"></use></svg><span class="slds-assistive-text">Remove</span></button></span>';
            //}
        }
        return pills;
    }
  
    function removeSelectedVal(parent, element,SLDS202) {
        var reqElement = document.getElementById(element.id);
        reqElement.checked = false;
        reqElement.onchange();
        console.log(parent);
        if (parent == 'selectedStageDiv') {
            createPillsForSelectedStage(SLDS202);
        } else if (parent == 'selectedLocationDiv') {
            createPillsForSelectedLocation(SLDS202);
        } else if (parent == 'selectedCategoryDiv') {
            createPillsForSelectedCategory(SLDS202);
        } else if (parent == 'selectedCSICodeDiv') {
            createPillsForSelectedCSICodes(SLDS202);
        }else if (parent == 'selectedTypeDiv') {
            createPillsForSelectedType(SLDS202);
        }else if (parent == 'selectedMaterialCodeDiv') {
            createPillsForSelectedMaterialCodes(SLDS202);
        }
    }
    
    function createRecordLiForTextFilters(min,max,onclick,oncomplete,SLDS202){
        
        var pills='';   
        var dispName = '';
        var checkId = '';
        if(max == 'NONE'){
            dispName = min;
            checkId = min;
        }else{
            dispName = document.getElementById(min).value + ' - '+ document.getElementById(max).value;
            checkId = min+'_'+max;      
        }
        oncomplete += ';onClick();return customSearch();';
        pills+= '<span class="slds-pill slds-text-body--small" id="'+checkId+'"><a href="javascript:void(0);" class="slds-pill__label" title="'+dispName+'">'+dispName+'</a><button type="button" onclick = "'+onclick+';'+oncomplete+'" class="slds-button slds-button--icon slds-pill__remove" title="Remove"><svg class="slds-button__icon" aria-hidden="true"><use xlink:href="'+SLDS202+'/assets/icons/utility-sprite/svg/symbols.svg#close"></use></svg><span class="slds-assistive-text">Remove</span></button></span>';
        return pills;
    }
    
    function resultTableProperties(){
        overridePageMessages();
        if(!isTableInitialised){
            projectTable = j$('[id$="resultTable"]').DataTable({
                "bFilter": false,
                "stripeClasses":[],
                "aaSorting": [cSorting],
                "aLengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
                "iDisplayLength": 20,
                "paging":false,
                "dom": 'rt<"top"i><"bottom"flp><"clear">',
                "bSortClasses": false,
                "columnDefs":setDatetable()
            });
            document.getElementById("resultTable_info").style.display = 'none';
            isTableInitialised = true;
        }else{
             if(/*@cc_on!@*/false || !!document.documentMode){
                projectTable.draw(false);
            }else{
                projectTable.destroy();
            }
            isTableInitialised = false;
            resultTableProperties();
        }
    }
    
    function validateData(minId,maxId,elementId,type,SLDS202){  
        var isError = false;
        var errorMsg = '';         
        var minValue =  document.getElementById(minId).value;
        var maxValue =  document.getElementById(maxId).value;
        if((minValue == null || minValue == '')){
            minValue = '0';
        }
        if((maxValue == null || maxValue == '')){
            maxValue = '0';
        }
        if( document.getElementById(minId).value =='' && document.getElementById(maxId).value ==''){
            isError = true;
            errorMsg = 'Please provide value of atleast one field.';
        }
        if(type == 'Estimated Value'){          
            if(!minValue.match(/^\d+$/) || !maxValue.match(/^\d+$/)){
                isError = true;
                errorMsg = 'Only numeric value acceptable.';
            }
            if(parseInt(minValue) > parseInt(maxValue) && !(document.getElementById(maxId).value =='' || document.getElementById(maxId).value == null)){
                isError = true;
                errorMsg = 'Min must be smaller than Max.';
            }
            
        }else {
            if((document.getElementById(minId).value !='' && document.getElementById(maxId).value !='') &&(getTimeInMiliSecond(minValue) > getTimeInMiliSecond(maxValue))){                               
                isError = true;
                errorMsg = 'To date must be greater than from date';                
            }               
        }
        
        if(isError){
            document.getElementById(elementId).style.display = 'block';
            document.getElementById(elementId).innerText = errorMsg;
            onComplete();
        }
        else{
            document.getElementById(elementId).style.display = 'none';
            if(type == 'Estimated Value'){
                createPillsForProjectEstValue('{!$Resource.SLDS202}');
                toggleSelectedDiv('selectedEstValueDiv','selectedEstValueContainer');                
            }else if(type == 'Last Updated Date'){
                createPillsForLastUpdatedValue('{!$Resource.SLDS202}'); 
                toggleSelectedDiv('selectedLastUpdatedDateDiv','selectedLastUpdatedDateContainer');           
            }else if(type == 'Bidding Date'){
                createPillsForBidDateValue('{!$Resource.SLDS202}');
                toggleSelectedDiv('selectedBidDateDiv','selectedBidDateContainer');
            }else if(type == 'Listed Date'){
                createPillsForListedDateValue('{!$Resource.SLDS202}');
                toggleSelectedDiv("selectedListDateDiv","selectedListDateContainer");
            }
            return customSearch(); 
        }
        return false;
    }
    
   function getTimeInMiliSecond(s) {        
        var bits = s.split('/');        
        var d = new Date(bits[2],bits[1]-1,bits[0]);       
        return d.getTime();       
    }
    
    function hideDiv(){
        if('{!searchType}'=='project'){
            hideTextFilterSelectedDiv("selectedStageDiv","selectedStageContainer"); 
            hideTextFilterSelectedDiv("selectedLocationDiv","selectedLocationContainer");
            hideTextFilterSelectedDiv("selectedCategoryDiv","selectedCategoryContainer");
            hideTextFilterSelectedDiv("selectedCSICodeDiv","selectedCSICodeContainer");
            hideTextFilterSelectedDiv("selectedMaterialCodeDiv","selectedMaterialCodeContainer");
        }else{            
            hideTextFilterSelectedDiv("selectedLocationDiv","selectedLocationContainer");
            hideTextFilterSelectedDiv("selectedTypeDiv","selectedTypeContainer");
        }
    }
    
   
    
    function pushPopIds(elementId){        
        var index = Ids.indexOf(elementId);
        if(index > -1){
            Ids.splice(index, 1);           
        }else{
            Ids.push(elementId);
        }
        var checkboxes = document.getElementsByClassName("demo");
         
        if(Ids.length == checkboxes.length){
            document.getElementById("page:csLightForm:master-checkbox").checked = true;
        }else{
            document.getElementById("page:csLightForm:master-checkbox").checked = false;
        }
    }
    
    function importRecordsInSF(elementId){
        var selectedRecords = '';
        if(elementId != null && elementId != ''){
            selectedRecords = elementId;
        }else if(Ids.length > 0){
            selectedRecords = Ids.join(';')
        }
        
        console.log(selectedRecords)
        if(selectedRecords != ''){
            importRecords(selectedRecords);
        }else{
            displayErrorMsg('Please Select a record to import !');
            onComplete();
        }
        Ids = [];        
        return false;
    }
    
    function hideOtherAccordian(element){
        var acc = document.getElementsByClassName("active");
        for(var i=0;i<acc.length;i++){                               
            if(element == null || acc[i].id == element.id){}else
            {
                hideAccordian(acc[i].nextElementSibling); 
                acc[i].classList.toggle("active");
            }
        }
        if('{!searchType}'=='project'){
            hideErrorDiv();
        }
    }
    
    
    var listDateRange = '';
    var materialCode = '';
    var companyType = '';
    function customSearch(){
        getSelectedValue(); 
        
        console.log(county);
        searchServer(
            searchText,
            country,
            state,
            county,
            stage,
            category,
            divisionCode,
            lastUpdatedDateRange,
            biddingDateRange,
            projectValueRange,                
            companyType,
            listDateRange,
            materialCode);
        return false;
    }
    
   
    function getSelectedValue(){      
        var tempArray = [];
        tempArray = getSelectedValueString("btnCountryStateTSPanel","");
        country = tempArray[0];
        state = tempArray[1];
        county = tempArray[2];
        if('{!searchType}'=='project'){
            tempArray = getSelectedValueString("btnProjectStageTSPanel","");
            stage = tempArray[1]+tempArray[0];
            tempArray = getSelectedValueString("btnProjectCategoryTSPanel","Category");
            category = tempArray[1]+tempArray[0];
            tempArray = getSelectedValueString("btnCSICodeTSPanel","");
            divisionCode = tempArray[1]+tempArray[0];
            tempArray = getSelectedValueString("btnMaterialCodeTSPanel","");
            materialCode = tempArray[1]+tempArray[0];
            lastUpdatedDateRange = document.getElementById("date_fromLastUpdated").value+';'+ document.getElementById("date_toLastUpdated").value;
            biddingDateRange = document.getElementById("date_fromBidding").value+';'+ document.getElementById("date_toBidding").value;
            projectValueRange = document.getElementById("page:csLightForm:minProjectValue").value+';'+ document.getElementById("page:csLightForm:minProjectValue").value;
            listDateRange = document.getElementById("date_fromListed").value+';'+ document.getElementById("date_toListed").value;
        }else{
            tempArray = getSelectedValueString("btnCompanyTypeTSPanel","");
            companyType = tempArray[1]+tempArray[0];           
        }
        
        searchText = document.getElementById("page:csLightForm:searchText").value;   
    }
    
    function getSelectedValueString(elementId,type){
        var tempArray = [];
        var firstLevel = '';
        var secondLevel = '';
        var thirdLevel = '';
        var elements = document.querySelectorAll("#"+elementId+" input");
        for(var i=0;i<elements.length;i++){            
            if(elements[i].checked){
                if(elements[i].id.includes('firstLevelcheck')){
                    firstLevel +=  elements[i].nextElementSibling.textContent+';';
                }
                if(elements[i].id.includes('secondLevelcheck')){  
                    secondLevel +=  elements[i].nextElementSibling.textContent+';';      
                    
                }
                if(elements[i].id.includes('thirdLevelcheck')){                    
                    thirdLevel +=  elements[i].nextElementSibling.textContent+';';                   
                }
            }
        }
        tempArray.push(firstLevel);
        tempArray.push(secondLevel);
        tempArray.push(thirdLevel);
        return tempArray;
    }
    
    
    var selectAll = function(value){    
      
        var checkboxes = document.getElementsByClassName("demo");
        console.log(checkboxes);
        for(var i=0;i<checkboxes.length;i++){
            if(value ){
                checkboxes[i].checked = true;
                if(Ids.indexOf(checkboxes[i].id) <= -1){
                    Ids.push(checkboxes[i].id);
                }
            }else{                
                checkboxes[i].checked = false;
                var index = Ids.indexOf(checkboxes[i].id);
                Ids.splice(index, 1);               
            }
            
        }
        console.log(Ids);
    }
    
    function moveToInitialState(){ 
        onClose('btnCountryStateTScontent','selectedLocationDiv');
        if('{!searchType}'=='project'){        
            onClose('btnProjectCategoryTScontent','selectedCategoryDiv');
            onClose('btnProjectStageTScontent','selectedStageDiv');
            onClose('btnCSICodeTScontent','selectedCSICodeDiv');
            onClose('btnMaterialCodeTScontent','selectedMaterialCodeDiv');
        }else{
            onClose('btnCompanyTypeTScontent','selectedTypeDiv');
        }
        
    }
    
    function saveSearch(){ 
        var suffix = '_RTProject';
        var srchName = document.getElementById(srchNameModalBox).value;
        if(srchName.length > 70){
            displayErrorMsg('Maximum length allowed for Search Name is 70.');
            
        }
        if('{!searchType}'!='project'){
            var suffix = '_RTCompany';
        }
        var isProceed = validateName(srchName,suffix);
        if(isProceed && srchName != null && srchName != '' && srchName.length <= 70){
            var geoLocationIds = getIdsOfSelectedFilter("btnCountryStateTSPanel");
            var searchText = document.getElementById(srchTextId).value;
            if('{!searchType}'=='project'){
                var stageIds = getIdsOfSelectedFilter("btnProjectStageTSPanel");
                var categoryIds = getIdsOfSelectedFilter("btnProjectCategoryTSPanel");
                var csiDivisionCodeIds = getIdsOfSelectedFilter("btnCSICodeTSPanel");
                var materialDemandIds = getIdsOfSelectedFilter("btnMaterialCodeTSPanel");
                var updatedDateRange = document.getElementById("date_fromLastUpdated").value+';'+ document.getElementById("date_toLastUpdated").value;
                var biddingRange = document.getElementById("date_fromBidding").value+';'+ document.getElementById("date_toBidding").value;
                var valueRange = document.getElementById(minProjectEstValueId).value+';'+ document.getElementById(maxProjectEstValueId).value;
                var listingRange = document.getElementById("date_fromListed").value+';'+ document.getElementById("date_toListed").value;
            }else{                
                var companyTypeIds = getIdsOfSelectedFilter("btnCompanyTypeTSPanel");                
            }
           	onClick();
            createSearchName(srchName,
                             geoLocationIds,
                             stageIds,
                             categoryIds,
                             csiDivisionCodeIds,
                             materialDemandIds,
                             updatedDateRange,
                             biddingRange,                 
                             listingRange,
                             valueRange,                             
                             searchText,
                             companyTypeIds
                            );
            
         
        }else if(isProceed == false && srchName != ''){
            displayErrorMsg("Search with "+srchName+" already exist. In order to save this please provide different name.");
            onComplete();
        }else if(srchName == null || srchName == '' ){            
            displayErrorMsg("Please enter search name");
            onComplete();
        }
        return false;
        
    } 
    
    function isFilterApplied(){
        var geoLocationIds = getIdsOfSelectedFilter("btnCountryStateTSPanel");
        var searchText = document.getElementById(srchTextId).value;
        if('{!searchType}'=='project'){            
            var stageIds = getIdsOfSelectedFilter("btnProjectStageTSPanel");
            var categoryIds = getIdsOfSelectedFilter("btnProjectCategoryTSPanel");
            var csiDivisionCodeIds = getIdsOfSelectedFilter("btnCSICodeTSPanel");
            var materialDemandIds = getIdsOfSelectedFilter("btnMaterialCodeTSPanel");
            var updatedDateRange = document.getElementById("date_fromLastUpdated").value+';'+ document.getElementById("date_toLastUpdated").value;
            var biddingRange = document.getElementById("date_fromBidding").value+';'+ document.getElementById("date_toBidding").value;
            var valueRange = document.getElementById(minProjectEstValueId).value+';'+ document.getElementById(maxProjectEstValueId).value;
            var listingRange = document.getElementById("date_fromListed").value+';'+ document.getElementById("date_toListed").value;
            if(geoLocationIds.trim() != '' || searchText.trim() != '' || stageIds.trim() != '' || categoryIds.trim() != '' || csiDivisionCodeIds.trim() != '' || materialDemandIds.trim() != '' || updatedDateRange.trim() != ';' || biddingRange.trim() != ';' ||  valueRange.trim() != ';' || listingRange.trim() != ';' ){
                return true;
            }
        }else{    
            var companyTypeIds = getIdsOfSelectedFilter("btnCompanyTypeTSPanel");  
            if(geoLocationIds.trim() != '' || searchText.trim() != '' || companyTypeIds.trim() != ''){
                return true;
            }
        }
        return false;
    }
    
    function getIdsOfSelectedFilter(elementId){
        var tempArray = [];
        var elements = document.querySelectorAll("#"+elementId+" input");
        for(var i=0;i<elements.length;i++){
            if(elements[i].checked){               
                tempArray.push(elements[i].id);
            }
        }         
        return tempArray.toString();
    }
    
     function openSrchNameModelBox(){
        var selectedIndex = document.getElementById(srchNameListView).selectedIndex;
        var selectedSrchName = document.getElementById(srchNameListView).options[selectedIndex].label;
        if(selectedSrchName == 'Select Saved Search'){
            selectedSrchName = '';
        }
        document.getElementById(srchNameModalBox).value = selectedSrchName;
        toggleDisplayModel('searchNameModel');
        return false;
    }
    
     function applyFilters(filters,filterType){
        for(var i=0; i<filters.length;i++){
            if(document.getElementById(filters[i]) != null){
            	document.getElementById(filters[i]).checked = true;
            }
        }
        if(filterType == 'rdcc__Selected_Project_Location__c' || filterType == 'rdcc__Selected_Company_Location__c'){
            createPillsForSelectedLocation(SLDS202);
            toggleSelectedDiv('selectedLocationDiv','selectedLocationContainer');
        }
        if('{!searchType}'=='project'){
            if(filterType == 'rdcc__Selected_Project_Stage__c'){
                createPillsForSelectedStage(SLDS202);
                toggleSelectedDiv('selectedStageDiv','selectedStageContainer');
            }
            if(filterType == 'rdcc__Selected_Project_Category__c'){
                createPillsForSelectedCategory(SLDS202);
                toggleSelectedDiv('selectedCategoryDiv','selectedCategoryContainer');
            }
            if(filterType == 'rdcc__Selected_Project_CSI_Division__c'){
                createPillsForSelectedCSICodes(SLDS202);
                toggleSelectedDiv('selectedCSICodeDiv','selectedCSICodeContainer');
            }
            if(filterType == 'rdcc__Selected_Project_Material_Demand__c'){
                createPillsForSelectedMaterialCodes(SLDS202);
                toggleSelectedDiv('selectedMaterialCodeDiv','selectedMaterialCodeContainer');
            }
        }else{
            if(filterType == 'rdcc__Selected_Company_Type__c'){
                createPillsForSelectedType(SLDS202);
                toggleSelectedDiv('selectedTypeDiv','selectedTypeContainer');
            }
        }
        console.log(filterType);

    }
    
    

    </script>
    <div class="slds">
        
        <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <apex:form id="csLightForm">
                <apex:actionFunction name="importRecords" action="{!importRecords}" oncomplete="resultTableProperties();overridePageMessages();onComplete();"  reRender="errors,results">
                    <apex:param name="ids" value=""/>
                </apex:actionFunction>
                <apex:actionFunction name="searchServer" action="{!runSearch}" oncomplete="resultTableProperties();hideExpandedAccordian();overridePageMessages();onComplete();"  rerender="saveLV,errors,results">
                    <apex:param name="searchText" value=""/>
                    <apex:param name="country" value=""/>
                    <apex:param name="state" value=""/>
                    <apex:param name="county" value=""/>
                    <apex:param name="stage" value=""/>
                    <apex:param name="category" value=""/>
                    <apex:param name="divisionCode" value=""/>
                    <apex:param name="lastUpdatedDateRange" value=""/>
                    <apex:param name="biddingDateRange" value=""/>
                    <apex:param name="projectValueRange" value=""/>
                    <apex:param name="companyType" value=""/>
                    <apex:param name="listedDateRange" value=""/>
                    <apex:param name="materialCodes" value=""/>
                </apex:actionFunction>
                <apex:actionFunction name="createSearchName" action="{!createSearchName}" oncomplete="resultTableProperties();hideExpandedAccordian();toggleDisplayModel('searchNameModel');onComplete();setSelectedIndex();"  rerender="saveLV,results,errors" >
                    <apex:param name="srchName" value=""/> 
                    <apex:param name="geoLocation" value=""/>
                    <apex:param name="stages" value=""/>
                    <apex:param name="categories" value=""/>
                    <apex:param name="csiDivisionCodes" value=""/>
                    <apex:param name="materialDemands" value=""/>
                    <apex:param name="updatedDateRange" value=""/>
                    <apex:param name="biddingDateRange" value=""/>
                    <apex:param name="listingDateRange" value=""/>
                    <apex:param name="valueRange" value=""/>
                    <apex:param name="searchText" value=""/>
                    <apex:param name="companyType" value=""/>
                </apex:actionFunction>
             
                <!--div class="slds-spinner_container" id="loading" style="display:none;">
                    <div id="loading-content">
                        <div role="status" class="slds-spinner slds-spinner--medium">
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </div-->
                <div class="slds-page-header slds-page-header--object-home" onclick="hideExpandedAccordian();">
                    <div class="slds-grid" style="max-height:50px;">
                        <div class="slds-col slds-has-flexi-truncate">
                            <div class="slds-media slds-no-space slds-grow">
                                <div class="slds-media__figure">
                                    <span class="slds-icon_container slds-icon-custom-custom24">
                                        <svg class="slds-icon slds-icon--large" aria-hidden="true">
                                            <use xlink:href="{!URLFOR($Resource.SLDS202, '/assets/icons/custom-sprite/svg/symbols.svg#custom24')}"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="slds-media__body" >
                                    <div id="view-list" class="slds-dropdown-trigger slds-dropdown-trigger--click slds-m-left--x-small" aria-expanded="false">
                                        <p class="slds-text-title--caps slds-line-height--reset" style="font-weight: bold;font-size: 15px;margin-bottom: 5px;" >{!IF(searchType=='project','Insight Projects','Insight Companies')}</p>
                                        <span class="slds-grid slds-has-flexi-truncate slds-grid--vertical-align-center">
                                            <span>
                                                <label for="theLV" style="text-align:left;font-weight:bold;padding-right:.69em;">
                                                    <span class="assistiveText">*</span>Views:
                                                </label>
                                                <span>
                                                    <apex:selectList id="theLV" value="{!searchType}"   size="1"  style="width: 250px; min-height:25px;" styleClass="slds-scope slds-input">
                                                        <apex:selectOption itemLabel="Insight Projects" itemValue="project"/>
                                                        <apex:selectOption itemLabel="Insight Companies" itemValue="company"/>
                                                        <apex:actionSupport onsubmit="onClick();" reRender="errors" event="onchange" action="{!toggleSearchPageLight}"  />        
                                                    </apex:selectList>                                                                                                        
                                                </span>                                                
                                            </span>                                            
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom--xx-small" style="margin-top:27px;">
                            <div  style="float: right; margin-right: 35px;">
                                <label for="saveLV" style="text-align:left;font-weight:bold;padding-right:.69em;">
                                    <span class="assistiveText">*</span>Saved Searches:
                                </label>
                                <apex:selectList id="saveLV" style="width: 250px; min-height:25px;" size="1" onchange="onClick();loadSearchName(this.value);" styleClass="slds-scope slds-input">
                                    <apex:selectOptions value="{!SearchNames}"/>        
                                </apex:selectList>
                                <div class="slds btn" style="float: right;height: 25px;background-color: white;border: 1px solid #e2e6ed;border-radius: 3px;padding-left: 5px;" >
                                    <c:DropDownMenu />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="msgDiv" style="margin-left:20px; margin-right:20px;">
                    <apex:pageMessages id="errors"></apex:pageMessages>
                </div>
                <table width="100%" border="0" class="slds-table slds-table--bordered slds-table--cell-buffer slds-no-row-hover outerTable" >
                    <tr class="slds-text-title--caps">
                        <td  valign="top" id="filterSection" style="width:200px;white-space: initial;">
                            <apex:outputPanel id="criteria" >
                                <div style="width:200px; margin-top:20px">
                                    <apex:outputText styleClass="slds-text-body_regular" style="font-weight:bold;font-size:15px;float:left;" value="Filters" />
                                    <apex:commandLink styleClass="slds-text-link"  style="float:right;" value="Clear Filters" rerender="results,errors" onclick="onClick();clearFilters1();return customSearch();"  status="spinnerStatus" />
                                </div>
                            </apex:outputPanel><br/><br/>
                            <div class="slds-grid" style="display: initial;">
                                <div class="slds-col" style="width:200px;">
                                    <apex:outputPanel >
                                        <apex:outputPanel >                                            
                                            <button id="btnCountryStateTS" class="accordion slds-button slds-button--neutral" style="margin-top:0px !important" onclick="expandSection(this);" type="button" >{!IF(searchType=='project','Project Location','Company Location')}</button>
                                            <div class="tooltip" id="btnCountryStateTSPanel" style="display:none">
                                                
                                                <diV class="tooltiptext">
                                                    <div id="header" class="div_header">
                                                        <apex:outputPanel >
                                                            <apex:outputLabel styleClass="slds-text-body_regular" value="{!IF(searchType=='project','Project Location','Company Location')}" style="font-weight:bold;" />
                                                            <apex:commandLink styleClass="slds-text-link" value="Clear" style="float:right;" onclick="return uncheckedAllCheckbox('btnCountryStateTScontent');" />
                                                        </apex:outputPanel>
                                                    </div>
                                                    <div id="btnCountryStateTScontent" Style="background-color:white;overflow:auto;max-height: 200px;">
                                                        <c:Tree_New ts="{!countryStateTS}" layer="3" />
                                                    </div>
                                                    <div id="footer" class="div_header" style="text-align:center;padding-top:4px;">                                                    
                                                        <apex:commandButton value="Apply"  onclick="onClick();createPillsForSelectedLocation('{!$Resource.rdcc__SLDS202}');toogleSelectedLocationDiv();return customSearch();"  styleClass="slds-button slds-button--neutral" />
                                                        <input type="button" value="Close" class="btn slds-button slds-button--neutral" onclick="hideExpandedAccordian();" oncomplete="resultTableProperties" />
                                                    </div>
                                                </diV>
                                            </div>
                                        </apex:outputPanel>
                                        
                                        
                                        
                                         <apex:outputPanel rendered="{!searchType == 'company'}" >
                                            <div id="typeDiv" style="display:{!IF(companyTypeTS.nodes.size == 0, 'none','block')}">
                                                <button id="btnCompanyTypeTS" style="margin-bottom:20px;" class="slds-button slds-button--neutral accordion" onclick="expandSection(this);" type="button">Company Type</button>
                                                
                                                <div class="tooltip" id="btnCompanyTypeTSPanel" style="display:none">
                                                    
                                                    <diV class="tooltiptext">
                                                        <div id="header" class="div_header">
                                                            <apex:outputPanel >
                                                                <apex:outputLabel styleClass="slds-text-body_regular" value="Company Type" style="font-weight:bold;" />
                                                                <apex:commandLink styleClass="slds-text-link" value="Clear" style="float:right;" onclick="return uncheckedAllCheckbox('btnCompanyTypeTScontent');" />
                                                            </apex:outputPanel>
                                                        </div>
                                                        <div id="btnCompanyTypeTScontent" Style="background-color:white;overflow:auto;max-height: 200px;">
                                                            <c:Tree_New ts="{!companyTypeTS}" layer="2" />
                                                        </div>
                                                        <div id="footer" class="div_header" style="text-align:center;padding-top:4px">
                                                            <apex:commandButton value="Apply" rerender="results" onclick="onClick();createPillsForSelectedType('{!$Resource.rdcc__SLDS202}');toogleSelectedTypeDiv();return customSearch();" styleClass="slds-button slds-button--neutral" />                                                
                                                            <input type="button" value="Close" class="btn slds-button slds-button--neutral" style="" onclick="hideExpandedAccordian();onClose('btnCompanyTypeTScontent','selectedTypeDiv');" oncomplete="resultTableProperties();" />
                                                        </div>
                                                    </diV>
                                                </div>
                                            </div>
                                        </apex:outputPanel>
                                        
                                        
                                        <apex:outputPanel rendered="{!searchType != 'company'}" >
                                            <button id="btnProjectStageTS" class="accordion slds-button slds-button--neutral" onclick="expandSection(this);" type="button" >Project Stage</button>
                                            <div class="tooltip" id="btnProjectStageTSPanel" style="display:none">
                                                
                                                <diV class="tooltiptext">
                                                    <div id="header" class="div_header">
                                                        <apex:outputPanel >
                                                            <apex:outputLabel styleClass="slds-text-body_regular" value="Project Stage" style="font-weight:bold;" />
                                                            <apex:commandLink styleClass="slds-text-link" value="Clear" style="float:right;" onclick=" return uncheckedAllCheckbox('btnProjectStageTScontent');" />
                                                        </apex:outputPanel>
                                                    </div>
                                                    <div id="btnProjectStageTScontent" Style="background-color:white;overflow:auto;max-height: 200px;">
                                                        <c:Tree_New ts="{!projectStageTS}" layer="2" />
                                                    </div>
                                                    <div id="footer" class="div_header" style="text-align:center;padding-top:4px;">
                                                        <apex:commandButton value="Apply" onclick="onClick();createPillsForSelectedStage('{!$Resource.rdcc__SLDS202}');toogleselectedStageDiv();return customSearch();" styleClass="slds-button slds-button--neutral" />
                                                        
                                                        <input type="button" value="Close" class="btn" onclick="hideExpandedAccordian();" oncomplete="resultTableProperties();" Class="slds-button slds-button--neutral" />
                                                    </div>
                                                </diV>
                                            </div>
                                        </apex:outputPanel>
                                        
                                        
                                        
                                        <apex:outputpanel rendered="{!searchType != 'company'}"  >
                                            <button id="btnProjectCategoryTS" class="accordion slds-button slds-button--neutral" onclick="expandSection(this);" type="button" >Project Category</button>
                                            <div class="tooltip" id="btnProjectCategoryTSPanel" style="display:none">
                                                
                                                <diV class="tooltiptext">
                                                    <div id="header" class="div_header">
                                                        <apex:outputPanel >
                                                            <apex:outputLabel styleClass="slds-text-body_regular" value="Project Category" style="font-weight:bold;" />
                                                            <apex:commandLink styleClass="slds-text-link" value="Clear" style="float:right;" onclick=" return uncheckedAllCheckbox('btnProjectCategoryTScontent');" />
                                                        </apex:outputPanel>
                                                    </div>
                                                    <div id="btnProjectCategoryTScontent" Style="background-color:white;overflow:auto;max-height: 200px;">
                                                        <c:Tree_New ts="{!projectCategoryTS}" layer="2" />
                                                    </div>
                                                    <div id="footer" class="div_header" style="text-align:center;padding-top:4px;">
                                                        <apex:commandButton value="Apply"  onclick="onClick();createPillsForSelectedCategory('{!$Resource.rdcc__SLDS202}');toogleSelectedCategoryDiv();return customSearch();" styleClass="slds-button slds-button--neutral" />
                                                        
                                                        <input type="button" value="Close" class="btn slds-button slds-button--neutral" onclick="hideExpandedAccordian();" oncomplete="resultTableProperties();" />
                                                    </div>
                                                </diV>
                                            </div>
                                        </apex:outputpanel>
                                        
                                        <apex:outputpanel rendered="{!searchType != 'company'}"  >
                                            <div id="typeDiv" style="display:{!IF(projectCSICodeTS.nodes.size == 0, 'none','block')}">
                                                <button id="btnCSICodeTS" class="accordion slds-button slds-button--neutral" onclick="expandSection(this);" type="button">CSI Division</button>
                                                <div class="tooltip" id="btnCSICodeTSPanel" style="display:none">
                                                    
                                                    <diV class="tooltiptext">
                                                        <div id="header" class="div_header">
                                                            <apex:outputPanel >
                                                                <apex:outputLabel styleClass="slds-text-body_regular" value="CSI Division" style="font-weight:bold" />
                                                                <apex:commandLink styleClass="slds-text-link" value="Clear" style="float:right;" onclick="return uncheckedAllCheckbox('btnCSICodeTScontent');" />
                                                            </apex:outputPanel>
                                                        </div>
                                                        <div id="btnCSICodeTScontent" Style="background-color:white;overflow:auto;max-height: 200px;">
                                                            <c:Tree_New ts="{!projectCSICodeTS}" layer="2" />
                                                        </div>
                                                        <div id="footer" class="div_header" style="text-align:center;padding-top:4px;">
                                                            <apex:commandButton value="Apply" onclick="onClick();createPillsForSelectedCSICodes('{!$Resource.rdcc__SLDS202}');toogleSelectedCSIDiv();return customSearch();" styleClass="slds-button slds-button--neutral" />                                                        
                                                            <input type="button" value="Close" class="btn slds-button slds-button--neutral" onclick="hideExpandedAccordian();" oncomplete="resultTableProperties();" />
                                                        </div>
                                                    </diV>
                                                </div>
                                            </div>
                                        </apex:outputpanel>
                                        
                                         <apex:outputpanel rendered="{!searchType != 'company'}"  >
                                            <button id="btnMaterialCodeTS" class="accordion slds-button slds-button--neutral" onclick="expandSection(this);" type="button" >Material Code</button>
                                            <div class="tooltip" id="btnMaterialCodeTSPanel" style="display:none">
                                                
                                                <diV class="tooltiptext">
                                                    <div id="header" class="div_header">
                                                        <apex:outputPanel >
                                                            <apex:outputLabel styleClass="slds-text-body_regular" value="Material Demand" style="font-weight:bold;" />
                                                            <apex:commandLink styleClass="slds-text-link" value="Clear" style="float:right;" onclick=" return uncheckedAllCheckbox('btnMaterialCodeTScontent');" />
                                                        </apex:outputPanel>
                                                    </div>
                                                    <div id="btnMaterialCodeTScontent" Style="background-color:white;overflow:auto;max-height: 200px;">
                                                        <c:Tree_New ts="{!projectMaterialCodeTS}" layer="2" />
                                                    </div>
                                                    <div id="footer" class="div_header" style="text-align:center;padding-top:4px;">
                                                        <apex:commandButton value="Apply"  onclick="onClick();createPillsForSelectedMaterialCodes('{!$Resource.rdcc__SLDS202}');toggleSelectedDiv('selectedMaterialCodeDiv','selectedMaterialCodeContainer');return customSearch();" styleClass="slds-button slds-button--neutral" />
                                                        
                                                        <input type="button" value="Close" class="btn slds-button slds-button--neutral" onclick="hideExpandedAccordian();" oncomplete="resultTableProperties();" />
                                                    </div>
                                                </diV>
                                            </div>
                                        </apex:outputpanel>
                                        
                                        
                                        
                                        <apex:outputpanel rendered="{!searchType != 'company'}"  >
                                            <button id="btnProjectLastUpdated" class="accordion slds-button slds-button--neutral" onclick="expandSectionBelow(this);" type="button" >Project Last Updated Date</button>
                                            <div class="panel" id="btnProjectLastUpdatedPanel" style="display:none">
                                                <div style="float:right;margin-right:10px;">
                                                    <apex:commandLink styleClass="slds-text-link" value="Clear" onclick="return clearLastUpdate();" />
                                                </div>
                                                <div>
                                                    <apex:outputLabel styleClass="slds-text-body_regular" for="frmLastUpdated" value="From" style="margin-right: 35px;font-weight: bold;" />
                                                    <c:DatePicker dateFieldId="fromLastUpdated" />
                                                    
                                                </div>
                                                <br/>
                                                <div>
                                                    <apex:outputLabel styleClass="slds-text-body_regular" for="toLastUpdated" value="To" style="margin-right: 35px;font-weight: bold;" />
                                                    <c:DatePicker dateFieldId="toLastUpdated" />
                                                    
                                                </div>
                                                <br/>
                                                <div id="errMsgLastUpdatedDate" style="display:none;color:red"><p>*Please provide value of atleast one field.</p><br/></div>
                                                <div style="text-align:center">
                                                    
                                                    <apex:commandButton value="Apply" onclick="onClick(); return validateData('date_fromLastUpdated','date_toLastUpdated','errMsgLastUpdatedDate','Last Updated Date','{!$Resource.rdcc__SLDS202}');" styleClass="slds-button slds-button--neutral" style="margin-bottom: 5px;" />
                                                </div>
                                            </div>
                                            
                                            
                                        </apex:outputpanel>
                                        
                                        <apex:outputpanel rendered="{!searchType != 'company'}"  >
                                            <button id="btnProjectBiddingDtRng" class="accordion slds-button slds-button--neutral" onclick="expandSectionBelow(this);" type="button" >Project Bidding Date Range</button>
                                            <div class="panel" id="btnProjectBiddingDtRngPanel" style="display:none">
                                                <div style="float:right;margin-right:10px;">
                                                    <apex:commandLink styleClass="slds-text-link" value="Clear" onclick="return clearBiddingDate();" />
                                                </div>
                                                <div>
                                                    <apex:outputLabel styleClass="slds-text-body_regular" for="frmBiddingDate" value="From" style="margin-right: 35px;font-weight: bold;" />
                                                    <c:DatePicker dateFieldId="fromBidding" />
                                                    
                                                </div>
                                                <br/>
                                                <div>
                                                    <apex:outputLabel styleClass="slds-text-body_regular" for="toBiddingDate" value="To" style="margin-right: 35px;font-weight: bold;" />
                                                    <c:DatePicker dateFieldId="toBidding" />
                                                    
                                                </div>
                                                <br/>
                                                <div id="errMsgBidDate" style="display:none;color:red"><p>*Please provide value of atleast one field.</p><br/></div>
                                                <div style="text-align:center">
                                                    <apex:commandButton value="Apply" onclick="onClick();return validateData('date_fromBidding','date_toBidding','errMsgBidDate','Bidding Date','{!$Resource.rdcc__SLDS202}');" styleClass="slds-button slds-button--neutral" style="margin-bottom: 5px;" />
                                                </div>
                                            </div>
                                            
                                            
                                        </apex:outputpanel>
                                        
                                        <apex:outputpanel rendered="{!searchType != 'company'}"  >
                                            <button id="btnProjectListedDtRng" class="accordion slds-button slds-button--neutral" onclick="expandSectionBelow(this);" type="button" >Project Listed Date Range</button>
                                            <div class="panel" id="btnProjectListedDtRngPanel" style="display:none">
                                                <div style="float:right;margin-right:10px;">
                                                    <apex:commandLink styleClass="slds-text-link" value="Clear" onclick="return clearListedDate();" />
                                                </div>
                                                <div>
                                                    <apex:outputLabel styleClass="slds-text-body_regular" for="frmListedDate" value="From" style="margin-right: 35px;font-weight: bold;" />
                                                    <c:DatePicker dateFieldId="fromListed" />
                                                    
                                                </div>
                                                <br/>
                                                <div>
                                                    <apex:outputLabel styleClass="slds-text-body_regular" for="toListedDate" value="To" style="margin-right: 35px;font-weight: bold;" />
                                                    <c:DatePicker dateFieldId="toListed" />
                                                    
                                                </div>
                                                <br/>
                                                <div id="errMsgListDate" style="display:none;color:red"><p>*Please provide value of atleast one field.</p><br/></div>
                                                <div style="text-align:center">
                                                    <apex:commandButton value="Apply" onclick="onClick();return validateData('date_fromListed','date_toListed','errMsgListDate','Listed Date','{!$Resource.rdcc__SLDS202}');" styleClass="slds-button slds-button--neutral" style="margin-bottom: 5px;" />
                                                </div>
                                            </div>
                                        </apex:outputpanel>
                                        
                                        <apex:outputpanel rendered="{!searchType != 'company'}"  >
                                            <button id="btnProjectEstValue" class="accordion slds-button slds-button--neutral" onclick="expandSectionBelow(this);" type="button" >Project Value</button>
                                            <div class="panel" id="btnProjectEstValuePanel" style="display:none;">
                                                <div style="float:right;margin-right:10px;">
                                                    <apex:commandLink value="Clear"  onclick="return clearProjectEstValue();"/>
                                                </div>
                                                <div>
                                                    <apex:outputLabel styleClass="slds-text-body_regular" for="frmLastUpdated" value="Min" style="margin-right: 30px;font-weight: bold;" />
                                                    <apex:inputText id="minProjectValue"  label="Min" style="width:100%;margin-top: 5px;" styleClass="slds-input" />
                                                </div>
                                                <br/>
                                                <div>
                                                    <apex:outputLabel styleClass="slds-text-body_regular" for="toLastUpdated" value="Max" style="margin-right: 30px;font-weight: bold;" />
                                                    <apex:inputText id="maxProjectValue" label="Min" style="width:100%;margin-top: 5px;" styleClass="slds-input" />
                                                    
                                                </div>
                                                <br/>
                                                <div>
                                                    <apex:inputCheckbox value="{!includeNullValues}" id="estCheck" />
                                                    <apex:outputLabel styleClass="slds-text-body_regular" for="estCheck" value="Show projects without values or zero value" />
                                                </div>
                                                <br/>
                                                <div id="errMsgEstValue" style="display:none;color:red"><p>*Please provide value of atleast one field.</p><br/></div>
                                                <div style="text-align:center">
                                                    <apex:commandButton value="Apply"  onclick="onClick(); return validateData('page:csLightForm:minProjectValue','page:csLightForm:maxProjectValue','errMsgEstValue','Estimated Value','{!$Resource.rdcc__SLDS202}');" status="spinnerStatus" styleClass="slds-button slds-button--neutral" style="margin-bottom: 5px;" />
                                                </div>
                                            </div>
                                        </apex:outputPanel>
                                        
                                        
                                        
                                        <div id="selectedLocationContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header selectedDivHeadr">
                                                <p>
                                                   {!IF(searchType == 'project','Project Location','Company Location')}   
                                                </p>
                                            </div>
                                            <div id="selectedLocationDiv" class="selectedDiv"/>
                                        </div>
                                        
                                        
                                        
                                        <div id="selectedStageContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header selectedDivHeadr">
                                                <p>
                                                    Project Stage
                                                </p>
                                            </div>
                                            <div id="selectedStageDiv" class="selectedDiv" />
                                        </div>
                                        
                                        
                                        
                                        <div id="selectedCategoryContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header selectedDivHeadr">
                                                <p>
                                                    Project Category
                                                </p>
                                            </div>
                                            <div id="selectedCategoryDiv" class="selectedDiv" />
                                        </div>
                                        
                                        
                                        
                                        <div id="selectedCSICodeContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header selectedDivHeadr">
                                                <p>
                                                    CSI Division
                                                </p>
                                            </div>
                                            <div id="selectedCSICodeDiv" class="selectedDiv" />
                                        </div>
                                        
                                        <div id="selectedMaterialCodeContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header selectedDivHeadr">
                                                <p>
                                                    Material Code
                                                </p>
                                            </div>
                                            <div id="selectedMaterialCodeDiv" class="selectedDiv" />
                                        </div>
                                        
                                        <div id="selectedLastUpdatedDateContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header selectedDivHeadr" > 
                                                <p>
                                                    Last Updated Date
                                                </p>
                                            </div>                                      
                                            <div id="selectedLastUpdatedDateDiv" class="selectedDiv" /> 
                                        </div>
                                        
                                        
                                        <div id="selectedBidDateContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header selectedDivHeadr" > 
                                                <p>
                                                    Bidding Date
                                                </p>
                                            </div>                                      
                                            <div id="selectedBidDateDiv" class="selectedDiv" /> 
                                        </div>
                                        
                                        <div id="selectedListDateContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header selectedDivHeadr" > 
                                                <p>
                                                    Listed Date
                                                </p>
                                            </div>                                      
                                            <div id="selectedListDateDiv" class="selectedDiv" /> 
                                        </div>
                                        
                                        <div id="selectedEstValueContainer" class="slds" style="display:none">
                                            <div id="header" class="div_header selectedDivHeadr"> 
                                                <p>
                                                    Project Value
                                                </p>
                                            </div>                                      
                                            <div id="selectedEstValueDiv" class="selectedDiv" /> 
                                        </div>
                                        
                                        <div id="selectedTypeContainer" class="slds" style="display:none;width:200px">
                                            <div id="header" class="div_header selectedDivHeadr">
                                                <p>
                                                    Company Type
                                                </p>
                                            </div>
                                            <div id="selectedTypeDiv"  class="selectedDiv" />
                                        </div>
                                        
                                        
                                        
                                        
                                    </apex:outputPanel>
                                </div>
                            </div>
                            
                        </td>
                        <td valign="top"  onclick="hideExpandedAccordian();">
                            <apex:outputPanel >                 
                                <div style="margin:20px;">
                                    <apex:inputText styleClass="slds-input" html-placeholder="Enter Search Text..." id="searchText" onkeydown="if (event.keyCode == 13){event.preventDefault();this.nextSibling.click()}" style="width:70%; margin-right:5px;" />                                    
                                    <apex:commandButton id="btnSearch"  onclick="onClick();return customSearch();" status="spinnerStatus" rerender="results,debug,errors" style="height: 30px;border-radius:.250 rem;outline:none;padding:1px 2px;" value="Search!" image="{!URLFOR($Resource.rdcc__SLDS202, '/assets/icons/utility/search_60.png')}" styleClass="slds-button slds-button--neutral" />
                                    
                                    <apex:inputCheckbox title="Exact Match" label="Exact Match" selected="{!exactSearch}" style="margin-left:10px;"/>
                                    <span>Exact Match</span>
                                    
                                    <div  style="float: right; margin-right: 15px;">
                                        <div style="float: left;">
                                            <apex:image onclick="onClick();return importRecordsInSF();" styleClass="cButton"  title="Import Records" url="{!URLFOR($Resource.rdcc__SLDS202,'/assets/icons/custom/download2.png')}" style="height: 35px !important;width: 35px;"/>
                                        </div>
                                        <div style="float: left;    margin-left: 15px;">
                                            <apex:image title="Column Setting" onclick="hideExpandedAccordian();return toggleDisplayModel('ModalId')" styleClass="cButton" url="{!URLFOR($Resource.rdcc__SLDS202,'/assets/icons/custom/tableSetting.png')}" style="height: 30px !important;width: 30px;"/>
                                        </div>
                                        <!--div style="float: left;    margin-left: 10px;">
                                            <apex:image title="Save Search Name" onclick="return openSrchNameModelBox();" styleClass="cButton" url="{!URLFOR($Resource.ConstructConnect,'images/save.png')}" style="height: 28px !important;width: 28px;"/>
                                        </div-->
                                    </div>
                                </div>                                
                            </apex:outputPanel>
                            <apex:outputPanel id="results"><br/>
                                <apex:outputPanel >
                                    <table id="resultTable" class="display slds-table slds-table--bordered">
                                        <thead>
                                            <tr class="slds-text-title--caps">
                                                <apex:variable value="{!2}" var="count"/>
                                                <th id="0" style="display:none;">&nbsp;</th>                                       
                                                <th style="width:60px !important;border-bottom: 2px solid #d8dde6" class="no-sort" id="1" ><apex:inputCheckbox id="master-checkbox" onchange="selectAll(this.checked)" /></th>
                                                <apex:repeat value="{!selectedFields}" var="f">
                                                    <th id="{!count}" onclick="getOrdering(this);" style="border-bottom: 2px solid #d8dde6">{!f.Label}
                                                        <apex:outputPanel rendered="{!IF(OR(fieldApiNameTypeMap[f.value] == 'DATE',fieldApiNameTypeMap[f.value] == 'DATETIME'),true,false)}">
                                                            <apex:variable value="{!(count+1)}" var="count"/>  
                                                            <input type="hidden" id="{!count}"  class="dateHeader" />
                                                            <th id="{!count}">dummyDate</th>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF(fieldApiNameTypeMap[f.value]=='CURRENCY',true,false)}">
                                                            <apex:variable value="{!(count+1)}" var="count"/>  
                                                            <input type="hidden" id="{!count}"  class="currencyHeader" />
                                                            <th id="{!count}">dummyCurrency</th>
                                                        </apex:outputPanel>
                                                    </th>
                                                    <apex:variable value="{!(count+1)}" var="count"/>    
                                                </apex:repeat> 
                                            </tr>
                                        </thead>
                                        <tbody >
                                            <apex:repeat id="project-repeat" value="{!projects}" var="insProject" rendered="{!IF(searchType=='company',false,true)}">
                                                <tr>
                                                    <td style="display:none;">&nbsp;</td>
                                                    <td><input  type="checkbox" id="{!projects[insProject].ProjectId}" class="demo"  onchange="pushPopIds('{!projects[insProject].ProjectId}')" />
                                                        &nbsp; &nbsp;
                                                        <apex:image styleClass="abc" title="Sync" url="{!URLFOR($Resource.rdcc__SLDS202,'/assets/icons/custom/sync3.png')}" style="height:17px !important;width:17px;" rendered="{!recordsAlreadyInSF[projects[insProject].ProjectId]}" onclick="onClick();importRecordsInSF('{!projects[insProject].ProjectId}');"/>
                                                        <apex:image styleClass="abc" title="Import" url="{!URLFOR($Resource.rdcc__SLDS202,'/assets/icons/custom/download3.png')}" style="height:17px !important;width:17px;" rendered="{!NOT(recordsAlreadyInSF[projects[insProject].ProjectId])}" onclick="onClick();importRecordsInSF('{!projects[insProject].ProjectId}');"/>
                                                    </td>
                                                    <apex:repeat value="{!selectedFields}" var="f">
                                                        <td>
                                                            <div style="word-wrap: break-word;max-width: 175px;">
                                                            <apex:outputPanel rendered="{!f.value == 'Title'}">
                                                                <a class="slds-text-link" target="_blank" href="/apex/InsightProjectDetailPage_Lightning?type=detail&Id={!projects[insProject].ProjectId}">{!projects[insProject].Title}</a>
                                                            </apex:outputPanel>
                                                           <div class="tableData">
                                                                <apex:outputText rendered="{!OR(f.value == 'AddressLine1',f.value == 'AddressLine2',f.value == 'Latitude',f.value == 'Longitude',f.value == 'City',f.value == 'County',f.value == 'StateProvince',f.value == 'PostalCode',f.value == 'Country')}" styleClass="slds-text-body_regular" value="{!projects[insProject].address[0][f.value]}"></apex:outputText>
                                                            </div>
                                                            
                                                            <apex:outputPanel rendered="{!NOT(OR(f.value == 'Title',f.value == 'AddressLine1',f.value == 'AddressLine2',f.value == 'Latitude',f.value == 'Longitude',f.value == 'City',f.value == 'County',f.value == 'StateProvince',f.value == 'PostalCode',f.value == 'Country'))}">
                                                                <div class="tableData">
                                                                    <apex:outputText rendered="{!NOT(OR(fieldApiNameTypeMap[f.value]=='CURRENCY',fieldApiNameTypeMap[f.value]=='DATE',fieldApiNameTypeMap[f.value]=='DATETIME'))}" value="{!projects[insProject][f.value]}"></apex:outputText>
                                                                </div>
                                                                <apex:outputText styleClass="tableData" rendered="{!OR(fieldApiNameTypeMap[f.value]=='DATE',fieldApiNameTypeMap[f.value]=='DATETIME')}" value="{0,date,MM/dd/yyyy}">
                                                                    <apex:param value="{!projects[insProject][f.value]}" />
                                                                </apex:outputText>
                                                                <div class="tableData">
                                                                    <apex:outputText rendered="{!fieldApiNameTypeMap[f.value]=='CURRENCY'}" styleClass="slds-text-body_regular" value="{0, Number, Currency}"><apex:param value="{!projects[insProject][f.value]}" /></apex:outputText>
                                                               </div>
                                                            </apex:outputPanel>
                                                            <apex:outputPanel rendered="{!IF(fieldApiNameTypeMap[f.value]=='CURRENCY',true,false)}">
                                                                <td>{!projects[insProject][f.value]}</td>
                                                            </apex:outputPanel>
                                                            <apex:outputPanel rendered="{!IF(OR(fieldApiNameTypeMap[f.value] == 'DATE',fieldApiNameTypeMap[f.value] == 'DATETIME'),true,false)}">
                                                                <td>
                                                                    <apex:outputText styleClass="slds-text-body_regular" value="{!projects[insProject][f.value]}"></apex:outputText>
                                                                </td>
                                                            </apex:outputPanel>
                                                            </div>
                                                        </td>
                                                    </apex:repeat>
                                                </tr>
                                                
                                            </apex:repeat>
                                            <apex:repeat value="{!companies}" var="key" rendered="{!IF(searchType=='company',true,false)}">
                                                <tr>
                                                    <td style="display:none;">&nbsp;</td>
                                                    <td><input class="demo" type="Checkbox" id="{!companies[key].CompanyId}" onchange="pushPopIds('{!companies[key].CompanyId}')" />
                                                        &nbsp; &nbsp;
                                                        <apex:image styleClass="abc" title="Sync" url="{!URLFOR($Resource.rdcc__SLDS202,'/assets/icons/custom/sync3.png')}" style="height:17px !important;width:17px;" rendered="{!recordsAlreadyInSF[companies[key].CompanyId]}" onclick="onClick();importRecordsInSF('{!companies[key].CompanyId}');"/>
                                                        <apex:image styleClass="abc" title="Import" url="{!URLFOR($Resource.rdcc__SLDS202,'/assets/icons/custom/download3.png')}" style="height:17px !important;width:17px;" rendered="{!NOT(recordsAlreadyInSF[companies[key].CompanyId])}" onclick="onClick();importRecordsInSF('{!companies[key].CompanyId}');"/>
                                                    </td>
                                                    <apex:repeat value="{!selectedFields}" var="f">
                                                        
                                                        <td>
                                                            <div style="word-wrap: break-word;max-width: 175px;">
                                                            <apex:outputPanel rendered="{!f.value == 'Name'}">
                                                                <a class="slds-text-link" target="_blank" href="/apex/InsightProjectDetailPage_Lightning?type=company&Id={!companies[key].CompanyId}">{!companies[key].Name}</a>
                                                            </apex:outputPanel>
                                                            <apex:outputPanel rendered="{!OR(f.value == 'AddressLine1',f.value == 'AddressLine2',f.value == 'Latitude',f.value == 'Longitude',f.value == 'City',f.value == 'County',f.value == 'StateProvince',f.value == 'PostalCode',f.value == 'Country')}">
                                                                <apex:outputText styleClass="slds-text-body_regular" value="{!companies[key].address[0][f.value]}"></apex:outputText>
                                                            </apex:outputPanel>
                                                            
                                                            <apex:outputPanel rendered="{!NOT(OR(f.value == 'Name',f.value == 'AddressLine1',f.value == 'AddressLine2',f.value == 'Latitude',f.value == 'Longitude',f.value == 'City',f.value == 'County',f.value == 'StateProvince',f.value == 'PostalCode',f.value == 'Country'))}">
                                                                <div style="max-width: 160px !important;word-wrap: break-word;" >
                                                                    <apex:outputText rendered="{!NOT(OR(fieldApiNameTypeMap[f.value]=='CURRENCY',fieldApiNameTypeMap[f.value]=='DATE',fieldApiNameTypeMap[f.value]=='DATETIME'))}" styleClass="slds-text-body_regular" value="{!companies[key][f.value]}"></apex:outputText>
                                                                </div>
                                                                <apex:outputPanel rendered="{!fieldApiNameTypeMap[f.value]=='CURRENCY'}">
                                                                    <apex:outputText styleClass="slds-text-body_regular" value="{0, Number, Currency}"><apex:param value="{!companies[key][f.value]}" /></apex:outputText>
                                                                </apex:outputPanel>
                                                                <apex:outputPanel rendered="{!OR(fieldApiNameTypeMap[f.value]=='DATE',fieldApiNameTypeMap[f.value]=='DATETIME')}">
                                                                    <apex:outputText styleClass="slds-text-body_regular" value="{0,date,MM/dd/yyyy}">
                                                                        <apex:param value="{!companies[key][f.value]}" />
                                                                    </apex:outputText>
                                                                </apex:outputPanel>
                                                            </apex:outputPanel>
                                                            <apex:outputPanel rendered="{!IF(fieldApiNameTypeMap[f.value]=='CURRENCY',true,false)}">
                                                                <td>{!companies[key][f.value]}</td>
                                                            </apex:outputPanel>
                                                            <apex:outputPanel rendered="{!IF(OR(fieldApiNameTypeMap[f.value] == 'DATE',fieldApiNameTypeMap[f.value] == 'DATETIME'),true,false)}">
                                                                <td>
                                                                    <apex:outputText styleClass="slds-text-body_regular" value="{!companies[key][f.value]}"></apex:outputText>
                                                                </td>
                                                            </apex:outputPanel>
                                                            </div>
                                                        </td>
                                                        
                                                    </apex:repeat>
                                                </tr> 
                                            </apex:repeat>
                                        </tbody>
                                    </table>
                                    <table style="width: 100%"><tr>
                                        
                                        <td>
                                            Showing page: <apex:outputText styleClass="slds-text-body_regular" value=" {!pageNumber} of {! lastPage }"/>
                                        </td>            
                                        
                                        <td align="center">
                                            Display:&nbsp;&nbsp;
                                            <apex:selectList value="{!pageSize}" size="1" disabled="{!lastPage == 0}">
                                                <apex:selectOption itemValue="10" itemLabel="10"/>
                                                <apex:selectOption itemValue="20" itemLabel="20"/>
                                                
                                                <apex:actionSupport onsubmit="onClick();" event="onchange" action="{!changePageSize}" oncomplete="resultTableProperties(); onComplete();" status="spinnerStatus" reRender="results,errors"/>
                                            </apex:selectList>
                                        </td>
                                        
                                        <td style="float:right" align="right">
                                            
                                            <apex:commandLink styleClass="slds-text-link" reRender="results"
                                                              action="{!first }"  value="<<" title="First Page"
                                                              rendered="{!pageNumber > 1 }" onclick="onClick()" oncomplete="resultTableProperties();onComplete();"/>
                                            
                                            <apex:outputText style="color: #ccc;" value="<<"
                                                             rendered="{!pageNumber <= 1 }"/>
                                            
                                            &nbsp; 
                                            <apex:commandLink styleClass="slds-text-link" reRender="results"
                                                              action="{!previous }" value="< Previous"
                                                              rendered="{!pageNumber > 1 }"  onclick="onClick()" title="Previous Page" oncomplete="resultTableProperties();onComplete();"/>
                                            
                                            <apex:outputText styleClass="slds-text-body_regular" style="color: #ccc;" value="< Previous"
                                                             rendered="{!pageNumber <= 1 }"/>
                                            
                                            &nbsp;&nbsp;
                                            
                                            <apex:commandLink styleClass="slds-text-link" reRender="results" status="spinnerStatus"  action="{!next }" value="Next >"
                                                              rendered="{!pageNumber != lastPage }" title="Next Page" oncomplete="resultTableProperties();onComplete();" onclick="onClick()"/>                                      
                                            <apex:outputText styleClass="slds-text-body_regular" style="color: #ccc;" value="Next >"
                                                             rendered="{!pageNumber == lastPage}"/>
                                            &nbsp;
                                            <apex:commandLink styleClass="slds-text-link" reRender="results"
                                                              status="spinnerStatus" action="{!last}" value=">>" title="Last Page"
                                                              rendered="{!pageNumber != lastPage }" oncomplete="resultTableProperties();onComplete();" onclick="onClick()"/>
                                            
                                            <apex:outputText styleClass="slds-text-body_regular" style="color: #ccc;" value=">>"
                                                             rendered="{!pageNumber == lastPage }"/>
                                        </td>                                    
                                        </tr></table>
                                </apex:outputPanel>
                            </apex:outputPanel>
                        </td>
                    </tr>
                </table>
                
            </apex:form>
            <apex:form styleClass="slds" id="theForm2">
                <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    
                    <!--apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" /-->
                    <div id="ModalId" style="display:none">
                        <div role="dialog" id="boxId" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal--small slds-scrollable" aria-labelledby="header43">
                            <div class="slds-modal__container">
                                <div class="slds-spinner_container" id="loadingOpp" style="display:none;">
                                    
                                    <div role="status" class="slds-spinner slds-spinner--medium">
                                        <span class="slds-assistive-text">Loading</span>
                                        <div class="slds-spinner__dot-a"></div>
                                        <div class="slds-spinner__dot-b"></div>
                                    </div>
                                    
                                </div>
                                
                                
                                <div class="slds-modal__header">
                                    <div id="msgDivOpp" style="display:none;margin-left:20px; margin-right:20px;">
                                        <apex:pageMessages id="errorsOpp"></apex:pageMessages>
                                    </div>
                                </div>
                                <div class="slds-modal__content slds-p-around--medium">
                                    <div style="height:Auto;">
                                        <c:MultiselectComponent id="columns" leftLabel="Available Fields" leftOption="{!availableFields}" rightLabel="Selected Fields" rightOption="{!selectedFields}" execeuteAdditionalCriteria="true" size="8" width="200px" />
                                    </div>
                                </div>
                                <div class="slds-modal__footer">
                                    <apex:commandButton value="Save" action="{!updateColoumnSelection}"   onclick="onClickOpp();" oncomplete="resultTableProperties();toggleDisplayModel('ModalId');hideErrMsg();onCompleteOpp();" reRender="results" style="width: 70px;margin-left: 10px;" styleClass="slds-button slds-button--neutral" />
                                    <apex:commandButton value="Cancel" onclick="hideErrMsg();return toggleDisplayModel('ModalId');" style="width: 70px;margin-left: 10px;" styleClass="slds-button slds-button--neutral" />
                                </div>
                            </div>
                        </div>
                        <div class="slds-backdrop slds-backdrop--open" id="backGroundSectionId"></div>
                    </div>
                    <div id="searchNameModel" style="display:none">
                        <div role="dialog" id ="boxId" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal--small slds-scrollable" aria-labelledby="header43">
                            <div class="slds-modal__container">
                                <div class="slds-modal__header">
                                    Save Search Name
                                </div>
                                <div class="slds-modal__content slds-p-around--medium">                                
                                    <div style="height:Auto;">
                                      <apex:outputLabel value="Name" for="srchName" style="font-weight: bold;" ></apex:outputLabel>
                                      <apex:inputText onkeydown="if (event.keyCode == 13){event.preventDefault();return saveSearch();}" id="srchName" style="margin-left:10px" label="Search Name" />
                                    </div>
                                </div>
                                <div class="slds-modal__footer">
                                    <apex:commandButton styleClass="slds-button slds-button--neutral" value="Save" onclick="return saveSearch();" style="width: 70px;margin-left: 10px;"/>
                                    <apex:commandButton styleClass="slds-button slds-button--neutral" value="Cancel" onclick="return toggleDisplayModel('searchNameModel');" style="width: 70px;margin-left: 10px;"/>                       
                                </div>  
                            </div>                        
                        </div>
                        <div class="slds-backdrop slds-backdrop--open" id="backGroundSectionId"></div>
                    </div>
                </html>
            </apex:form>
        </html>
    </div>
</apex:page>