<apex:page standardController="rdcc__Deleted_Record_List__c" recordSetVar="deletedRecordList" extensions="rdcc.MassDeletion">
    
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
        <script src="../../soap/ajax/36.0/connection.js" type="text/javascript"></script> 
        <script src="../../soap/ajax/36.0/apex.js" type="text/javascript"></script>  
        
        <apex:form styleClass="slds" rendered="{!IF(records.size>0,true,false)}">
            <div id="ModalId" style="display:{!IF($User.UIThemeDisplayed  == 'Theme3', 'block', 'none')}" >
                <div role="dialog" id ="boxId" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal--small slds-scrollable" aria-labelledby="header43">
                    <div class="slds-modal__container">
                        <div class="slds-modal__header">
                            
                        </div>
                        <div class="slds-modal__content slds-p-around--medium">                                
                            <div style="height:Auto;">
                                <apex:pageMessage strength="2" severity="info" title="Are you sure you want to delete the selected record(s)?"></apex:pageMessage>
                            </div>
                        </div>
                        <div class="slds-modal__footer">
                            <apex:commandButton value="Yes" action="{!deleteRecords}"  style="width: 70px;margin-left: 10px;"/>                                                     
                            
                            <apex:commandButton value="No" action="{!onCancel}" style="width: 70px;margin-left: 10px;"/>
                            
                        </div>
                    </div>                        
                </div>
                <div class="slds-backdrop slds-backdrop--open" id="backGroundSectionId"></div>
            </div> 
            <div id="ModalId_light" style="display:{!IF(OR($User.UIThemeDisplayed  == 'Theme4d',$User.UIThemeDisplayed== 'Theme4t'), 'block', 'none')}" >
                <div role="dialog" id ="boxId" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal--small slds-scrollable" aria-labelledby="header43">
                    <div class="slds-modal__container">
                        <div class="slds-modal__header slds-theme--error slds-theme--alert-texture">
                            <button class="slds-button slds-modal__close slds-button--icon-inverse" title="Close">
                                <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h2 class="slds-text-heading--medium" id="prompt-heading-id">Are you sure you want to delete the selected record(s)?</h2>
                        </div>
                        
                        <div class="slds-modal__footer slds-theme--default">
                            
                            <apex:commandButton value="Ok" action="{!deleteRecordsLightning}" oncomplete="sforce.one.back(true);" styleClass="slds-button slds-button--neutral" style="width: 70px;margin-left: 10px;"/> 
                            <apex:commandButton value="Cancel" onclick="sforce.one.back(true);" styleClass="slds-button slds-button--neutral" style="width: 70px;margin-left: 10px;"/>
                            
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open" id="backGroundSectionId"></div>
            </div>
            
            
        </apex:form>
        
        <apex:form styleClass="slds" rendered="{!IF(records.size>0,false,true)}">
            
            <div id="ModalIdBox" style="display:{!IF($User.UIThemeDisplayed  == 'Theme3', 'block', 'none')}">
                <div role="dialog"  tabindex="-1" class="slds-modal slds-fade-in-open slds-modal--small slds-scrollable" aria-labelledby="header43">
                    <div class="slds-modal__container">
                        <div class="slds-modal__header">
                        </div>
                        <div class="slds-modal__content slds-p-around--medium">                                
                            <div style="height:Auto;">
                                <apex:pageMessage strength="2" severity="ERROR" title="You must select at least one record."></apex:pageMessage>
                                
                                
                            </div>
                        </div>
                        <div class="slds-modal__footer">
                            
                            <apex:commandButton value="Ok" action="{!onCancel}" style="width: 70px;margin-left: 10px;"/> 
                            
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open" id="backGroundSectionId"></div>
            </div>
            
            <div id="ModalId_light" style="display:{!IF(OR($User.UIThemeDisplayed  == 'Theme4d',$User.UIThemeDisplayed== 'Theme4t'), 'block', 'none')}" >
                <div role="dialog" id ="boxId" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal--small slds-scrollable" aria-labelledby="header43">
                    <div class="slds-modal__container">
                        <div class="slds-modal__header slds-theme--error slds-theme--alert-texture">
                            <button class="slds-button slds-modal__close slds-button--icon-inverse" title="Close">
                                <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h2 class="slds-text-heading--medium" id="prompt-heading-id">You must select at least one record.</h2>
                        </div>
                        
                        <div class="slds-modal__footer slds-theme--default">
                            
                            <apex:commandButton value="Ok" onclick="sforce.one.back(true);" styleClass="slds-button slds-button--neutral" style="width: 70px;margin-left: 10px;"/> 
                            
                            
                            
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open" id="backGroundSectionId"></div>
            </div>
        </apex:form>
    </html>
</apex:page>