<apex:page controller="rdcc.InsightProjectSearch" id="page" tabStyle="rdcc__InsightProjects__tab"   docType="html-5.0" sidebar="false">
    <apex:actionStatus id="spinnerStatus">
        <apex:facet name="start">
            <div class="spinnerBg" />
            <div class="spinner" />
        </apex:facet>
    </apex:actionStatus>
    <apex:includescript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/jquery-1.11.1.min.js')}" />
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <apex:includescript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/jquery.dataTables.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__ConstructConnect, 'css/jquery.dataTables.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/InsightProjectSearchPage_New.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.rdcc__ConstructConnect, 'js/SavedSearch.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__ConstructConnect, 'css/InsightProjectSearchPage.css')}"/>
    <script type="text/javascript">
        var __sfdcSessionId = '{!GETSESSIONID()}';
    </script>
    <script src="../../soap/ajax/36.0/connection.js" type="text/javascript"></script>
    <style>
        .spinnerBg {
            top:0;
            left:0;
        }
    
    </style>
    <script>
        document.getElementById("page:spinnerStatus.start").style.display='block';
        window.onload = function() {
            document.getElementById("page:spinnerStatus.start").style.display='none';
        }
    
    j$ = jQuery.noConflict();

    j$(document).ready(function() {        
        resultTableProperties();
    });
    
    var projectTable;
    var isTableInitialised = false;
    var srchNameListView = "page:theForm:srchNameListView";
    var srchNameModalBox = "page:theForm2:srchName";
    var srchTextId = "page:theForm:resultTablePB:searchText";
    var minProjectEstValueId= "page:theForm:criteria:minProjectValue";
    var maxProjectEstValueId= "page:theForm:criteria:maxProjectValue";
    var SLDS202 = '{!$Resource.SLDS202}';
    

    function saveSearch(){
        
        var srchName = document.getElementById(srchNameModalBox).value; 
        if(srchName.length > 70){
            displayErrorMsg('Maximum length allowed for Search Name is 70.');  
        }
        
        var isProceed = validateName(srchName, '_Project');
        
        if(isProceed && srchName != null && srchName != '' && srchName.length <= 70){
            var geoLocationIds = getIdsOfSelectedFilter("btnCountryStateTSPanel");
            var searchText = document.getElementById(srchTextId).value;           
            if('{!searchType}'=='project'){
                var stageIds = getIdsOfSelectedFilter("btnProjectStageTSPanel");               
                var categoryIds = getIdsOfSelectedFilter("btnProjectCategoryTSPanel");
                var csiDivisionCodeIds = getIdsOfSelectedFilter("btnCSICodeTSPanel");
                var materialDemandIds = getIdsOfSelectedFilter("btnMaterialCodeTSPanel");
                var updatedDateRange = document.getElementById("date_fromLastUpdated").value+';'+ document.getElementById("date_toLastUpdated").value;
                var biddingRange = document.getElementById("date_fromBidding").value+';'+ document.getElementById("date_toBidding").value;
                var valueRange = document.getElementById(minProjectEstValueId).value+';'+ document.getElementById(maxProjectEstValueId).value;
                var listingRange; //= document.getElementById("date_fromListed").value+';'+ document.getElementById("date_toListed").value;
            }else{                
                var companyTypeIds = getIdsOfSelectedFilter("btnCompanyTypeTSPanel");                
            }
            
            createSearchName(srchName,
                             geoLocationIds,
                             stageIds,
                             categoryIds,
                             csiDivisionCodeIds,
                             materialDemandIds,
                             updatedDateRange,
                             biddingRange,                 
                             listingRange,
                             valueRange,                             
                             searchText,
                             companyTypeIds
                            );
        }else if(isProceed == false && srchName != ''){
            displayErrorMsg("Search with "+srchName+" already exist. In order to save this please provide different name.");
        }else if(srchName == null || srchName == '' ){            
            displayErrorMsg("Please enter search name");
        }
        return false;
        
    } 

    function applyFilters(filters,filterType){
        console.log(filterType);
        for(var i=0; i<filters.length;i++){
            if(document.getElementById(filters[i]) != null){
            	document.getElementById(filters[i]).checked = true;
            }
        }
        if(filterType == 'rdcc__Selected_Project_Location__c' || filterType == 'rdcc__Selected_Company_Location__c'){
            createPillsForSelectedLocation(SLDS202);
            toggleSelectedDiv('selectedLocationDiv','selectedLocationContainer');
        }
        if('{!searchType}'=='project'){
            if(filterType == 'rdcc__Selected_Project_Stage__c'){
                createPillsForSelectedStage(SLDS202);
                toggleSelectedDiv('selectedStageDiv','selectedStageContainer');
            }
            if(filterType == 'rdcc__Selected_Project_Category__c'){
                createPillsForSelectedCategory(SLDS202);
                toggleSelectedDiv('selectedCategoryDiv','selectedCategoryContainer');
            }
            if(filterType == 'rdcc__Selected_Project_CSI_Division__c'){
                createPillsForSelectedCSICodes(SLDS202);
                toggleSelectedDiv('selectedCSICodeDiv','selectedCSICodeContainer');
            }
            if(filterType == 'rdcc__Selected_Project_Material_Demand__c'){
                createPillsForSelectedMaterialCodes(SLDS202);
                toggleSelectedDiv('selectedMaterialCodeDiv','selectedMaterialCodeContainer');
            }
        }else{
            if(filterType == 'rdcc__Selected_Company_Type__c'){
                createPillsForSelectedType(SLDS202);
                toggleSelectedDiv('selectedTypeDiv','selectedTypeContainer');
            }
        }
        
        
    }
    
    function openSrchNameModelBox(){       
        var selectedIndex = document.getElementById(srchNameListView).selectedIndex;
        document.getElementById(srchNameModalBox).value = document.getElementById(srchNameListView).options[selectedIndex].label;
        if(document.getElementById(srchNameModalBox).value == 'Select Saved Search'){
            document.getElementById(srchNameModalBox).value = '';
        }
        toggleDisplayModel('searchNameModel');
        return false;
    }
    
    function resultTableProperties(){
        if(!isTableInitialised){
            projectTable = j$('[id$="resultTable"]').DataTable({
                "bFilter": false,
                "stripeClasses":[],
                "aaSorting": [cSorting],
                "aLengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
                "iDisplayLength": 20,
                "paging":false,
                "dom": 'rt<"top"i><"bottom"flp><"clear">',
                "bSortClasses": false,
                "columnDefs":setDatetable()
            });
            document.getElementById("resultTable_info").style.display = 'none';
            isTableInitialised = true;
        }else{
            if(/*@cc_on!@*/false || !!document.documentMode){
                projectTable.draw(false);
            }else{
                projectTable.destroy();
            }
            isTableInitialised = false;
            resultTableProperties();
        }
    }
    
    function validateData(minId,maxId,elementId,type,SLDS202){  
        var isError = false;
        var errorMsg = '';         
        var minValue =  document.getElementById(minId).value;
        var maxValue =  document.getElementById(maxId).value;
        if((minValue == null || minValue == '')){
            minValue = '0';
        }
        if((maxValue == null || maxValue == '')){
            maxValue = '0';
        }
        if( document.getElementById(minId).value =='' && document.getElementById(maxId).value ==''){
            isError = true;
            errorMsg = 'Please provide value of atleast one field.';
        }
        if(type == 'Estimated Value'){          
            if(!minValue.match(/^\d+$/) || !maxValue.match(/^\d+$/)){
                isError = true;
                errorMsg = 'Only numeric value acceptable.';
            }
            if(parseInt(minValue) > parseInt(maxValue) && !(document.getElementById(maxId).value =='' || document.getElementById(maxId).value == null)){
                isError = true;
                errorMsg = 'Min must be smaller than Max.';
            }
            
        }else {  
            if((document.getElementById(minId).value !='' && document.getElementById(maxId).value !='') &&(getTimeInMiliSecond(minValue) > getTimeInMiliSecond(maxValue))){                               
                isError = true;
                errorMsg = 'To date must be greater than from date';                
            }               
        }

        if(isError){
            document.getElementById(elementId).style.display = 'block';
            document.getElementById(elementId).innerText = errorMsg;
        }
        else{
            document.getElementById(elementId).style.display = 'none';
            if(type == 'Estimated Value'){
                createPillsForProjectEstValue('{!$Resource.SLDS202}');
                toggleSelectedDiv('selectedEstValueDiv','selectedEstValueContainer');
                
            }else if(type == 'Last Updated Date'){
                createPillsForLastUpdatedValue('{!$Resource.SLDS202}'); 
                toggleSelectedDiv('selectedLastUpdatedDateDiv','selectedLastUpdatedDateContainer');           
            }else if(type == 'Bidding Date'){
                createPillsForBidDateValue('{!$Resource.SLDS202}');
                toggleSelectedDiv('selectedBidDateDiv','selectedBidDateContainer');
            }
            return customSearch(); 
        }
        return false;
    }
    
    function getTimeInMiliSecond(s) {        
        var bits = s.split('/');        
        var d = new Date(bits[2],bits[0]-1,bits[1]);       
        return d.getTime();       
    }
    
    function getSelectedValue(){
        
        var tempArray = [];
        tempArray = getSelectedValueString("btnCountryStateTSPanel","");
        country = tempArray[0];
        state = tempArray[1];
        county = tempArray[2];    
        tempArray = getSelectedValueString("btnProjectStageTSPanel","");
        stage = tempArray[1]+tempArray[0];
        tempArray = getSelectedValueString("btnProjectCategoryTSPanel","Category");
        category = tempArray[1]+tempArray[0];
        tempArray = getSelectedValueString("btnCSICodeTSPanel","");
        divisionCode = tempArray[1]+tempArray[0];
        var to = '';
        var from = '';
        if(document.getElementById("date_fromLastUpdated").value != ''){
            from = document.getElementById("date_fromLastUpdated").value;
        }
        if(document.getElementById("date_toLastUpdated").value != ''){
            to = document.getElementById("date_toLastUpdated").value;
        }
        lastUpdatedDateRange = from+';'+ to;
        to = '';
        from = '';
        
        if(document.getElementById("date_fromBidding").value != ''){
            from = document.getElementById("date_fromBidding").value;
        }
        if(document.getElementById("date_toBidding").value != ''){
            to = document.getElementById("date_toBidding").value;
        }
       
        biddingDateRange = from+';'+ to;
        projectValueRange = document.getElementById("page:theForm:criteria:minProjectValue").value+';'+ document.getElementById("page:theForm:criteria:maxProjectValue").value;
        searchText = document.getElementById("page:theForm:resultTablePB:searchText").value;
        listView =document.getElementById("page:theForm:theLV").value;
        
    }
    
    function getSelectedValueString(elementId,type){
        var tempArray = [];
        var firstLevel = '';
        var secondLevel = '';
        var thirdLevel = '';
        var elements = document.querySelectorAll("#"+elementId+" input");
        for(var i=0;i<elements.length;i++){            
            if(elements[i].checked){
                if(elements[i].id.includes('firstLevelcheck')){
                    if(type == 'Category'){
                        firstLevel += "'"+elements[i].nextElementSibling.textContent+"';";
                    }else{
                        firstLevel += elements[i].nextElementSibling.textContent+';';
                    }
                }
                if(elements[i].id.includes('secondLevelcheck')){
                    if(type == 'Category'){
                        secondLevel += "'"+elements[i].nextElementSibling.textContent+"';";    
                    }else{
                        secondLevel += elements[i].nextElementSibling.textContent+';';
                    }                    
                }
                if(elements[i].id.includes('thirdLevelcheck')){                    
                    thirdLevel += elements[i].nextElementSibling.textContent.split(" | ")[1]+';';                    
                }
            }
        }
        tempArray.push(firstLevel);
        tempArray.push(secondLevel);
        tempArray.push(thirdLevel);
        return tempArray;
    }
    
    function setSelectedIndex(){
        var options = document.getElementById(srchNameListView);
        if(options != null){
            for(var i=0; i<options.length;i++){
                if(options[i].label == document.getElementById(srchNameModalBox).value){
                    document.getElementById(srchNameListView).options.selectedIndex = i;                   
                }
            }
        }
        document.getElementById('searchNameModel').style.display='none';       
    }
    
    function isFilterApplied(){
        var geoLocationIds = getIdsOfSelectedFilter("btnCountryStateTSPanel");
        var searchText = document.getElementById(srchTextId).value;                       
        var stageIds = getIdsOfSelectedFilter("btnProjectStageTSPanel");               
        var categoryIds = getIdsOfSelectedFilter("btnProjectCategoryTSPanel");
        var csiDivisionCodeIds = getIdsOfSelectedFilter("btnCSICodeTSPanel");
        var materialDemandIds = getIdsOfSelectedFilter("btnMaterialCodeTSPanel");
        var updatedDateRange = document.getElementById("date_fromLastUpdated").value+';'+ document.getElementById("date_toLastUpdated").value;
        var biddingRange = document.getElementById("date_fromBidding").value+';'+ document.getElementById("date_toBidding").value;
        var valueRange = document.getElementById(minProjectEstValueId).value+';'+ document.getElementById(maxProjectEstValueId).value;
        
        if(geoLocationIds.trim() != '' || searchText.trim() != '' || stageIds.trim() != '' || categoryIds.trim() != '' || csiDivisionCodeIds.trim() != '' || materialDemandIds.trim() != '' || updatedDateRange.trim() != ';' || biddingRange.trim() != ';' || valueRange.trim() != ';' ){
        	return true;
        }
        return false;

    }
    
    

    
    </script>
    <style>
          .searchTypeListViewDiv{
            float: right;
            width: 32%;             
            margin-right: 5px;
        }
    </style>

    
    <apex:form id="theForm" style="min-height:550px;">
        <apex:actionFunction name="searchServer" action="{!runSearch}" oncomplete="resultTableProperties();hideExpandedAccordian();" status="spinnerStatus" rerender="results,srchNameListView,debug,errors">
            <apex:param name="country" value=""/>
            <apex:param name="state" value=""/>
            <apex:param name="county" value=""/>
            <apex:param name="stage" value=""/>
            <apex:param name="category" value=""/>
            <apex:param name="divisionCode" value=""/>
            <apex:param name="lastUpdatedDateRange" value=""/>
            <apex:param name="biddingDateRange" value=""/>
            <apex:param name="projectValueRange" value=""/>
            <apex:param name="searchText" value=""/>
            <apex:param name="listView" value=""/>
            <apex:param name="srchName" value=""/>
        </apex:actionFunction>
        <apex:actionFunction name="createSearchName" action="{!createSearchName}" oncomplete="resultTableProperties();hideExpandedAccordian();toggleDisplayModel('searchNameModel');setSelectedIndex();" status="spinnerStatus" rerender="srchNameListView,pgMsg,results,theLV"  >
            <apex:param name="srchName" value=""/> 
            <apex:param name="geoLocation" value=""/>
            <apex:param name="stages" value=""/>
            <apex:param name="categories" value=""/>
            <apex:param name="csiDivisionCodes" value=""/>
            <apex:param name="materialDemands" value=""/>
            <apex:param name="updatedDateRange" value=""/>
            <apex:param name="biddingDateRange" value=""/>
            <apex:param name="listingDateRange" value=""/>
            <apex:param name="valueRange" value=""/>
            <apex:param name="searchText" value=""/>
            <apex:param name="companyType" value=""/>
        </apex:actionFunction>
        <apex:actionFunction name="deleteSrchName" action="{!deleteSearchName}" oncomplete="resultTableProperties();hideExpandedAccordian();" status="spinnerStatus" reRender="srchNameListView,pgMsg,results,theLV" >
            <apex:param name="srchNameId" value=""/>
        </apex:actionFunction>
        <apex:actionFunction name="listViewChange" action="{!onListViewChange}" oncomplete="resultTableProperties();" status="spinnerStatus" rerender="results,debug,errors"/>
        <apex:pageMessages id="errors" />       
        <apex:sectionHeader title="Insight Projects" subtitle="Home"/>       
        <div>
            <div style=" width:30%;float:left;margin-bottom:15px;display:{!IF(isMyInsightProj,'none','block')}" onclick="hideExpandedAccordian()" >
                <span>
                    <label for="fcf" style="text-align:left;font-weight:bold;padding-right:.69em;">
                        <span class="assistiveText">*</span>View:
                    </label>
                    <span>
                        <apex:selectList id="theLV" style="display:{!IF(isMyInsightProj,'none','block')} margin-right: 5px;width: auto; height:22px" value="{!selectedListView}" size="1" onchange="onChangeListView();">
                            <apex:selectOptions value="{!listViews}"/>        
                        </apex:selectList>
                        
                    </span>
                    
                </span>            
            </div>
            <div class="searchTypeListViewDiv">
                <div style="float: left;width: 25%;">
                    <label for="fcf" style="text-align:left;font-weight:bold;padding-right:.69em;">
                        <span class="assistiveText">*</span>Saved Searches:
                    </label>
                </div>
                
                
                <div style="float: left;width: 74%;margin-top: -5px;">
                    <apex:selectList label="Saved Searches" id="srchNameListView" style="margin-right: 5px;width: 275px; height:25px" size="1" onchange="loadSearchName(this.value);">
                        <apex:selectOptions value="{!savedSearches}" />        
                    </apex:selectList>
                    <div class="slds btn" style="float: right; height: 19px;" >
                        <c:DropDownMenu />
                    </div>
                </div>
                
                
            </div>
        </div>
        <table width="100%" border="0">
            <tr>  
                <td width="200" valign="top" id="filterSection" >
                    
                    <apex:pageBlock title="Filters" mode="edit" id="criteria">
                        <br/>
                        <apex:facet name="header">
                            <apex:outputpanel >
                                <apex:outputText style="margin:10px;font-weight:bold;font-size:15px;float:left;" value="Filters"/>
                                <apex:commandLink style="float:right;margin:10px" value="Clear Filters" rerender="results" oncomplete="resultTableProperties();clearFilters1();"  action="{!initData}" status="spinnerStatus"/>
                            </apex:outputpanel>
                        </apex:facet>
                        <br/>
                        <table cellpadding="2" cellspacing="2"  >
                            <tr>
                                <td><button id="btnCountryStateTS" class="accordion"  onclick="expandSection(this);"  type="button">Project Location</button>
                                    <div class="tooltip" id="btnCountryStateTSPanel" style="display:none">
                                        
                                        <diV class="tooltiptext">
                                            <div id="header" class="div_header">
                                                <apex:outputPanel >
                                                    <apex:outputLabel value="Project Location" style="font-weight:bold;float:left"/>
                                                    <apex:commandLink value="Clear" style="float:right" onclick="return uncheckedAllCheckbox('btnCountryStateTScontent');"/>
                                                </apex:outputPanel>
                                                
                                            </div> 
                                            <div id="btnCountryStateTScontent" Style="background-color:white;overflow:auto;max-height: 200px;"> 
                                                <c:Tree_New ts="{!countryStateTS}" layer="3"/>
                                            </div> 
                                            <div id="footer" class="div_header" style="text-align:center" > 
                                                <apex:commandButton value="Apply" rerender="results" onclick="createPillsForSelectedLocation('{!$Resource.rdcc__SLDS202}');toggleSelectedDiv('selectedLocationDiv','selectedLocationContainer');return customSearch();" style="width: 50px;padding: 5px;"/>
                                                <input type="button" value = "Close" class="btn" style="width: 50px;padding: 5px;" onclick="hideExpandedAccordian();" oncomplete="resultTableProperties();"/>
                                            </div> 
                                        </diV>
                                    </div>                                    
                                </td>
                            </tr>
                            
                            
                            <tr>
                                <td><button id="btnProjectStageTS" class="accordion" onclick = "expandSection(this);"  type="button">Project Stage</button>
                                    <div class="tooltip" id="btnProjectStageTSPanel" style="display:none">
                                        
                                        <diV class="tooltiptext">
                                            <div id="header" class="div_header"> 
                                                <apex:outputPanel >
                                                    <apex:outputLabel value="Project Stage" style="font-weight:bold;float:left"/>
                                                    <apex:commandLink value="Clear"  style="float:right;"  onclick=" return uncheckedAllCheckbox('btnProjectStageTScontent');"/>
                                                </apex:outputPanel>
                                                
                                            </div> 
                                            <div id="btnProjectStageTScontent" Style="background-color:white;overflow:auto;max-height: 200px;"> 
                                                <c:Tree_New ts="{!projectStageTS}" layer="2"/>
                                            </div> 
                                            <div id="footer" class="div_header" style="text-align:center"> 
                                                <apex:commandButton value="Apply" rerender="results" onclick="createPillsForSelectedStage('{!$Resource.rdcc__SLDS202}');toggleSelectedDiv('selectedStageDiv','selectedStageContainer');return customSearch();" style="width: 50px;padding: 5px;"/>
                                                
                                                <input type="button" value = "Close" class="btn" style="width: 50px;padding: 5px;" onclick="hideExpandedAccordian();" oncomplete="resultTableProperties();"/>
                                            </div> 
                                        </diV>                                        
                                    </div>                                    
                                </td>                                
                            </tr>
                            
                            
                            <tr>
                                <td><button id="btnProjectCategoryTS" class="accordion" onclick = "expandSection(this);"  type="button">Project Category</button>
                                    <div class="tooltip" id="btnProjectCategoryTSPanel" style="display:none">
                                        
                                        <diV class="tooltiptext">
                                            <div id="header" class="div_header"> 
                                                <apex:outputPanel >
                                                    <apex:outputLabel value="Project Category" style="font-weight:bold;float:left"/>
                                                    <apex:commandLink value="Clear" style="float:right;"  onclick=" return uncheckedAllCheckbox('btnProjectCategoryTScontent');"/>
                                                </apex:outputPanel>
                                                
                                            </div> 
                                            <div id="btnProjectCategoryTScontent" Style="background-color:white;overflow:auto;max-height: 200px;"> 
                                                <c:Tree_New ts="{!projectCategoryTS}" layer="2"/>
                                            </div> 
                                            <div id="footer" class="div_header" style="text-align:center"> 
                                                <apex:commandButton value="Apply" rerender="results" onclick="createPillsForSelectedCategory('{!$Resource.rdcc__SLDS202}');toggleSelectedDiv('selectedCategoryDiv','selectedCategoryContainer');return customSearch();" style="width: 50px;padding: 5px;"/>
                                                
                                                <input type="button" value = "Close" class="btn" style="width: 50px;padding: 5px;" onclick="hideExpandedAccordian();" oncomplete="resultTableProperties();"/>
                                            </div> 
                                        </diV>                                        
                                    </div>                                    
                                </td>                                
                            </tr>
                            
                            <tr>
                                <td style="display:{!IF(projectCSICodeTS.nodes.size == 0, 'none','block')}">
                                    <div id="typeDiv" style="display:{!IF(projectCSICodeTS.nodes.size == 0, 'none','block')}">
                                    <button id="btnCSICodeTS" class="accordion" onclick = "expandSection(this);"  type="button">Material Code</button>
                                    <div class="tooltip" id="btnCSICodeTSPanel" style="display:none">
                                        
                                        <diV class="tooltiptext">
                                            <div id="header" class="div_header">
                                                <apex:outputPanel >
                                                    <apex:outputLabel value="Material Codes" style="font-weight:bold;float:left"/>
                                                    <apex:commandLink value="Clear" style="float:right;"  onclick="return uncheckedAllCheckbox('btnCSICodeTScontent');"/>
                                                </apex:outputPanel>
                                                
                                                
                                            </div> 
                                            <div id="btnCSICodeTScontent" Style="background-color:white;overflow:auto;max-height: 200px;"> 
                                                <c:Tree_New ts="{!projectCSICodeTS}" layer="2"/>
                                            </div> 
                                            <div id="footer" class="div_header" style="text-align:center"> 
                                                <apex:commandButton value="Apply" rerender="results" onclick="createPillsForSelectedCSICodes('{!$Resource.rdcc__SLDS202}'); toggleSelectedDiv('selectedCSICodeDiv','selectedCSICodeContainer'); return customSearch();" style="width: 50px;padding: 5px;"/>
                                                
                                                <input type="button" value = "Close" class="btn" style="width: 50px;padding: 5px;" onclick="hideExpandedAccordian();" oncomplete="resultTableProperties();"/>
                                            </div> 
                                        </diV>                                        
                                    </div> 
                                    </div>
                                </td>                                
                            </tr>
                            
                            <tr>
                                <td><button id="btnProjectLastUpdated" class="accordion" onclick = "expandSectionBelow(this);"  type="button">Project Last Updated Date</button>
                                    <div class="panel" id="btnProjectLastUpdatedPanel" style="display:none">
                                        
                                        <div style="float:right;margin-right:10px;">
                                            <apex:commandLink value="Clear"  onclick="return clearLastUpdate();"/>
                                        </div>
                                        
                                        <div>
                                            <apex:outputLabel for="frmLastUpdated" value="From" style="margin-right: 35px;font-weight: bold;"/>
                                            <c:DatePicker dateFieldId="fromLastUpdated"/>
                                            <!--apex:input value="{!fromLastUpdated}" type="date" label="From" title="From" id="frmLastUpdated" style="width:100%;margin-top: 5px;"/-->
                                        </div><br/>
                                        <div>
                                            <apex:outputLabel for="toLastUpdated" value="To" style="margin-right: 35px;font-weight: bold;"/>
                                            <c:DatePicker dateFieldId="toLastUpdated"/>                                            
                                            <!--apex:input value="{!toLastUpdated}" type="date" label="To" title="To" id="toLastUpdated" style="width:100%;margin-top: 5px;"/-->
                                        </div><br/>
                                        <div id="errMsgLastUpdatedDate" style="display:none;color:red"><p>*Please provide value of atleast one field.</p></div>
                                        <div style="text-align:center">
                                            <apex:commandButton value="Apply" rerender="results" onclick="return validateData('date_fromLastUpdated','date_toLastUpdated','errMsgLastUpdatedDate','Last Updated Date','{!$Resource.rdcc__SLDS202}');" status="spinnerStatus" style="width: 50px;padding: 5px;"/>
                                            
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><button id="btnProjectBiddingDtRng" class="accordion"  onclick = "expandSectionBelow(this);"  type="button">Project Bidding Date Range</button>
                                    <div class="panel" id="btnProjectBiddingDtRngPanel" style="display:none">
                                        <div style="float:right;margin-right:10px;">
                                            <apex:commandLink value="Clear"  onclick="return clearBiddingDate();" />
                                        </div>
                                        
                                        <div>
                                            <apex:outputLabel for="frmBiddingDate" value="From" style="margin-right: 35px;font-weight: bold;"/>
                                            <c:DatePicker dateFieldId="fromBidding"/> 
                                            
                                        </div><br/>
                                        <div>
                                            <apex:outputLabel for="toBiddingDate" value="To" style="margin-right: 35px;font-weight: bold;"/> 
                                            <c:DatePicker dateFieldId="toBidding"/> 
                                            
                                        </div><br/>
                                        <div id="errMsgBidDate" style="display:none;color:red"><p>*Please provide value of atleast one field.</p><br/></div>
                                        <div style="text-align:center">
                                            <apex:commandButton value="Apply" rerender="results" onclick="return validateData('date_fromBidding','date_toBidding','errMsgBidDate','Bidding Date','{!$Resource.rdcc__SLDS202}');" status="spinnerStatus"  style="width: 50px;padding: 5px;"/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><button id="btnProjectEstValue" class="accordion" onclick = "expandSectionBelow(this);"  type="button">Project Value</button>
                                    <div class="panel" id="btnProjectEstValuePanel" style="display:none;">
                                        <div style="float:right;margin-right:10px;">
                                            <apex:commandLink value="Clear"  onclick="return clearProjectEstValue();"/>
                                        </div>
                                        
                                        <div>
                                            <apex:outputLabel for="minProjectValue" value="Min" style="margin-right: 30px;font-weight: bold;"/>
                                            <apex:inputText id="minProjectValue" value="{!fromEstProjectValue}" label="Min" style="width:100%;margin-top: 5px;"/>
                                        </div><br/>
                                        <div>
                                            <apex:outputLabel for="maxProjectValue" value="Max" style="margin-right: 30px;font-weight: bold;"/>
                                            <apex:inputText id="maxProjectValue" value="{!toEstProjectValue}" label="Max" style="width:100%;margin-top: 5px;"/>
                                            
                                        </div><br/>
                                        <div>
                                            <apex:inputCheckbox value="{!showProjectWithoutValue}" id="estCheck"/>
                                            <apex:outputLabel for="estCheck" value="Show projects without values or zero value" />                                            
                                        </div><br/>
                                        <div id="errMsgEstValue" style="display:none;color:red"><p>*Please provide value of atleast one field.</p><br/></div>
                                        <div style="text-align:center">
                                            <apex:commandButton value="Apply" rerender="results" onclick="return validateData('page:theForm:criteria:minProjectValue','page:theForm:criteria:maxProjectValue','errMsgEstValue','Estimated Value','{!$Resource.rdcc__SLDS202}');"  style="width: 50px;padding: 5px;"/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            
                            <tr>
                                <td><button id="btnSrchName" class="accordion" onclick = "expandSectionBelow(this);"  type="button">Search Name</button>
                                    <div class="panel" id="btnSrchNamePanel" style="display:none;">                                        
                                        <div >                                            
                                            <apex:selectList id="srchName1" size="1" style="width:100%;height:25px;margin-top:10px;" >
                                                <apex:selectOptions value="{!srchNames}"></apex:selectOptions>
                                            </apex:selectList>
                                            
                                        </div>
                                        <br/>
                                      
                                        <div style="text-align:center">
                                            <apex:commandButton value="Apply" onclick="return validateSearchName(document.getElementById('page:theForm:criteria:srchName1'),'{!$Resource.rdcc__SLDS202}');"  style="width: 50px;padding: 5px;"/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <div id="selectedLocationContainer" class="slds" style="display:none" >
                                        <div id="header" class="div_header" style="margin-left:-7px"> 
                                            <p>
                                                Project Location
                                            </p>
                                        </div>
                                        <div id="selectedLocationDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px;"/>                                            
                                    </div>
                                    
                                </td> 
                                
                            </tr>
                            <tr>
                                <td>
                                    
                                    <div id="selectedStageContainer" class="slds" style="display:none">
                                        <div id="header" class="div_header" style="margin-left:-7px"> 
                                            <p>
                                                Project Stage
                                            </p>
                                        </div>
                                        <div id="selectedStageDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                    </div>
                                    
                                </td> 
                                
                            </tr>
                            <tr>
                                <td>
                                    
                                    <div id="selectedCategoryContainer" class="slds" style="display:none">
                                        <div id="header" class="div_header" style="margin-left:-7px"> 
                                            <p>
                                                Project Category
                                            </p>
                                        </div>
                                        <div id="selectedCategoryDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                    </div>
                                    
                                </td> 
                                
                            </tr>
                            <tr>
                                <td>                                  
                                    <div id="selectedCSICodeContainer" class="slds" style="display:none">
                                        <div id="header" class="div_header" style="margin-left:-7px"> 
                                            <p>
                                                Material Code
                                            </p>
                                        </div>                                      
                                        <div id="selectedCSICodeDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                    </div>
                                    
                                </td> 
                                
                            </tr>
                            <tr>
                                <td>                                  
                                    <div id="selectedLastUpdatedDateContainer" class="slds" style="display:none">
                                        <div id="header" class="div_header" style="margin-left:-7px"> 
                                            <p>
                                                Last Updated Date
                                            </p>
                                        </div>                                      
                                        <div id="selectedLastUpdatedDateDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                    </div>
                                    
                                </td> 
                                
                            </tr>
                            <tr>
                                <td>                                  
                                    <div id="selectedBidDateContainer" class="slds" style="display:none">
                                        <div id="header" class="div_header" style="margin-left:-7px"> 
                                            <p>
                                                Bidding Date
                                            </p>
                                        </div>                                      
                                        <div id="selectedBidDateDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                    </div>
                                    
                                </td> 
                                
                            </tr>
                            <tr>
                                <td>                                  
                                    <div id="selectedEstValueContainer" class="slds" style="display:none">
                                        <div id="header" class="div_header" style="margin-left:-7px"> 
                                            <p>
                                                Project Value
                                            </p>
                                        </div>                                          
                                        <div id="selectedEstValueDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                    </div>
                                    
                                </td> 
                                
                            </tr>
                            <tr>
                                <td>                                  
                                    <div id="selectedSrchNameContainer" class="slds" style="display:none">
                                        <div id="header" class="div_header" style="margin-left:-7px"> 
                                            <p>
                                                Search Name
                                            </p>
                                        </div>                                          
                                        <div id="selectedSrchNameDiv" Style="background-color:white;overflow:auto;max-height: 200px;padding: 2px;max-width:200px"/> 
                                    </div>
                                    
                                </td> 
                                
                            </tr>
                        </table>
                        
                    </apex:pageBlock>
                    
                </td>
                
                <td valign="top" onclick="hideExpandedAccordian();">       
                    <apex:pageBlock mode="edit" id="resultTablePB">
                        <div>
                            <div style="width:80%;float:left;margin-bottom: 20px;">
                                <apex:inputText styleClass="search-box" html-placeholder="Enter Search Text..." id="searchText"  onkeydown="if (event.keyCode == 13){event.preventDefault();this.nextSibling.click()}" />                               
                                <apex:commandButton id="btnSearch" onclick="return customSearch();" style="margin-top: 26px;height: 28px;border-radius:10px;outline:none;padding:1px 2px;" value="Search!" image="{!URLFOR($Resource.rdcc__SLDS202, '/assets/icons/utility/search_60.png')}"/>
                            </div>
                          
                            <div style="width:{!IF(cs.rdcc__Allow_Project_Creation_Manually__c,'15%','10%')};float:right;margin-top:40px">
                                <apex:outputPanel rendered="{!cs.rdcc__Allow_Project_Creation_Manually__c}">
                                    <div class="btn" style="margin-left: 10px;padding:4px">
                                        <apex:outputLink style="text-decoration: none;" value="{!URLFOR($Action.rdcc__ReedProject__c.New)}">New Project</apex:outputLink>
                                    </div>
                                </apex:outputPanel>
                                <div class="btn" style="padding:4px;">
                                    <apex:commandLink style="text-decoration: none;" value="My Columns" onclick="hideExpandedAccordian();return toggleDisplayModel('ModalId')" />
                                </div>
                                 <!--div class="btn" style="padding:4px;">
                                    <apex:commandLink style="text-decoration: none;" value="Save Search" onclick="hideExpandedAccordian();return openSrchNameModelBox();" />
                                </div-->
                                
                            </div>
                          
                            
                        </div>
                        <apex:outputPanel id="results">
                            <br/><br/>
                            <apex:outputPanel >
                                <table id="resultTable" class="display">
                                    <thead>
                                        <tr>
                                            <apex:variable value="{!1}" var="count"/>
                                            <th id="0" style="display:none;">&nbsp;</th>
                                            <apex:repeat value="{!selectedFields}" var="f">
                                                <th id="{!count}" onclick="getOrdering(this);">{!f.Label}
                                                    <apex:outputPanel rendered="{!IF(OR(projectFieldApiNameTypeMap[f.value] == 'DATE',projectFieldApiNameTypeMap[f.value] == 'DATETIME'),true,false)}">
                                                        <apex:variable value="{!(count+1)}" var="count"/>  
                                                        <input type="hidden" id="{!count}"  class="dateHeader" />
                                                        <th id="{!count}">dummyDate</th>
                                                    </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!IF(projectFieldApiNameTypeMap[f.value]=='CURRENCY',true,false)}">
                                                        <apex:variable value="{!(count+1)}" var="count"/>  
                                                        <input type="hidden" id="{!count}"  class="currencyHeader" />
                                                        <th id="{!count}">dummyCurrency</th>
                                                    </apex:outputPanel>
                                                </th>
                                                <apex:variable value="{!(count+1)}" var="count"/>    
                                            </apex:repeat>                                      
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <apex:repeat value="{!projects}" var="project">
                                            <tr>
                                                <td style="display:none;">&nbsp;</td>
                                                <apex:repeat value="{!selectedFields}" var="s">    
                                                    <td>
                                                        <div style="word-wrap: break-word;max-width: 175px;">
                                                        <apex:outputPanel rendered="{!IF(OR(projectFieldApiNameTypeMap[s.value] == 'DATE',projectFieldApiNameTypeMap[s.value] == 'DATETIME'),true,false)}">                                                            
                                                            <apex:outputField value="{!project[s.value]}"/>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF(s.value=='Name',true,false)}">
                                                            <a href="/{!project.Id}">{!project.Name}</a>
                                                        </apex:outputPanel>
                                                        
                                                        <apex:outputPanel rendered="{!IF(projectFieldApiNameTypeMap[s.value]=='CURRENCY',true,false)}">
                                                            <apex:outputField value="{!project[s.value]}"/>                                                            
                                                        </apex:outputPanel>
                                                        
                                                        <apex:outputPanel rendered="{!IF(projectFieldApiNameTypeMap[s.value]=='REFERENCE',true,false)}">
                                                            <a href="/{!project[s.value]}" target="InsightProjectSearch">{!project[projectLkpFieldsMap[s.value]]}</a>
                                                        </apex:outputPanel>                                                        
                                                        
                                                        <apex:outputText value="{!project[s.value]}" rendered="{!IF(projectFieldApiNameTypeMap[s.value]!='REFERENCE' && s.value!='Name' && projectFieldApiNameTypeMap[s.value]!='DATE' && projectFieldApiNameTypeMap[s.value]!='DATETIME' && projectFieldApiNameTypeMap[s.value]!='CURRENCY',true,false)}"/>
                                                        
                                                        <apex:outputPanel rendered="{!IF(OR(projectFieldApiNameTypeMap[s.value] == 'DATE',projectFieldApiNameTypeMap[s.value] == 'DATETIME'),true,false)}">
                                                            <td>
                                                                <apex:outputText value="{0, date, yyyy'/'MM'/'dd}">
                                                                    <apex:param value="{!project[s.value]}" />
                                                                </apex:outputText>
                                                            </td>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF(projectFieldApiNameTypeMap[s.value]=='CURRENCY',true,false)}">
                                                            <td>{!project[s.value]}</td>
                                                        </apex:outputPanel>
                                                        </div>
                                                    </td>
                                                </apex:repeat>
                                            </tr>
                                        </apex:repeat>
                                    </tbody>
                                </table>
                                
                                
                            </apex:outputPanel>
                            <!-- Pagination -->
                            <table style="width: 100%"><tr>
                                
                                <td>
                                    Showing page: <apex:outputText value=" {!IF(CEILING(setCon.ResultSize / setCon.PageSize)  == 0,'0',setCon.PageNumber)} of {! CEILING(setCon.ResultSize / setCon.PageSize) }"/>
                                </td>            
                                
                                <td align="center">
                                   Display:&nbsp;&nbsp;
                                    <apex:selectList value="{!setCon.PageSize}" size="1">
                                        <apex:selectOption itemValue="10" itemLabel="10"/>
                                        <apex:selectOption itemValue="20" itemLabel="20"/>
                                        <apex:selectOption itemValue="50" itemLabel="50"/>
                                        <apex:selectOption itemValue="100" itemLabel="100"/>
                                        <apex:actionSupport event="onchange" oncomplete="resultTableProperties();" status="spinnerStatus" reRender="results"/>
                                    </apex:selectList>
                                </td>
                                
                                <td align="right">
                                    
                                    <apex:commandLink reRender="results"
                                                      status="spinnerStatus" action="{!setCon.first }"  value="<<" title="First Page"
                                                      rendered="{!setCon.PageNumber != 1 }" oncomplete="resultTableProperties()"/>
                                    
                                    <apex:outputText style="color: #ccc;" value="<<"
                                                     rendered="{!setCon.PageNumber == 1 }"/>
                                    
                                    &nbsp; 
                                    <apex:commandLink reRender="results"
                                                      status="spinnerStatus" action="{!setCon.Previous }" value="< Previous"
                                                      rendered="{!setCon.HasPrevious }" title="Previous Page" oncomplete="resultTableProperties()"/>
                                    
                                    <apex:outputText style="color: #ccc;" value="< Previous"
                                                     rendered="{! NOT(setCon.HasPrevious) }"/>
                                    
                                    &nbsp;&nbsp;
                                    <!--
                                    <apex:repeat var="pageNum" value="{!buttons}">
                                        <apex:commandButton style="width:5%" disabled="{!IF(pageNum == setCon.PageNumber,true,false)}" action="{!goToPage}" value="{!pageNum}" status="spinnerStatus" reRender="results" oncomplete="resultTableProperties()">
                                            <apex:param name="pageToOpen" value="{!pageNum}"/>
                                        </apex:commandButton>
                                    </apex:repeat>
                                    &nbsp;&nbsp;
                                    !-->
                                    <apex:commandLink reRender="results" status="spinnerStatus"  action="{!setCon.Next }" value="Next >"
                                                      rendered="{! setCon.HasNext }" title="Next Page" oncomplete="resultTableProperties()"/>                                      
                                    <apex:outputText style="color: #ccc;" value="Next >"
                                                     rendered="{! NOT(setCon.HasNext) }"/>
                                    &nbsp;
                                    <apex:commandLink reRender="results"
                                                      status="spinnerStatus" action="{!setCon.last }" value=">>" title="Last Page"
                                                      rendered="{!setCon.HasNext}" oncomplete="resultTableProperties()"/>
                                    
                                    <apex:outputText style="color: #ccc;" value=">>"
                                                     rendered="{! NOT(setCon.HasNext) }"/>
                                </td>                                    
                                </tr></table>
                            <script>    
                            
                            document.getElementById("resultTable").onclick = function(evt){
                                if (evt.target.tagName === "A"){
                                    if(typeof myWindow === 'undefined' || myWindow.closed) 
                                        myWindow = window.open(evt.target.href, "ProjectWindow");
                                    else
                                        myWindow.location.href = evt.target.href;
                                }
                                  
                               return false;
                            }
                            </script>
                        </apex:outputPanel>
                    </apex:pageBlock>
                </td>
            </tr>
        </table>
        <!-- </apex:pageBlock> -->        
    </apex:form>
    <apex:form styleClass="slds" id="theForm2">
        <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <div id="ModalId" style="display:none">
                <div role="dialog" id ="boxId" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal--small slds-scrollable" aria-labelledby="header43">
                    <div class="slds-modal__container">
                        <div class="slds-modal__header">                            
                        </div>
                        <div class="slds-modal__content slds-p-around--medium">                                
                            <div style="height:Auto;">
                                <c:MultiselectComponent id="columns" leftLabel="Available Fields"
                                                        leftOption="{!availableFields}"
                                                        rightLabel="Selected Fields"
                                                        rightOption="{!selectedFields}"
                                                        execeuteAdditionalCriteria="true"
                                                        size="8"
                                                        width="200px"/>
                            </div>
                        </div>
                        <div class="slds-modal__footer">
                            <apex:commandButton value="Save" action="{!updateMyColumOnCurrentUserRecord}" status="spinnerStatus" oncomplete="resultTableProperties();toggleDisplayModel('ModalId');hideErrMsg();"  reRender="results" style="width: 70px;margin-left: 10px;"/>
                            <apex:commandButton value="Cancel" onclick="hideErrMsg();return toggleDisplayModel('ModalId');" style="width: 70px;margin-left: 10px;"/>                       
                        </div>  
                    </div>                        
                </div>
                <div class="slds-backdrop slds-backdrop--open" id="backGroundSectionId"></div>
            </div> 
            <div id="searchNameModel" style="display:none">
                <div role="dialog" id ="boxId" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal--small slds-scrollable" aria-labelledby="header43">
                    <div class="slds-modal__container">
                        <div class="slds-modal__header">
                            Save Search Name
                        </div>
                        <div class="slds-modal__content slds-p-around--medium">                                
                            <div style="height:Auto;">
                              <apex:outputLabel value="Name" for="srchName" style="font-weight: bold;" ></apex:outputLabel>
                              <apex:inputText onkeydown="if (event.keyCode == 13){event.preventDefault(); return saveSearch();}" id="srchName" style="margin-left:10px" label="Search Name" />
                            </div> 
                            <div id="errMsg"/>
                        </div>
                        <div class="slds-modal__footer">
                            <apex:commandButton value="Save" onclick="return saveSearch();"  status="spinnerStatus" style="width: 70px;margin-left: 10px;"/>
                            <apex:commandButton value="Cancel" onclick="return toggleDisplayModel('searchNameModel');" style="width: 70px;margin-left: 10px;"/>                       
                        </div>  
                    </div>                        
                </div>
                <div class="slds-backdrop slds-backdrop--open" id="backGroundSectionId"></div>
            </div>            
        </html>
    </apex:form>    
</apex:page>