<apex:page id="page" docType="html-5.0" sidebar="false" readOnly="true" cache="true">
    <apex:actionStatus id="spinnerStatus">
        <apex:facet name="start">
            <div class="spinnerBg" />
            <div class="spinner" />
        </apex:facet>
    </apex:actionStatus>
    <div class="slds-scope">
        <div class="slds-spinner_container" id="loading" style="display:none;">
            <div id="loading-content">
                <div role="status" class="slds-spinner slds-spinner--medium">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div>
    </div>
     <apex:slds />
    <style>
        .slds-scope .slds-spinner:after, 
        .slds-scope .slds-spinner:before, 
        .slds-scope .slds-spinner__dot-a:after, 
        .slds-scope .slds-spinner__dot-a:before, 
        .slds-scope .slds-spinner__dot-b:after, 
        .slds-scope .slds-spinner__dot-b:before{
            background:#0070d2 !important;
        }
        .slds-scope .slds-spinner_container{
            opacity:0.7;
        }
        .spinnerBg {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: #000;
            opacity: 0.2;
            z-index: 999999;
            top:0;
            left:0;
        }
        .spinner {
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: url("/img/loading32.gif");
            background-size: 16px;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            z-index: 9999999;
            opacity: 1;
        }
    </style>
     <apex:form id="form"/>
    <script>
        if('{!$User.UIThemeDisplayed}' == 'Theme4d'){
            document.getElementById("loading").style.display='block';            
            //window.location = '/apex/InsightProjectSearchLightning?type=mps';
            window.location ='{!urlfor($Page.rdcc__InsightProjectSearchLightning,null,[type='mps'])}';
        } else if('{!$User.UIThemeDisplayed}' == 'Theme4t'){
            document.getElementById("loading").style.display='block';
            window.location ='{!urlfor($Page.rdcc__InsightProjectSearchPage_sf1,null,[type='mps'])}';           
        }else if('{!$User.UIThemeDisplayed}' == 'Theme3'){
            document.getElementById("page:form").style.minHeight='550px';
            document.getElementById("page:spinnerStatus.start").style.display='block';
            window.location = '/apex/MyInsightProjectSearch?type=mps';
        }
    </script>
    
</apex:page>