<apex:page standardController="rdcc__ReedProject__c" readOnly="true" extensions="rdcc.UpdatedBarView" sidebar="false" showHeader="false" id="thePage">
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.rdcc__ConstructConnect, 'css/BarViewPage.css')}"/>
    <!--apex:includeScript value="{!URLFOR($Resource.ConstructConnect, 'js/BarViewPage.js')}"/-->
    <script>
        function openbarWindow(barId,themeType)
            {
                window.open('/apex/rdcc__BarReportPopup?&isdtp=vw&theme='+themeType+'&barId='+barId,'_blank', 'location=no,menubar=no,toolbar=no, scrollbars=no,titlebar=no,status=no resizable=yes, top=100, left=400, width=600, height=520');
            }
    </script>
    <style>
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            .slds .slds-medium-hide {
                display: none !important;
            }
        }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            .slds .slds-small-hide {
                display: none !important;
            }
        }
    </style>
    <apex:actionStatus id="spinnerStatus" title="Loading...">
                <apex:facet name="start">
                    <div class="spinnerBg" />
                    
                    <div class="spinner">
                    <img src="/img/loading.gif" alt="Loading graphic" />&nbsp; Loading...
                    </div>
                </apex:facet>
    </apex:actionStatus>
    
        <apex:outputPanel rendered="{!$User.UIThemeDisplayed == 'Theme3'}">
        
        <apex:pageBlock id="thePb">
            <apex:pageBlockSection title="Buyer Activity Report" columns="1" collapsible="false">
                <apex:pageBlockTable value="{!TradebarList}" var="barTrade">
                    <apex:column headerValue="Activity Level">
                        <div style="background-color: {!IF(AND(NOT(ISNULL(barTrade.barRec.rdcc__Activity_Level__c)),barTrade.barRec.rdcc__Activity_Level__c > 0) ,"#0E5376","white")}; height:12px;width:12px;display:inline-block;border:2px solid #0E5376"> </div>
                                    &nbsp;<div style="background-color: {!IF(AND(NOT(ISNULL(barTrade.barRec.rdcc__Activity_Level__c)),barTrade.barRec.rdcc__Activity_Level__c>1),"#0E5376","white")}; height:12px;width:12px;display:inline-block;border:2px solid #0E5376"> </div>
                                    &nbsp;<div style="background-color: {!IF(AND(NOT(ISNULL(barTrade.barRec.rdcc__Activity_Level__c)),barTrade.barRec.rdcc__Activity_Level__c>2),"#0E5376","white")}; height:12px;width:12px;display:inline-block;border:2px solid #0E5376"> </div>
                        
                        
                        <!-- apex:outputText value="{!barTrade.barRec.rdcc__Activity_Level__c}"></apex:outputText -->
                    </apex:column>
                    <apex:column headerValue="Contact">
                        <apex:outputText value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Contact_Name__c}"></apex:outputText>
                    </apex:column>
                    <apex:column headerValue="Company Name">
                        <a href="#" onclick="openbarWindow('{!barTrade.barRec.id}','{!$User.UIThemeDisplayed}');"> {!barTrade.barRec.rdcc__Buyer__r.rdcc__Company_Name__c}</a>
                    </apex:column>
                    <apex:column headerValue="Phone">
                        <apex:outputText value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Phone__c}"></apex:outputText>
                    </apex:column>
                    <apex:column headerValue="Email">
                        <apex:outputText value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Email__c}"></apex:outputText>
                    </apex:column>
                    <apex:column headerValue="Business type">
                        <apex:outputText value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Business_Type__c}"></apex:outputText>
                    </apex:column>
                    <apex:column headerValue="Trades">
                        <apex:outputText value="{!barTrade.trades}"></apex:outputText>
                    </apex:column>
                    <apex:column headerValue="Last Active">
                        <c:localeDate date_Timevalue="{!barTrade.barRec.rdcc__Last_Active__c}"/>
                    </apex:column>
                </apex:pageBlockTable>
                <apex:form id="theForm">
                <apex:commandButton value="+ Show More" action="{!ShowMore}" reRender="thePb" rendered="{!showmoreButton}" status="spinnerStatus"/>
                <apex:commandButton value="- Show Less" action="{!ShowLess}" reRender="thePb" rendered="{!ShowLessButton}" status="spinnerStatus"/>
                <!-- <a href="/apex/BarViewPage?id={!$CurrentPage.Parameters.id}&type=more" class="btn" style="text-decoration:none;display:{!IF(showmoreButton,'inline-flex','none')}">+ Show More</a>
                
                <a href="/apex/BarViewPage?id={!$CurrentPage.Parameters.id}&type=less" class="btn" style="text-decoration:none;display:{!IF(AND(NOT(showmoreButton),TradebarList.size>5),'inline-flex','none')}">- Show Less</a> -->
                </apex:form>
            </apex:pageBlockSection>
        </apex:pageBlock>
        </apex:outputPanel>
        
        
        <apex:outputPanel rendered="{!OR($User.UIThemeDisplayed == 'Theme4d',$User.UIThemeDisplayed =='Theme4t')}" id="lightPanel">
            <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <div class="slds" > 
                <!--apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" /-->
                        <h4 class="slds-section-title--divider">Buyer Activity Report</h4>
                        <div class="slds-grid">
                            <table class="slds-table slds-table--bordered slds-table--cell-buffer">
                                <thead>
                                    <tr class="slds-text-title--caps">
                                        <th scope="col">
                                            <div class="slds-truncate" title="Activity Level">Activity Level</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Contact">Contact</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Company Name">Company Name</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate slds-small-hide" title="Phone">Phone</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate slds-small-hide" title="Email">Email</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate slds-small-hide" title="Business Type">Business type</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate slds-medium-hide slds-small-hide" title="Trades">Trades</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate slds-medium-hide slds-small-hide" title="Last Active">Last Active</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:repeat value="{!TradebarList}" var="barTrade" id="theRepeat">
                                        <tr>
                                            <th scope="row" data-label="Activity Level">
                                                <div class="slds-truncate">
                                                    <div style="background-color: {!IF(AND(NOT(ISNULL(barTrade.barRec.rdcc__Activity_Level__c)),barTrade.barRec.rdcc__Activity_Level__c > 0) ,"#0E5376","white")}; height:12px;width:12px;display:inline-block;border:2px solid #0E5376"> </div>
                                                    &nbsp;<div style="background-color: {!IF(AND(NOT(ISNULL(barTrade.barRec.rdcc__Activity_Level__c)),barTrade.barRec.rdcc__Activity_Level__c>1),"#0E5376","white")}; height:12px;width:12px;display:inline-block;border:2px solid #0E5376"> </div>
                                                    &nbsp;<div style="background-color: {!IF(AND(NOT(ISNULL(barTrade.barRec.rdcc__Activity_Level__c)),barTrade.barRec.rdcc__Activity_Level__c>2),"#0E5376","white")}; height:12px;width:12px;display:inline-block;border:2px solid #0E5376"> </div>
                                                </div>
                                            </th>
                                            <td data-label="Contact">
                                                <div class="slds-truncate"><apex:outputText value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Contact_Name__c}"></apex:outputText></div>
                                            </td>
                                            <td data-label="Company Name">
                                                <div class="slds-truncate"><a href="#" onclick="openbarWindow('{!barTrade.barRec.id}','{!$User.UIThemeDisplayed}');"> {!barTrade.barRec.rdcc__Buyer__r.rdcc__Company_Name__c}</a></div>
                                            </td>
                                            <td data-label="Phone">
                                                <div class="slds-truncate slds-small-hide"><apex:outputText value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Phone__c}"></apex:outputText></div>
                                            </td>
                                            <td data-label="Email">
                                                <div class="slds-truncate slds-small-hide"><apex:outputText value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Email__c}"></apex:outputText></div>
                                            </td>
                                            <td data-label="Business type">
                                                <div class="slds-truncate slds-small-hide"><apex:outputText value="{!barTrade.barRec.rdcc__Buyer__r.rdcc__Business_Type__c}"></apex:outputText></div>
                                            </td>
                                            <td data-label="Trades">
                                                <div class="slds-truncate slds-medium-hide slds-small-hide"><apex:outputText value="{!barTrade.trades}"></apex:outputText></div>
                                            </td>
                                            <td data-label="Last Active">
                                                <div class="slds-truncate slds-medium-hide slds-small-hide"><c:localeDate date_Timevalue="{!barTrade.barRec.rdcc__Last_Active__c}"/></div>
                                            </td>
                                        </tr>
                                    </apex:repeat>
                                </tbody>
                            </table>
                            
                            
                            </div>
                            <br/>
                            <apex:form id="theFormLight">
                            <apex:commandButton value="+ Show More" styleClass="slds-button slds-button--brand" action="{!ShowMore}" reRender="lightPanel" rendered="{!showmoreButton}" />
                            <apex:commandButton value="- Show Less" styleClass="slds-button slds-button--brand" action="{!ShowLess}" reRender="lightPanel" rendered="{!ShowLessButton}" />
                            </apex:form>
                             
              </div>    
                
             </html>    
        </apex:outputPanel>
    
    
    
</apex:page>