<apex:page tabStyle="Opportunity" extensions="rdcc.NewOpportunityFromProjectController" action="{!doRedirect}" standardController="rdcc__ReedProject__c" id="page">
 <script type="text/javascript"> 
  function openLookup(baseURL, width, modified, searchParam){
    
    var originalbaseURL = baseURL;
    var originalwidth = width;
    var originalmodified = modified;
    var originalsearchParam = searchParam;
    var projectId = document.getElementById("page:myForm:projectId").value;
      //alert(projectId);
      console.log(projectId);
    var lookupType = baseURL.substr(baseURL.length-3, 3);
    if (modified == '1') baseURL = baseURL + searchParam;

    var isCustomLookup = false;

    // Following "001" is the lookup type for Account object so change this as per your standard or custom object
    if(lookupType == "001"){

      var urlArr = baseURL.split("&");
      var txtId = '';
      if(urlArr.length > 2) {
        urlArr = urlArr[1].split('=');
        txtId = urlArr[1];
      }
      
      // Following is the url of Custom Lookup page. You need to change that accordingly
      baseURL = "/apex/CustomAccountLookup?txt=" + txtId+"&projectId="+ projectId;
      
      // Following is the id of apex:form control "myForm". You need to change that accordingly
      baseURL = baseURL + "&frm=" + escapeUTF("{!$Component.myForm}");
      if (modified == '1') {
        baseURL = baseURL + "&lksearch=" + searchParam;
      }
    console.log(txtId.indexOf('Account'));
      // Following is the ID of inputField that is the lookup to be customized as custom lookup
      if(txtId.indexOf('Account') > -1 ){
        isCustomLookup = true;
      }
    }


    if(isCustomLookup == true){
      openPopup(baseURL, "lookup", 350, 480, "width="+width+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
    }
    else {
      if (modified == '1') originalbaseURL = originalbaseURL + originalsearchParam;
      openPopup(originalbaseURL, "lookup", 350, 480, "width="+originalwidth+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
    } 
  }
    var previousOnload = window.onload;        
    window.onload = function() { 
        if (previousOnload) { 
            previousOnload();
        }
        init();
    }
    
    function init(){
       
       if('{!manualOppSetting}'== 'No'){
           document.getElementById("ModalId").style.display = "block";
       }
    }
    
    function mapAccount(accId,accName){
        console.log(accId+' $$$$$ '+accName);
        document.getElementById('{!$Component.myForm.pb.pbs.Account}').value=accName;
        document.getElementById('{!$Component.myForm.pb.pbs.Account}_lkid').value=accId;
    }
    
    function changeStageNameF(myVal){
     console.log(myVal);
     makechangetoStage(myVal);
    }
  
</script>


    <apex:form rendered="{!$User.UIThemeDisplayed == 'Theme3'}" id="myForm">
        <apex:inputHidden value="{!projectId}" id="projectId"/>
        <apex:sectionHeader title="Edit"  subtitle="New {!opportunityLabel}" />
        <apex:actionStatus id="spinnerStatus">
            <apex:facet name="start">
                <div class="spinnerBg" />
                <div class="spinner" />
            </apex:facet>
        </apex:actionStatus>
      <apex:actionRegion >
        <apex:actionFunction action="{!changeStageName}" name="makechangetoStage" reRender="{!$Component.myForm.pb.addSection.probability}" >
            <apex:param value="" assignTo="{!opp.StageName}" name="myVal"/>
        </apex:actionFunction>
      </apex:actionRegion> 
        
        <apex:pageBlock title="{!opportunityLabel} Edit" rendered="{!IF(manualOppSetting = 'Yes',true,false)}" id="pb">
            <apex:pageMessages id="msg"></apex:pageMessages>
            <apex:pageBlockTable value="{!duplicateRecords}" rendered="{!hasDuplicateResult}" var="item">
                <apex:column >
                    <input type="radio" name="action" value="{!item['Id']}" onchange="mapAccount('{!item['Id']}','{!item['Name']}');"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Account Name</apex:facet>
                    <a href="/{!item['Id']}" target="_blank">{!item['Name']}</a>
                </apex:column>
                <!--apex:column value="{!item['Phone']}"/!-->
                <apex:column value="{!item['OwnerId']}"/>
                <apex:column value="{!item['lastModifiedDate']}"/>
            </apex:pageBlockTable>
            
            <br/>
              <apex:outputPanel id="accSection">
                <apex:pageBlockSection rendered="{!isAccountHaveMandatoryFields}" title="Account Required Information">
                    
                    <apex:repeat value="{!accCustomMandatoryFieldMap}" var="mandField">                    
                        <apex:inputField value="{!acc[mandField]}"/>
                    </apex:repeat>
                </apex:pageBlockSection>
                
              </apex:outputPanel>          
            <br/>
            <apex:pageBlockSection columns="1" collapsible="true" title="{!opportunityLabel} Information" id="pbs">
              
                <apex:outputField label="{!opportunityLabel} Owner" value="{!opp.OwnerId}"/>
                <!-- <apex:inputField label="Private" value="{!opp.IsPrivate}" />  -->
                <!--apex:inputText label="Opportunity Name" value="{!opportunityName}" required="true"/-->
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!opportunityLabel} Name" />
                    <apex:outputPanel >
                        <div class="requiredInput">
                            <div class="requiredBlock"></div>
                            <apex:inputText label="{!opportunityLabel} Name" value="{!opp.Name}"/>
                        </div>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem> 
                <apex:inputField id="Account" value="{!opp.AccountId}"/>
                <apex:repeat value="{!oppCustomMandatoryFieldMap}" var="mandField">                    
                    <apex:inputField value="{!opp[mandField]}"/>
                </apex:repeat>
            </apex:pageBlockSection>
           
            
            <apex:pageBlockSection id="addSection" columns="2" collapsible="true" title="Additional Information" rendered="{!IF(additionalOppFields.size>0,true,false)}">
                <apex:repeat value="{!additionalOppFields}" var="f" id="loop"> 
                   
                                      
                    <apex:inputField value="{!opp[f]}" rendered="{!IF(AND(f !='StageName',f !='Probability'),true,false)}"/>
                    
                </apex:repeat>
                
                <apex:inputField value="{!opp.StageName}" label="Stage" rendered="{!isStageAvailable}" onchange="changeStageNameF(this.value);"/>
                <apex:inputField value="{!opp.probability}" id="probability" rendered="{!isProbabilityAvailable}"/>
                <!--apex:inputText label="Order Number" value="{!opp.OrderNumber__c}"/>
                <apex:inputText label="Current Generator(s)" value="{!opp.CurrentGenerators__c}"/>
                <apex:inputText label="Tracking Number" value="{!opp.TrackingNumber__c}"/-->
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="1" collapsible="true" title="Description Information">
                <apex:inputTextarea label="Description" cols="60" rows="5" value="{!opp.Description}"/>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" collapsible="true" title="Insight Project Information" rendered="{!defaultProjectFields.size>0}">
                <apex:repeat value="{!defaultProjectFields}" 
                             var="field">
                    <apex:outputField value="{!project[field]}"/>
                </apex:repeat>
            </apex:pageBlockSection>
            
            <apex:pageBlockButtons >
                <apex:commandButton status="spinnerStatus" reRender="accSection,msg" value="Save" action="{!createOpportunity}"  rendered="{!IF(manualOppSetting == 'Yes' ,true,false )}"/>
                <apex:commandButton value="Cancel" action="{!onCancel}" immediate="true"/>
               
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
    <apex:form styleClass="slds">
        <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <apex:stylesheet value="{!URLFOR($Resource.rdcc__SLDS202, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
            <div id="ModalId" style="display:none">
                <div role="dialog" id ="boxId" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal--small slds-scrollable" aria-labelledby="header43">
                    <div class="slds-modal__container">
                        <div class="slds-modal__header">
                            
                        </div>
                        <div class="slds-modal__content slds-p-around--medium">                                
                            <div style="height:Auto;">
                                <div class="message errorM3" role="alert" id="pgmsg">
                                    <table border="0" cellpadding="0" cellspacing="0" class="messageTable" style="padding:0px;margin:0px;">
                                        <tbody><tr valign="top">
                                            <td>
                                                <img alt="ERROR" class="msgIcon" src="/s.gif" title="ERROR"/>
                                            </td>
                                            <td class="messageCell"><div id="textId" class="messageText"><span id="msgtype" style="color:#cc0000">
                                                <h4>Error:</h4></span><span id="msg">{!errMsg}</span><br/></div>
                                            </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                </div>
                            </div>
                        </div>
                        <div class="slds-modal__footer">
                                                                                    
                            <apex:commandButton value="Ok" action="{!onCancel}"  style="width: 70px;margin-left: 10px;"/>                       
                        </div>
                    </div>                        
                </div>
                <div class="slds-backdrop slds-backdrop--open" id="backGroundSectionId"></div>
            </div>
        </html>
    </apex:form>

</apex:page>