<apex:page standardController="Account" showHeader="false" sidebar="false">

    <style>
        html, body {
            height: 100%;
            width: 100%;
        }
        
        html body.sfdcBody {
            padding: 0;
        }

        .ma-iframe-wrapper {
            width: 100%;
            height: calc(100% - 10px);
        }

        .ma-iframe-wrapper > iframe {
            width: 100%;
            height: 100%;
        }
    </style>

    <div class="ma-iframe-wrapper">
        <iframe src="{!$Page.sma__MAMiniMapLightning}?rid={!$CurrentPage.parameters.id}"></iframe>
    </div>

</apex:page>