<apex:page title="MapAnything Collection Base Object" controller="sma.MapAnythingBaseObjects" setup="true" extensions="sma.MARemoteFunctions">
    <apex:includeScript value="{!$Page.sma__MASystemInfo}"/>
	<script type='text/javascript'>
        if (typeof $ == 'undefined')
        {
            document.write("<script type='text/javascript' src='{!URLFOR($Resource.MapAnything, 'js/jquery-1.7.1.min.js')}'></script"+">");
            document.write("<script type='text/javascript' src='{!URLFOR($Resource.MapAnything, 'jquery/jquery-ui.min.js')}'></script"+">");
            document.write("<link rel='stylesheet' type='text/css' href='{!URLFOR($Resource.MapAnything, 'jquery/jquery-ui.css')}'></link"+">");
            document.write("<script type='text/javascript' src='{!URLFOR($Resource.AdminSettings, 'js/date.js')}'></script"+">");
            document.write("<script type='text/javascript' src='{!URLFOR($Resource.MapAnything, 'jstree/jquery.jstree2.js')}'></script"+">");
        }
    </script>    
    
    
    <script>
        var MARemoting = {
            phase_4 : '{!$RemoteAction.MARemoteFunctions.GetRecords}',
            getShapes : '{!$RemoteAction.MARemoteFunctions.GetShapeInfo}',
            placeSearch : '{!$RemoteAction.MARemoteFunctions.googleAPISearch}',
            geocodeRecord : '{!$RemoteAction.MARemoteFunctions.geoCodeRecord}',
            live_phase_4 : '{!$RemoteAction.MARemoteFunctions.GetDevicesCurrentLocation}',
            live_history: '{!$RemoteAction.MARemoteFunctions.GetLiveDeviceHistory}',
            getEsriToken : '{!$RemoteAction.MARemoteFunctions.getEsriToken}',
            getEsriRoute : '{!$RemoteAction.MARemoteFunctions.getEsriRoute}',
            get_service_area: '{!$RemoteAction.MARemoteFunctions.getServiceArea}',
            processAJAXRequest : '{!$RemoteAction.MARemoteFunctions.processAJAXRequest}'
        }
    </script>
        
    <!-- jQuery Combo Box (depends on jQuery UI) -->
    <script src="{!URLFOR($Resource.AdminSettings, 'js/combobox/jquery.combobox.js')}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.AdminSettings, 'js/combobox/jquery.combobox.css')}" />
    
    <!-- Helpers -->
    <script type='text/javascript' src="{!URLFOR($Resource.MapAnythingJS, 'JSHelperFunctions.js')}"></script>
    <c:CSSHelperBlue />

    <!-- CSS -->
    <apex:stylesheet value="{!URLFOR($Resource.sma__MapAnything, 'css/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.sma__MapAnything, 'style.css')}"/>
    <!-- Lightning Design System 2.3.0 -->
    <link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.MapAnythingJS, 'styles/css/salesforce-lightning-design-system-2.4.6_scoped.min.css')}" />
    <!-- icon-font -->
    <apex:stylesheet value="{!URLFOR($Resource.sma__MapAnythingJS, 'styles/styles.css')}"/>
    <!-- MapAnything Configuration Page Styling -->
    <apex:stylesheet value="{!URLFOR($Resource.sma__MapAnythingJS, 'styles/css/ma-configuration-ui.css')}"/>
        
    <style type='text/css' class='adminsettings-css'>

        .modal-layer {
            display: none;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: #000000;
            opacity: 0.5;
            -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 50);
            filter: alpha(opacity = 50);
        }
    
        /* Basics */                
        #adminsettings-error {
            padding: 15px;
            width: 800px;
            overflow: hidden;
        
            {! IF(pageState != 'error', 'display: none;', '') }
        }
        #adminsettings-error h3 {
            display: block;
            margin: 10px 0;
            color: #757575;
        }
        #adminsettings { 
            padding: 15px;
            width: 95%;
            height: 95%;
            overflow: hidden;
            
            {! IF(pageState != 'edit', 'display: none;', '') }
        }
        #adminsettings .availableobject-settings {            
            width: 100%;
            overflow: hidden;
            display: none;
        }
        #adminsettings .baseobject-settings {            
            width: 100%;
            overflow: hidden;
            display: none;
        }
        #adminsettings .baseobject-settings .mapitdescription {
            color: #757575; 
            font-weight: bold;        
        }
        #adminsettings-templates {
            display: none;
        }
        span.link
        {
            color: blue;
            cursor: pointer;
        }
        span.link.small
        {
            font-size: 10px;
            font-weight: bold;
        }
        .dateliteralpicker
        {
            cursor: pointer;
        }
        .value input.invalid
        {
            background: transparent url({!URLFOR($Resource.QueryEditor, 'images/icons/badge-circle-cross-16.png')}) no-repeat right center;
        }
        .ui-autocomplete
        {
            z-index: 99999 !important;
            max-height: 300px !important;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .PICKLIST > ul, .filterbyowner ul
        {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .PICKLIST li, .filterbyowner li
        {
            padding: 0;
            margin: 0;
        }
        #adminsettings tr > td.actions > div, #adminsettings tr > td.crossfilteractions > div, #adminsettings tr > td.activitysubfilteractions > div
        {
            display: none;
        }
        #adminsettings tr:hover > td.actions > div, #adminsettings tr:hover > td.crossfilteractions > div, #adminsettings tr:hover > td.activitysubfilteractions > div
        {
            display: block;
        }        
        
        /* Tabs */ 
        #adminsettings .BottomTabs
        {
            background: none;
            border: none;
        }
        #adminsettings .BottomTabs > ul
        {
            width: auto;
            padding: 0 8px;
            background: none;
            border: none;
            border-bottom: 1px solid #CCC;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        #adminsettings .BottomTabs > ul li
        {
            background-color: #006DB4;
            background: #006DB4;
            background: url('images/blue-tab-bg.png');
            background-repeat: repeat-x;
            background-position: top;
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#197BBB), to(#0059A0));
            background: -webkit-linear-gradient(top, #197BBB, #0059A0);
            background: -moz-linear-gradient(center top , #197BBB 20%, #0059A0 100%) repeat scroll 0 0 transparent;
            background: -ms-linear-gradient(top, #197BBB, #0059A0);
            background: -o-linear-gradient(top, #197BBB, #0059A0);
            border: medium none;
            border-radius: 3px 3px 0 0;
            border: 1px solid #19508C;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 4px rgba(255, 255, 255, 0.2) inset;
            
            
            
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#197BBB', endColorstr = '#0059A0');
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#197BBB', endColorstr = '#0059A0')";
        }
        #adminsettings .BottomTabs > ul li.ui-tabs-selected
        {
            background: none;
            border: 1px solid #CCC;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            background: white;
            color: #222;
            
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FFFFFF', endColorstr = '#FFFFFF');
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FFFFFF', endColorstr = '#FFFFFF')";
        }
        #adminsettings .BottomTabs > ul li a
        {
            color: #ffffff;
            font-size: 12px;
        }
        #adminsettings .BottomTabs > ul li.ui-tabs-selected a
        {
            color: #2265BB;
        }
        #adminsettings .BottomTabs > .ui-tabs-panel
        {
            padding: 15px;
            margin-bottom: 10px;
            border-bottom: 1px solid silver;
            //max-height: 420px;
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
        }
        
        /* Boxes */
        #adminsettings .box.gray {
            border: 1px solid #C7C7C7;
            padding:5px;
            margin:5px 0 10px 0;
            background:#efefef;
        }
        
        /* Sections */
        #adminsettings .section {
            position: relative;
        }
        #adminsettings .section .section-header {
            color: #2265BB;
        }
        #adminsettings .section .section-buttons {
            position: absolute;
            top: 5px;
            right: 5px;
        }
        #adminsettings .section .section-buttons .section-button {
            padding-left: 18px;
            height: 16px;
            line-height: 18px;
            font-size: 10px;
            cursor: pointer;
        }
        #adminsettings .section .section-buttons .section-button.add {
            background: transparent url("{!URLFOR($Resource.QueryEditor, 'images/icons/badge-circle-plus-16.png')}") left center no-repeat;
        }
        
        /* Forms */
        #adminsettings table.form td:first-child {
            font-weight: bold;
            padding-right: 15px;
        }
                
        /* Buttons */
        #adminsettings .buttons {
            padding: 0 10px;
        }        
        #adminsettings .buttons-create {
            padding: 0 10px;
        }        
        #adminsettings .buttons-edit {
            padding: 0 10px;
        }
        #adminsettings .buttons-delete {
            padding: 0 10px;
        }
        #adminsettings .btn {
            width: 70px;
        }
        #adminsettings .btn2 {
            width: 150px;
        }
        
        /* Comboboxes */
        #adminsettings .ui-combobox
        {
            padding-right: 0;
        }
        #adminsettings .ui-combobox input
        {
            background-color: white;
            background: white;
            padding-right: 30px;
            font-weight: bold;
        }
        #adminsettings .ui-combobox a
        {
            background: transparent;
            border: none;
            position: absolute;
            right: 0;
        }
        #adminsettings .ui-combobox a .ui-button-icon-primary
        {
            background: transparent url("{!URLFOR($Resource.QueryEditor, 'images/icons/combobox-arrow-16.png')}") no-repeat center;
        }
        
        .crossobjectoptions input.ui-autocomplete-input {
            width: 300px;
        }
        
        /* Date pickers */
        #adminsettings .ui-datepicker {
            z-index: 9999999999 !important;
        }
        
        /* Create Fields Popup */
        #dialog-createfields-table-wrapper th span.link {
        	color: white;
        }
        .createablefield-row .createablefield-exists {
        	text-align: center;
        }
        
        /* Fix jsTree checkbox images */
        .jstree-default .jstree-unchecked > a > .jstree-checkbox:hover {
            background-position: -2px -41px;
        }
        .jstree-default .jstree-checked > a > .jstree-checkbox {
            background-position: -50px -19px;
        }
        .jstree-default .jstree-checked > a > .jstree-checkbox:hover {
            background-position: -50px -41px;
        }
        .jstree-default .jstree-undetermined > a > .jstree-checkbox {
            background-position: -26px -21px;
        }
        .jstree-default .jstree-undetermined > a > .jstree-checkbox:hover {
            background-position: -26px -42px;
        }
        
        /* Temporary fix for header links divider */
        span.divider {
        	float: none;
			display: inline;
			background: none;
			margin: 0;
        }
    </style>
    
    <script>  
    	var collectionObject;
    	       
        $(function() { 
            var SelectedSavedQueries = '';
            
            $( "#adminsettings .BottomTabs" ).tabs();
            
            FillBaseObjectComboBoxes();
            
            //comboboxes
            $('body').on('focus', '.ui-autocomplete-input', function () { var $me = $(this); setTimeout(function () {$me.select();}, 100); });
            $('.combobox').combobox();       
            
            
            /* Handle new Base Object onchange event */
            $('#adminsettings select.availableobject').change(function() {                
                var Object = $(this).val();
                
                if(Object === '--None--')
                {
                    $( '#adminsettings .availableobject-settings' ).hide();
                    $('#adminsettings .buttons-create').hide();
                }
                else
                {                    
                    //show loading
                    $('.availableobject-settings .combobox').next().prepend("<div class='loadmask'></div>").find('input').val('Loading...');

                    //Populate available fields
                    var processData = {
                        ajaxResource : 'MATerritoryAJAXResources',
                        action: 'getCollectionFields',
                        baseObject	: $('#BottomTabs-2').is(':visible') == true ? $('#adminsettings select:last.availableobject').val() : $('#adminsettings select:first.availableobject').val()
                    };
                    
                    Visualforce.remoting.Manager.invokeAction(MARemoting.processAJAXRequest,
                        processData,
                        function(response, event){
                            if(event.status) {
    		                	//Remove needs update
                                if($('#adminsettings select:last.availableobject').attr('data-update') == 'true')
                                {
                                	$('#adminsettings select:last.availableobject').removeAttr('data-update');
                                }
    		                	
    		                	//set var to focused window
                                var $manualfield;
                                var $territoryfield;
                                if($('#BottomTabs-1').is(':visible') == true)
                                {
                                	$manualfield = $("select.manualfield");
                                	$territoryfield = $("select.territoryfield");
                                	$('#BottomTabs-2 .baseobject').val('option:first').next().find('input').val($('#BottomTabs-2 .baseobject option:selected').text());
    			                	$('#BottomTabs-3 .deletebaseobject').val('option:first').next().find('input').val($('#BottomTabs-3 .deletebaseobject option:selected').text());
    			                	$('#adminsettings .baseobject-settings').hide();
    			                	$('#adminsettings .buttons-edit').hide();
    			                	$('#BottomTabs-3 .buttons-delete').hide();
                                }
                                else if($('#BottomTabs-2').is(':visible') == true)
                                {
                                	$manualfield = $("select.editmanualfield");
                                	$territoryfield = $("select.editterritoryfield");
                                }
                                
                                //populate manual fields
                                $manualfield.find('option').remove();
                                $('<option></option>').attr('value', '').text('Loading...').appendTo($manualfield); 
                                if(response.data.fieldoptions.length != 0)
                                {                     
    	                            $.each(response.data.fieldoptions, function (i, record) 
    	                            {
    	                                $('<option></option>').attr('value', record.itemValue).text(record.itemLabel).appendTo($manualfield); 
    	                            });
    	                        }
    	                        else
    	                        {
    	                        	$('<option></option>').attr('value', 'none').text('--None--').appendTo($manualfield);
    	                        }
                                $manualfield.removeAttr('disabled').find('option:first-child').remove();
                                $manualfield.each(function(i, obj) {                          
                                    $(this).next().find('.ui-autocomplete-input').val($(this).find('option:selected').text());                            
                                });
                                $manualfield.combobox();
                                
                                //populate territory fields
                                $territoryfield.find('option').remove();
                                $('<option></option>').attr('value', '').text('Loading...').appendTo($territoryfield);
                                if(response.data.territoryoptions.length != 0)
                                {
    	                            $.each(response.data.territoryoptions, function (i, territory) 
    	                            {
    	                            	$('<option></option>').attr('value', territory.itemValue).text(territory.itemLabel).appendTo($territoryfield);
    	                            });
    	                        }
    	                        else
    	                        {
    	                        	$('<option></option>').attr('value', 'none').text('--None--').appendTo($territoryfield);
    	                        }
                                $territoryfield.removeAttr('disabled').find('option:first-child').remove();
                                $territoryfield.each(function(i, obj) {                          
                                    $(this).next().find('.ui-autocomplete-input').val($(this).find('option:selected').text());                            
                                });
                                $territoryfield.combobox();
                                
                                //hide loading
                                $('.availableobject-settings .combobox').next().find('input').closest('.ui-combobox').find('.loadmask').remove();
                                
                                //Update Fields if edit collection
    			                if($('#BottomTabs-2 .editterritoryfield').attr('data-update') == 'true')
    			                {
    			                	$('#BottomTabs-2 .editterritoryfield').removeAttr('data-update');
    			                	$('#BottomTabs-2 .editterritoryfield').val(collectionObject.TerritoryField__c).change().next().find('input').val($('#BottomTabs-2 .editterritoryfield option:selected').text());
    			                	$('#BottomTabs-2 .editmanualfield').val(collectionObject.ManuallyAssignedField__c).change().next().find('input').val($('#BottomTabs-2 .editmanualfield option:selected').text());
    			                }
    			                else
    			                {
    				                //show window
    				                $('#adminsettings .availableobject-settings').show();
    				                $('#adminsettings .buttons-create').show();
    				            }
                            }
                        },{buffer:false,escape:false}
                    );
                }
            });
            
            
            
            /* Handle edit Collection Base Object onchange event */
            $('#adminsettings select.baseobject').change(function() {
                //show loading
                $('.baseobject-settings .combobox').next().prepend("<div class='loadmask'></div>").find('input').val('Loading...');
                $('#adminsettings .editterritoryfield').attr('data-update', 'true');   
                var Object = $(this).val();
                if(Object === '--None--')
                {
                    $( '#adminsettings .baseobject-settings' ).hide();
                    $('#adminsettings .buttons-edit').hide();
                }
                else
                {
                    //Populate collection fields
                    var processData = {
                        ajaxResource : 'MATerritoryAJAXResources',
                        action: 'getExistingCollectionFields',
                        collectionId	: $('#BottomTabs-2 .baseobject').val()
                    };
                    
                    Visualforce.remoting.Manager.invokeAction(MARemoting.processAJAXRequest,
                        processData,
                        function(response, event){
                            if(event.status) {
    		                	collectionObject = response.data[0];
    		                	removeNamespace('{!namespace}', collectionObject);
    		                	
    		                	//Remove and Hide Other tab options
    		                	$('#BottomTabs-1 .availableobject').val('option:first').next().find('input').val($('#BottomTabs-1 .availableobject option:selected').text());
    		                	$('#BottomTabs-3 .deletebaseobject').val('option:first').next().find('input').val($('#BottomTabs-3 .deletebaseobject option:selected').text());
    		                	$('#adminsettings .availableobject-settings').hide();
    		                	$('#adminsettings .buttons-create').hide();
    		                	$('#BottomTabs-3 .buttons-delete').hide();
    		                	
    		                	$('#BottomTabs-2 .editname').val(collectionObject.Name);
    		                	
    		                	$('#BottomTabs-2 .availableobject').val(collectionObject.Object__c).change().next().find('input').val($('#BottomTabs-2 .availableobject option:selected').text());
                            	
                                 
                                //hide loading
                                $('.baseobject-settings .combobox').next().find('input').closest('.ui-combobox').find('.loadmask').remove();
                                
                                $('#adminsettings .buttons-edit').show();
                            }
                        },{buffer:false,escape:false}
                    );
                    
                    $( '#adminsettings .baseobject-settings' ).show();
                }
            });
            
            /* Handle delete Collection Base Object onchange event */
            $('#adminsettings select.deletebaseobject').change(function() {                
                var Object = $(this).val();
                if(Object === '--None--')
                {
                    $('#adminsettings .buttons-delete').hide();
                }
                else
                {
                    $('#adminsettings .buttons-delete').show();
                }
            });
            
            //Handle saving new Collection base Object
            $('#BottomTabs-1 .buttons-create').on('click', '.savebtn', function ()
            {
            	var collectionName = $('#BottomTabs-1 .createname').val();
           		var baseObject = $('#BottomTabs-1 .availableobject').val();
           		var territoryField = $('#BottomTabs-1 .territoryfield').val();
           		var manualField	= $('#BottomTabs-1 .manualfield').val();
            	if(collectionName == '' || baseObject == '' || territoryField == 'none' || manualField == 'none')
            	{
            		alert('Fields cannot be blank or "--None--"');
            	}
            	else
            	{
            		$('#adminsettings .buttons-create').hide();
            		var $loader = $('.ajaxload.template').clone().removeClass('template').appendTo($('#BottomTabs-1 > table'))
	                $loader.slideDown(
	                    200,
	                    function ()
	                    {
			                var processData = {
                                ajaxResource : 'MATerritoryAJAXResources',
                                action: 'saveCollection',
                                collectionName	: collectionName,
		                		baseObject		: baseObject,
		                		territoryField	: territoryField,
		                		manualField		: manualField
                            };
                            
                            Visualforce.remoting.Manager.invokeAction(MARemoting.processAJAXRequest,
                                processData,
                                function(response, event){
                                    if(event.status) {
					                	$('#BottomTabs-1 .availableobject').val('option:first').next().find('input').val($('#BottomTabs-1 .availableobject option:selected').text());
					                	$('#adminsettings .availableobject-settings').hide();
					                	FillBaseObjectComboBoxes();
					                	$('#adminsettings .create-message .success').fadeIn(400).delay(1000).fadeOut(200);
					                }
					                else
					                {
					                	$('#adminsettings .buttons-create .msgs').html('<b>Error Saving Collection</b>').show();
					                	$('#adminsettings .buttons-create').show();
					                }
                                },{buffer:false,escape:false}
				        	);
				        }
				    ).delay(500).fadeOut(300);
		        }
            });
            
            //Handle updating Collection base Object
            $('#BottomTabs-2 .buttons-edit').on('click', '.savebtn', function ()
            {
            	var collectionName = $('#BottomTabs-2 .editname').val();
           		var baseObject = $('#BottomTabs-2 .availableobject').val();
           		var territoryField = $('#BottomTabs-2 .editterritoryfield').val();
           		var manualField	= $('#BottomTabs-2 .editmanualfield').val();
            	if(collectionName == '' || baseObject == '' || territoryField == 'none' || manualField == 'none')
            	{
            		alert('Fields cannot be blank or "--None--"');
            	}
            	else
            	{
            		$('#adminsettings .buttons-edit').hide();
            		var $loader = $('.ajaxload.template').clone().removeClass('template').appendTo($('#BottomTabs-2 > table'))
	                $loader.slideDown(
	                    200,
	                    function ()
	                    {
				            var processData = {
                                ajaxResource : 'MATerritoryAJAXResources',
                                action: 'editCollection',
                                collectionId	: $('#BottomTabs-2 .baseobject').val(),
		                		collectionName	: collectionName,
		                		baseObject		: baseObject,
		                		territoryField	: territoryField,
		                		manualField		: manualField
                            };
                            
                            Visualforce.remoting.Manager.invokeAction(MARemoting.processAJAXRequest,
                                processData,
                                function(response, event){
                                    if(event.status) {
					                	$('#BottomTabs-2 .availableobject').val('option:first').next().find('input').val($('#BottomTabs-2 .availableobject option:selected').text());
					                	$('#adminsettings .baseobject-settings').hide();
					                	FillBaseObjectComboBoxes();
					                	$('#adminsettings .edit-message .success').fadeIn(400).delay(1000).fadeOut(200);
					                }
					                else
					                {
					                	$('#adminsettings .buttons-edit .msgs').html('<b>Error Saving Collection</b>').show();
					                	$('#adminsettings .buttons-edit').show();
					                }
				                },{buffer:false,escape:false}
				        	);
				        }
			        ).delay(500).fadeOut(300);
		        }
            });
                        
            //Handle Delete
            $('#adminsettings .buttons-delete .deletebtn').click(function () 
            {
            	var collectionName = $('#BottomTabs-3 .deletebaseobject option:selected').text();
				var r=confirm("WARNING\nYou are about to delete the object '"+collectionName+"', all related territory collections, and territory field updates.\nAre you sure?");
                if (r==true)
                {
                    //Just continue
                }
                else
                {
                    //Cancel
                    return;
                }
				var $loader = $('.ajaxload.template').clone().removeClass('template').appendTo($('#BottomTabs-3 > table'))
                $loader.slideDown(
                    200,
                    function ()
                    {
                    	$('#adminsettings .buttons-delete').hide();
		                var processData = {
                            ajaxResource : 'MATerritoryAJAXResources',
                            action: 'deleteCollectionObject',
                            collectionId	: $('#BottomTabs-3 .deletebaseobject').val()
                        };
                        
                        Visualforce.remoting.Manager.invokeAction(MARemoting.processAJAXRequest,
                            processData,
                            function(response, event){
                                if(event.status) {
				                	$('#BottomTabs-3 .deletebaseobject').val('option:first').next().find('input').val($('#BottomTabs-3 .deletebaseobject option:selected').text());
				                	FillBaseObjectComboBoxes();
				                	$('#adminsettings .delete-message .success').fadeIn(400).delay(1000).fadeOut(200);
				                }
				                else
				                {
				                	$('#adminsettings .buttons-delete .msgs').html('<b>Error Deleting Collection</b>').show();
				                	$('#adminsettings .buttons-delete').show();
				                }
			                },{buffer:false,escape:false}
			        	);
			        }
			    ).delay(500).fadeOut(300);
            });                  
        });
        
        function FillBaseObjectComboBoxes()
        {
            //Clear options and set first child Loading indicator
            var $availableobject = $('select.availableobject');
            $availableobject.find('option:first-child').text('Loading...');
            $availableobject.find('option:not(:first-child)').remove();            
            var $baseobject = $('select[data="baseobject"]');
            $baseobject.find('option:first-child').text('Loading...');
            $baseobject.find('option:not(:first-child)').remove(); 
                  
            //Get Base Object for comboboxes
            var processData = {
                ajaxResource : 'MATerritoryAJAXResources',
                action: 'getRollupObject',
            };
            
            Visualforce.remoting.Manager.invokeAction(MARemoting.processAJAXRequest,
                processData,
                function(response, event){
                    if(event.status) {
                        $.each(response.data, function (i, record) 
                        {
                                $('<option></option>').attr('value', record.itemValue).text(record.itemLabel).appendTo($availableobject);                
                        }); 
                        $availableobject.removeAttr('disabled').find('option:first-child').text('--None--').attr('selected',true);
                        $availableobject.each(function(i, obj) {                          
                            $(this).next().find('.ui-autocomplete-input').val($(this).find('option:selected').text());                            
                        });
                        $availableobject.combobox();    
                    }
                    else
                    {
                        $('#adminsettings .buttons-create .msgs').html('<b>Error retrieving Base Object list</b>: Please try again').show();
                    }
                },{buffer:false,escape:false}
            );
            
            //Get Existing Collection Objects
            var processData = {
                ajaxResource : 'MATerritoryAJAXResources',
                action: 'getCollectionObject',
            };
            
            Visualforce.remoting.Manager.invokeAction(MARemoting.processAJAXRequest,
                processData,
                function(response, event){
                    if(event.status) {
                    	$.each(response.data, function(index, record)
                    	{
                    		$('<option></option>').attr('value', record.Id).text(record.Name).appendTo($baseobject);
                    	});
                        $baseobject.removeAttr('disabled').find('option:first-child').text('--None--').attr('selected',true);
                        $baseobject.each(function(i, obj) {                          
                            $(this).next().find('.ui-autocomplete-input').val($(this).find('option:selected').text());                            
                        });
                        $baseobject.combobox();
    		        }
                },{buffer:false,escape:false}
		    );
		}
        
        function HideAll()
        {
            //Hide Tabs and Buttons
            $('.availableobject-settings').hide();
            $('.baseobject-settings').hide();
            $('.buttons-create').hide();
            $('.buttons-edit').hide();
            $('.buttons-delete').hide();            
           
            //Hide error messages
            $('#adminsettings .buttons-create .msgs').hide();
            $('#adminsettings .buttons-edit .msgs').hide();
            $('#adminsettings .buttons-delete .msgs').hide();
            
            ClearAll();
        }
        
        function ClearAll()
        {
            //Clear Name fields
            $('#adminsettings input.createname').val('');
            $('#adminsettings input.editname').val('');
            
            //Clear Read-Only Base Object
            $("span.readonlybaseobject").html('');
        }
    </script>
    <div class="flex-column full-height">
        <!-- Header -->
        <div class="slds-scope">
            <div class="slds-page-header">
              <div class="slds-grid">
                <div class="slds-col slds-has-flexi-truncate">
                  <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__figure ma-slds-media__figure">
                      <span class="slds-icon ma-icon ma-icon-mapanything"></span>
                    </div>
                    <div class="slds-media__body">
                      <p class="slds-text-title--caps slds-line-height--reset">MapAnything</p>
                      <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">Configuration</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="flex-row flex-grow-1">
            <div class="flex-shrink-0">
                <!--navigation-->
                <c:MAAdminHeader />
            </div>
            <div class="flex-grow-1">
                <!-- Error State -->
                <div id='adminsettings-error'>
                
                    <!-- Title -->
                    <h2>{!$Label.MA_Error}</h2>
                    <h3>{!$Label.MA_EQ_Error_Message}</h3>
                
                    <!-- Message -->
                    <div></div>        
                </div>
                <!-- Non-Error State -->
                <div id='adminsettings'>
                    <div class="BottomTabs">
                        <ul>
                            <li><a href="#BottomTabs-1">{!$Label.MA_Create_New}</a></li>
                            <li><a href="#BottomTabs-2">{!$Label.MA_Edit_Existing}</a></li>
                            <li><a href="#BottomTabs-3">{!$Label.MA_Remove_Existing}</a></li>
                        </ul>
                        <div id="BottomTabs-1">              
                            <table style="width:100%;" cellpadding="5">
                                <tr>
                                    <td style="vertical-align:top;">
                                    	<table style='margin-bottom: 10px'>
                                    		<tr>
                                            	<th>{!$Label.MA_Select_initial_Base}:</th>
                                            </tr>
                                    	</table>
                                        <table cellpadding="5" cellspacing="0">
                                            <tr>
                                                <td style="white-space: nowrap"><b>{!$Label.MA_Base_Object}</b></td>
                                                <td>
                                                    <select class='availableobject' data='availableobject' disabled='disabled'><option value=''>{!$Label.MA_Loading}...</option></select>
                                                </td>
                                                <td class='create-message'>
            				                    	<img style='display:none;' class='success' src="{!URLFOR($Resource.MapAnything, 'images/check-22.png')}" />
            				                	</td>
                                            </tr>
                                         </table>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td style="vertical-align:top;">
                                          <div class='availableobject-settings'>        
                                              <div class="gray box section newbaseobjectdetails">
                                                  <div class="section-header">{!$Label.MA_Collection_Base_Object_Details}</div>
                                                  <div class="section-body box">
                                                      <table style="width:100%" cellpadding="5" cellspacing="0">
                                                          <tr>
                                                              <td style="width:10%">
                                                                  <b>{!$Label.MATerritoryBuilder_Label}</b>
                                                              </td>
                                                              <td style="width:40%">                                                      
                                                                  <input type='text' class='createname' style='width: 200px;' />                       
                                                              </td>
                                                              <td style="width:13%"> 
                                                                  <b>{!$Label.MA_Manually_Assigned_Field}</b>                                                    
                                                              </td>
                                                              <td style="width:40%">                                                       
                                                                  <select id="manualfield" class='manualfield combobox' disabled='disabled'><option value=''>{!$Label.MA_Loading}...</option></select>                      
                                                              </td>
                                                          </tr>
                                                          <tr>
                                                          	  <td>
                                                          	  	  <b>{!$Label.MA_Territory_Field}</b>    
                                                          	  </td>
                                                          	  <td>
            													  <select id="territoryfield" class='territoryfield combobox' disabled='disabled'><option value=''>{!$Label.MA_Loading}...</option></select>
                                                          	  </td>
                                                          </tr>
                                                      </table>
                                                  </div>
                                              </div>                             
                                          </div>
                                      </td>
                                  </tr>
                              </table>
                            
                            <!-- Buttons  -->
                            <div class='buttons-create' style='display:none;'>
                                <input type='button' class='savebtn btn btn-blue' value='Save' />          
                                <span class='msgs' style='color: red; font-size: 10px; display: none;'></span>
                            </div>
                        </div>
                        <div id="BottomTabs-2">
                            <table style="width:100%;" cellpadding="5">
                                <tr>
                                    <td style="vertical-align:top;">
                                        <table cellpadding="5" cellspacing="0">
                                            <tr>
                                                <td style="white-space: nowrap"><b>{!$Label.MA_Collection_Base_Object}</b></td>
                                                <td>
                                                    <select class='baseobject' data='baseobject' disabled='disabled'><option value=''>{!$Label.MA_Loading}...</option></select>
                                                </td>
                                                <td class='edit-message'>
            				                    	<img style='display:none;' class='success' src="{!URLFOR($Resource.MapAnything, 'images/check-22.png')}" />
            				                	</td>
                                            </tr>                                
                                         </table>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td style="vertical-align:top;">
                                          <div class='baseobject-settings'>        
                                              <div class="gray box section editbaseobjectdetails">
                                                  <div class="section-header">{!$Label.MA_Collection_Base_Object_Details}</div>
                                                  <div class="section-body box">
                                                      <table style="width:100%" cellpadding="5" cellspacing="0">
                                                          <tr>
                                                              <td style="width:10%">
                                                                  <b>{!$Label.MATerritoryBuilder_Label}</b>
                                                              </td>
                                                              <td style="width:40%">                                                      
                                                                  <input type='text' class='editname' style='width: 200px;' />                       
                                                              </td>
                                                              <td style="width:10%"> 
                                                                  <b>{!$Label.MA_Base_Object}</b>                                                    
                                                              </td>
                                                              <td style="width:40%">                                                       
                                                                  <select id='baseobject' class='availableobject combobox' disabled='disabled'><option value=''>{!$Label.MA_Loading}...</option></select>                      
                                                              </td>                                                  
                                                          </tr>
                                                          <tr>
                                                              <td style="width:10%"> 
                                                                  <b>{!$Label.MA_Manually_Assigned_Field}</b>                                                    
                                                              </td>
                                                              <td style="width:40%">                                                       
                                                                  <select id='editmanualfield' class='editmanualfield combobox' disabled='disabled'><option value=''>{!$Label.MA_Loading}...</option></select>                      
                                                              </td>
                                                              <td style="width:10%"> 
                                                                  <b>{!$Label.MA_Territory_Field}</b>                                                    
                                                              </td>
                                                              <td style="width:40%">                                                       
                                                                  <select id='editterritoryfield' class='editterritoryfield combobox' disabled='disabled'><option value=''>{!$Label.MA_Loading}...</option></select>                      
                                                              </td>
                                                          </tr>
                                                      </table>
                                                  </div>
                                              </div>
                                          </div>
                                      </td>
                                  </tr>
                            </table>
                            
            
                            
                            <!-- Buttons  -->
                            <div class='buttons-edit' style='display:none;'>
                                <input type='button' class='savebtn btn btn-blue' value='Save' />
                                <span class='msgs' style='color: red; font-size: 10px; display: none;'></span>
                            </div>
                        </div>
                        <div id="BottomTabs-3">
                            <table style="width:100%;" cellpadding="5">
                                <tr>
                                    <td style="vertical-align:top;">
                                        <table cellpadding="5" cellspacing="0">
                                            <tr>
                                                <td style="white-space: nowrap"><b>{!$Label.MA_Collection_Base_Object}</b></td>
                                                <td>
                                                    <select class='deletebaseobject' data='baseobject' disabled='disabled'><option value=''>{!$Label.MA_Loading}...</option></select>
                                                </td>
                                            	<td class='delete-message'>
            				                    	<img style='display:none;' class='success' src="{!URLFOR($Resource.MapAnything, 'images/check-22.png')}" />
            				                	</td>
            				                </tr>
                                         </table>
                                      </td>
                                  </tr>
                            </table>
                              
                            <!-- Buttons  -->
                            <div class='buttons-delete' style='display:none;'>
                                <input type='button' class='deletebtn btn btn-blue' value='Delete' />
                                <span class='msgs' style='color: red; font-size: 10px; display: none;'></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="dialog-SQTree" title="Saved Queries" style="display:none;" >
        <div id="SQTree" style="padding-top:3px;width:95%;height:auto;"></div>
    </div>
    
    <!-- Create Fields Popup -->
    <div id='dialog-createfields' style='display: none;'>
    	
    	<!-- Header -->
    	<h2>{!$Label.MA_Create_Fields}</h2>
    	
    	<!-- Spacer -->
    	<div style='height: 10px;'>&nbsp;</div>
    	
    	<!-- Field Table -->
    	<div id='dialog-createfields-table-wrapper' class='loadmask-wrapper'>
    		<table id='dialog-createfields-table' class='grid-blue'>
    			<tr>
    				<th>{!$Label.MA_Field}</th>
    				<th style='text-align: center;'><span class='link selectall'>{!$Label.MA_All}</span> | <span class='link selectnone'>{!$Label.MA_None}</span></th>
    			</tr>
    		</table>
    	</div>
    	
    </div>
    
    <!-- Templates -->
    <div id='templates' style='display: none;'>
    	
    	<!-- ajax load template -->
        <div class="ajaxload template" style="display: none;">
            <table>
                <tr> 
                    <td colspan="5"><img src="{!URLFOR($Resource.QueryEditor, 'images/icons/ajax-loader.gif')}" /></td>
                </tr>
            </table>
        </div>
    	
    </div>

</apex:page>