<apex:page controller="sma.ClickToCreateForm" showHeader="false" sidebar="false"  showChat="false">

    <apex:variable var="RequestPlatform" value="{!IF($CurrentPage.parameters.platform == null || $CurrentPage.parameters.platform == 'null', 'tablet', LOWER($CurrentPage.parameters.platform))}" />

    <style>

        .ClickToCreateFormTable td {
            padding: 5px;
        }

        .fieldInput[data-type="multipicklist"] .slds-select_container:after, .fieldInput[data-type="multipicklist"] .slds-select_container:before {
            content: none;
        }

        .ClickToCreateFormTable .slds-form-element__control[data-type="picklist"]:after, .ClickToCreateFormTable .OwnerId.slds-input:after {
            /* content: "\e188"; */
            top: 21px;
        }

        .ClickToCreateFormTable a.OwnerId.slds-input {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .ClickToCreateFormTable a.OwnerId.slds-input:after { 
            content: none;
        }

    </style>

    <apex:form >

        <!--<table class="ClickToCreateFormTable fieldSetTable">-->
        <!--    <apex:repeat value="{!fields}" var="f">-->
        <!--        <apex:outputPanel rendered="{! IF(RequestPlatform == 'tablet' && f.Type == 'reference', false, true)}" layout="none">-->
        <!--            <apex:outputPanel layout="none" rendered="{!f.Type == 'date'}">-->
        <!--                <tr>-->
        <!--                    <td class="fieldLabel dateLabel"><b>{!f.Label}<apex:outputText value="*" rendered="{!f.Required || f.DBRequired}"/></b></td>-->

        <!--                    <td class="field::{!f.fieldPath}  fieldInput" data-type="{!f.Type}" data-field="{!f.fieldPath}">-->
        <!--                        <apex:inputField value="{!obj[f.fieldPath]}" styleClass="get-input {!f.fieldPath} datePick" />-->
        <!--                    </td>-->
        <!--                </tr>-->
        <!--            </apex:outputPanel>-->
        <!--            <apex:outputPanel layout="none" rendered="{!f.Type != 'date'}">-->
        <!--                <tr>-->
        <!--                    <td class="fieldLabel type-{!f.Type}"><b>{!f.Label}<apex:outputText value="*" rendered="{!f.Required || f.DBRequired}"/></b></td>-->

        <!--                    <td class="field::{!f.fieldPath} fieldInput" data-type="{!f.Type}" data-field="{!f.fieldPath}">-->
        <!--                        <apex:inputField value="{!obj[f.fieldPath]}" styleClass="get-input {!f.fieldPath}" />-->
        <!--                    </td>-->
        <!--                </tr>-->
        <!--            </apex:outputPanel>-->
        <!--        </apex:outputPanel>-->

        <!--    </apex:repeat>-->
        <!--    <tr>-->
        <!--        <td colspan="2"><span style="font-size:10px;">*= Required</span></td>-->
        <!--    </tr>-->
        <!--    <tr>-->
        <!--        <td colspan="2"><span style="font-size:10px;">+= Auto populated from Data Layer settings</span></td>-->
        <!--    </tr>-->

        <!--</table>-->

        <div class="ClickToCreateFormTable fieldSetTable">

            <apex:repeat value="{!fields}" var="f">
                <apex:outputPanel rendered="{! IF(RequestPlatform == 'tablet' && f.Type == 'reference', false, true)}" layout="none">
                    <apex:outputPanel layout="none" rendered="{!f.Type == 'date'}">
                        <div class="slds-form-element slds-m-top_x-small">
                            <label class="fieldLabel dateLabel slds-form-element__label">{!f.Label}
                                <apex:outputText value="*" rendered="{!f.Required || f.DBRequired}"/>
                                <apex:outputText value="@" rendered="{!arcgisMapped[f.fieldPath]}"/>
                            </label>

                            <div class="field::{!f.fieldPath} fieldInput slds-form-element__control" data-type="{!f.Type}" data-field="{!f.fieldPath}">
                                <div>
                                    <apex:inputField value="{!obj[f.fieldPath]}" styleClass="get-input {!f.fieldPath} datePick" rendered="{!!locked[f.fieldPath]}" />
                                    <apex:inputField value="{!obj[f.fieldPath]}" styleClass="get-input {!f.fieldPath} datePick" rendered="{!locked[f.fieldPath]}" html-disabled="disabled" />
                                </div>
                            </div>
                        </div>
                    </apex:outputPanel>
                    <apex:outputPanel layout="none" rendered="{!f.Type == 'boolean'}">
                        <div class="slds-form-element slds-m-top_x-small">
                            <label class="fieldLabel type-{!f.Type} slds-form-element__label">
                                <apex:outputText rendered="{!f.Required || f.DBRequired}">
                                    <abbr class='slds-required' title='required'>*</abbr>
                                </apex:outputText>
                                <apex:outputText value="@" rendered="{!arcgisMapped[f.fieldPath]}"/>
                                {!f.Label}
                            </label>

                            <div class="field::{!f.fieldPath} fieldInput slds-form-element__control" data-type="{!f.Type}" data-field="{!f.fieldPath}">
                                <div>
                                    <apex:inputField value="{!obj[f.fieldPath]}" styleClass="get-input {!f.fieldPath}" rendered="{!!locked[f.fieldPath]}" />
                                    <apex:inputField value="{!obj[f.fieldPath]}" styleClass="get-input {!f.fieldPath}" rendered="{!locked[f.fieldPath]}" html-disabled="disabled" />
                                </div>
                            </div>
                        </div>
                    </apex:outputPanel>
                    <apex:outputPanel layout="none" rendered="{!f.Type != 'date' && f.Type != 'boolean'}">
                        <div class="slds-form-element slds-m-top_x-small">
                            <label class="fieldLabel type-{!f.Type} slds-form-element__label">
                                <apex:outputText rendered="{!f.Required || f.DBRequired}">
                                    <abbr class='slds-required' title='required'>*</abbr>
                                </apex:outputText>
                                <apex:outputText value="@" rendered="{!arcgisMapped[f.fieldPath]}"/>
                                {!f.Label}
                            </label>

                            <div class="field::{!f.fieldPath} fieldInput slds-form-element__control" data-type="{!f.Type}" data-field="{!f.fieldPath}">
                                <div>
                                    <apex:inputField value="{!obj[f.fieldPath]}" styleClass="get-input {!f.fieldPath} slds-input" rendered="{!!locked[f.fieldPath]}" />
                                </div>
                                <apex:outputPanel rendered="{!locked[f.fieldPath]}">
                                    <div class="slds-form-element--has-hover-tooltip">
                                        <apex:inputField value="{!obj[f.fieldPath]}" styleClass="get-input {!f.fieldPath} slds-input" html-disabled="disabled" />
                                        <div class="slds-popover slds-popover--tooltip slds-nubbin--top-left" role="tooltip" aria-live="polite">
                                            <div class="slds-popover__body slds-text-longform">
                                                <p>Your administrator has predetermined these fields for you.</p>
                                            </div>
                                        </div>
                                    </div>
                                </apex:outputPanel>
                            </div>
                        </div>
                    </apex:outputPanel>

                </apex:outputPanel>

            </apex:repeat>
            <div>
                <div colspan="2"><span style="font-size:10px;">*= Required</span></div>
            </div>
            <div style="display:{!IF($CurrentPage.parameters.arcgisFieldMappings == null, 'none', 'block')}">
                <div colspan="2"><span style="font-size:10px;">@= ArcGIS fields</span></div>
            </div>
            <div>
                <div colspan="2"><span style="font-size:10px;">+= Auto populated from Data Layer settings</span></div>
            </div>

        </div>
        <!----
        <apex:pageBlock >
            <apex:pageBlockSection title="{!fieldSetLabel}" columns="1" collapsible="false">
                <apex:repeat value="{!fields}" var="f">
                    <apex:inputField value="{!obj[f.fieldPath]}" styleClass="field::{!f.fieldPath}" />
                </apex:repeat>
            </apex:pageBlockSection>
        </apex:pageBlock>
        ---->

        <script>
        try {
            $(function () {
                try {
                    setTimeout(function() {
                        picklist.initialized = false;
                        picklist.initAll();
                        $('.fieldSetTable select').addClass('slds-input slds-select');
                        $('.fieldSetTable select').parent('div').addClass('slds-select_container');
                        $('.lookupInput input').addClass('slds-input');

                    }, 500);

                }
                catch(e) {
                    console.log(e);
                }

                //rich text stuff
                try {
                    setTimeout(function() {
                        if(typeof CKEDITOR != 'undefined') {
                            var richTextInstances = CKEDITOR.instances || {};
                            for(var key in richTextInstances) {
                                var richTextObj = richTextInstances[key];

                                if(!richTextObj.readOnly) {
                                    //let's show the text field
                                    var element = richTextObj.element.$;
                                    $(element).addClass('get-input');
                                    if($( "[id*='"+richTextObj.name+"']" ).length == 1) {
                                        $(element).show();
                                        $(element).css({'height':'100px','visibility':'visible','width':'200px'});
                                    }
                                }
                            }
                        }
                    },500);
                }
                catch(e) {
                    console.log('richText',e)
                }

                try {
                    var RequestPlatform='{!RequestPlatform}';
                }
                catch(e) {
                    console.log('ar',e);
                }
            });
        }
        catch(e) {

        }
    </script>

    </apex:form>

</apex:page>