<apex:page showheader="false" sidebar="false">
    <apex:slds />
    <apex:outputPanel layout="none" rendered="true">
        <div>This page has been deprecated, please contact your admin.</div>
    </apex:outputPanel>
    <apex:outputPanel layout="none" rendered="false">
        <button onclick="navigateToSObjectTest('001A000001NU6pt');"> Navigate to Account - 22 Park Court</button>

        <div id="mapDiv"></div>

        <style>
            #mapDiv {
                width: 100%;
                height: 100vh;
            }
        </style>
        <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?client=gme-cloudbiltinc&libraries=places,visualization,drawing,geometry'></script>
        <script type='text/javascript' src="{!URLFOR($Resource.MAPhone, '/s1Mobile/js/vendor/jquery-2.2.1.min.js')}"></script>
        <script>
            var testMap;
            function navigateToSObjectTest(recordId) {
                if(typeof sforce != 'undefined' && sforce.one) {
                    sforce.one.navigateToSObject(recordId);
                } else {
                    //not salesforce 1
                    if(!window.open('/'+recordId+'','_blank')) {
                        window.open('/'+recordId+'','_top')
                    } else {
                        MAToastMessages.showWarning({message: 'Unable to open record info.'})
                    }
                }
            }

            // create map to test on page ready
            $(function() {
                testMap = new google.maps.Map(document.getElementById('mapDiv'), {
                    center: { lat: 36.98500309285596, lng: -97.8662109375},
                    zoom: 5,
                    mapTypeControl: false,
                    scaleControl: false,
                    panControl: false,
                    zoomControl: false,
                    rotateControl : false,
                    keyboardShortcuts : false,
                    gestureHandling : 'greedy',
                    streetViewControl: false
                });

                //remove standard POI functionality
                testMap.setOptions({
                    styles: [
                        { featureType: 'poi', elementType: 'labels', stylers: [{ visibility: 'off' }] },
                        { featureType: 'transit', elementType: 'labels', stylers: [{ visibility: 'off' }] },
                        { featureType: 'landscape', elementType: 'labels', stylers: [{ visibility: 'off' }] }
                    ]
                });
            });
        </script>
    </apex:outputPanel>
</apex:page>